
<ul class="profile-page__menu">
  <li class="active"><a href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-user"></use>
        </svg></span><span class="text">My Profile</span></a></li>
  <li><a href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-photos"></use>
        </svg></span><span class="text">Photos</span></a></li>
  <li><a href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-play"></use>
        </svg></span><span class="text">Videos</span></a></li>
  <li><a href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-pin"></use>
        </svg></span><span class="text">Travelplan</span></a></li>
  <li><a href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-ads"></use>
        </svg></span><span class="text">Advertising</span></a></li>
  <li><a href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-check-in-circle"></use>
        </svg></span><span class="text">Profile Verification</span></a></li>
  <li><a href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-logout"></use>
        </svg></span><span class="text">Log out</span></a></li>
</ul>