
<div class="banners">
  <div class="container">
    <div class="banners-slider">
      <div class="banner-slide">
        <div class="banner-slide__content"><img src="img/banner-1.png" alt=""/></div>
      </div>
      <div class="banner-slide">
        <div class="banner-slide__content"><img src="img/banner-2.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>