
<div class="footer text-color-white">
  <div class="footer-container d-flex justify-space-between">
    <div class="footer__left"><a class="logo mb-2 hidden-mobile" href="#"><img src="img/logo.svg" alt="ShemaleCanada"/></a>
      <div class="copyright font-500 mb-2">ShemaleCanada.com © 2004 - 2021</div>
      <p class="footer__text mb-3">
        ShemaleCanada is the premier worldwide transsexual dating site which specifically
        caters to transsexuals, shemales, transvestites, crossdressers, ladyboys and
        their admirers who are candidly looking for sex & fun or love and romance.
      </p>
      <ul class="social d-flex mb-2">
        <li class="mr-1"><a href="#"><img src="img/social/fb.svg" alt=""/></a></li>
        <li class="mr-1"><a href="#"><img src="img/social/twitter.svg" alt=""/></a></li>
        <li class="mr-1"><a href="#"><img src="img/social/whatsapp.svg" alt=""/></a></li>
      </ul>
      <p class="footer__text">18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement</p>
    </div>
    <div class="footer__right d-flex">
      <div class="footer__item">
        <div class="h3 text-color-white font-700">Account & Services</div>
        <ul class="footer__menu">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Advertise</a></li>
          <li><a href="#">Report</a></li>
          <li><a href="#">Trafficking</a></li>
        </ul>
      </div>
      <div class="footer__item">
        <div class="h3 text-color-white font-700">Our Network</div>
        <ul class="footer__menu">
          <li><a href="#">TS-Dating.com</a></li>
          <li><a href="#">Londonts.com</a></li>
          <li><a href="#">Niamodel.com</a></li>
          <li><a href="#">Riorelax.com.br</a></li>
          <li><a href="#">Bonecasrelax.com</a></li>
          <li><a href="#">Tgirlforums.com</a></li>
          <li><a href="#">Transexinfo.com</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-logo for-mobile"><a class="logo mb-2" href="#"><img src="img/logo.svg" alt="ShemaleCanada"/></a></div>
  </div>
  <div class="svg-sprite"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<symbol viewBox="0 0 24 24" fill="none" id="svg-search">
<path d="M23.2302 19.5022L20.7202 16.9922C20.564 16.836 20.3607 16.75 20.1478 16.75C19.8898 16.75 19.651 16.8745 19.4929 17.0915C18.8218 18.0124 18.0146 18.8195 17.0936 19.4907C16.8962 19.6346 16.7725 19.8512 16.7543 20.0849C16.7363 20.3167 16.8236 20.5475 16.9942 20.7181L19.5042 23.228C20.0019 23.7258 20.6638 23.9999 21.3676 23.9999C22.0717 23.9999 22.7331 23.7258 23.2302 23.2278C24.2575 22.2009 24.2575 20.5295 23.2302 19.5022Z" fill="#E4062E"/>
<path d="M10.4549 20.9059C16.2186 20.9059 20.9078 16.2167 20.9078 10.4529C20.9078 4.68915 16.2186 0 10.4549 0C4.6911 0 0.00195312 4.68915 0.00195312 10.4529C0.00195312 16.2167 4.6911 20.9059 10.4549 20.9059ZM10.4549 3.13749C14.4886 3.13749 17.7703 6.41912 17.7703 10.4529C17.7703 14.4868 14.4887 17.7684 10.4549 17.7684C6.42107 17.7684 3.13944 14.4868 3.13944 10.4529C3.13944 6.41912 6.42119 3.13749 10.4549 3.13749Z" fill="white"/>
</symbol>
<symbol viewBox="0 0 24 24" fill="none" id="svg-close">
<path d="M23.13 21.4152L2.58538 0.870536C2.10458 0.389739 1.3311 0.383743 0.857701 0.857143C0.384301 1.33054 0.390297 2.10402 0.871094 2.58482L21.4157 23.1295C21.8965 23.6103 22.67 23.6163 23.1434 23.1429C23.6168 22.6695 23.6108 21.896 23.13 21.4152Z" fill="currentColor"/>
<path d="M21.4152 0.870589L0.870536 21.4152C0.389739 21.896 0.383743 22.6695 0.857143 23.1429C1.33054 23.6163 2.10402 23.6103 2.58482 23.1295L23.1295 2.58487C23.6103 2.10408 23.6163 1.3306 23.1429 0.857197C22.6695 0.383797 21.896 0.389793 21.4152 0.870589Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-pin">
<path d="M7.9997 3.43945C6.36182 3.43945 5.0293 4.77198 5.0293 6.40985C5.0293 8.04772 6.36182 9.38025 7.9997 9.38025C9.63757 9.38025 10.9701 8.04772 10.9701 6.40985C10.9701 4.77198 9.6376 3.43945 7.9997 3.43945ZM7.9997 8.12957C7.05145 8.12957 6.27998 7.3581 6.27998 6.40985C6.27998 5.4616 7.05145 4.69014 7.9997 4.69014C8.94794 4.69014 9.71941 5.4616 9.71941 6.40985C9.71941 7.3581 8.94794 8.12957 7.9997 8.12957Z" fill="currentColor"/>
<path d="M7.99969 0C4.46528 0 1.58984 2.87547 1.58984 6.40984V6.58703C1.58984 8.37453 2.61466 10.4575 4.63591 12.7781C6.10116 14.4603 7.54594 15.6333 7.60669 15.6824L7.99969 16L8.39269 15.6825C8.45347 15.6333 9.89825 14.4603 11.3635 12.7781C13.3847 10.4575 14.4095 8.37456 14.4095 6.58706V6.40987C14.4095 2.87547 11.5341 0 7.99969 0ZM13.1588 6.58706C13.1588 9.60784 9.26663 13.2646 7.99969 14.3746C6.73241 13.2642 2.84053 9.60763 2.84053 6.58706V6.40987C2.84053 3.56512 5.15494 1.25072 7.99969 1.25072C10.8444 1.25072 13.1588 3.56512 13.1588 6.40987V6.58706Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-check-in-circle">
<path d="M8 0C3.58872 0 0 3.58889 0 8C0 12.4111 3.58872 16 8 16C12.4113 16 16 12.4111 16 8C16 3.58889 12.4113 0 8 0ZM8 14.3715C4.48668 14.3715 1.6285 11.5133 1.6285 8C1.6285 4.48668 4.48668 1.6285 8 1.6285C11.5133 1.6285 14.3715 4.48668 14.3715 8C14.3715 11.5133 11.5133 14.3715 8 14.3715Z" fill="currentColor"/>
<path d="M12.5871 5.37844L11.5651 4.35623C11.4931 4.28425 11.3652 4.28425 11.2934 4.35623L6.45971 9.18994L4.70549 7.43588C4.63368 7.3639 4.506 7.3639 4.43386 7.43588L3.41181 8.45793C3.37566 8.49408 3.35547 8.54277 3.35547 8.59375C3.35547 8.64472 3.37566 8.69357 3.41181 8.72956L6.3239 11.6415C6.36135 11.6788 6.41037 11.6978 6.45971 11.6978C6.50873 11.6978 6.55807 11.6791 6.59553 11.6415L12.5871 5.64991C12.6233 5.61392 12.6436 5.56506 12.6436 5.51409C12.6436 5.46312 12.6233 5.41443 12.5871 5.37844Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-play">
<path d="M10.6393 7.68715L7.31692 5.27206C7.19499 5.18367 7.03313 5.17036 6.89949 5.23905C6.76479 5.3072 6.68066 5.44563 6.68066 5.59524V10.4238C6.68066 10.575 6.76479 10.7129 6.89949 10.7811C6.95646 10.8098 7.01876 10.8242 7.08158 10.8242C7.16358 10.8242 7.24664 10.7981 7.31692 10.7465L10.6393 8.33352C10.7442 8.25632 10.8054 8.13705 10.8054 8.01033C10.8059 7.88149 10.7431 7.76276 10.6393 7.68715Z" fill="currentColor"/>
<path d="M8.00027 0.0020752C3.58111 0.0020752 0 3.58319 0 8.00234C0 12.4199 3.58111 15.9999 8.00027 15.9999C12.4184 15.9999 16 12.4194 16 8.00234C16.0005 3.58319 12.4184 0.0020752 8.00027 0.0020752ZM8.00027 14.6651C4.32012 14.6651 1.33639 11.683 1.33639 8.00234C1.33639 4.32326 4.32012 1.3374 8.00027 1.3374C11.6799 1.3374 14.6631 4.32273 14.6631 8.00234C14.6636 11.683 11.6799 14.6651 8.00027 14.6651Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-webcam">
<path d="M14.7188 6.71875C14.7188 4.92409 14.0199 3.23688 12.7509 1.96788C11.4819 0.698875 9.79466 0 8 0C6.20534 0 4.51813 0.698875 3.24913 1.96788C1.98012 3.23688 1.28125 4.92409 1.28125 6.71875C1.28125 8.51341 1.98012 10.2006 3.24913 11.4696C3.73978 11.9603 4.29316 12.3653 4.89087 12.678C4.17869 13.4499 3.78125 14.4562 3.78125 15.5312V16H12.2188V15.5312C12.2188 14.4562 11.8213 13.4499 11.1091 12.678C11.7068 12.3653 12.2602 11.9603 12.7509 11.4697C14.0199 10.2006 14.7188 8.51341 14.7188 6.71875ZM11.2484 15.0625H4.75163C4.86028 14.2947 5.23494 13.5966 5.82116 13.0775C6.51328 13.314 7.24709 13.4375 8 13.4375C8.75291 13.4375 9.48672 13.314 10.1788 13.0775C10.7651 13.5967 11.1397 14.2947 11.2484 15.0625ZM8 12.5C4.81222 12.5 2.21875 9.90656 2.21875 6.71875C2.21875 3.53094 4.81222 0.9375 8 0.9375C11.1878 0.9375 13.7812 3.53094 13.7812 6.71875C13.7812 9.90656 11.1878 12.5 8 12.5Z" fill="currentColor"/>
<path d="M8 4.375C6.70766 4.375 5.65625 5.42641 5.65625 6.71875C5.65625 8.01109 6.70766 9.0625 8 9.0625C9.29234 9.0625 10.3438 8.01109 10.3438 6.71875C10.3438 5.42641 9.29234 4.375 8 4.375ZM8 8.125C7.22459 8.125 6.59375 7.49416 6.59375 6.71875C6.59375 5.94334 7.22459 5.3125 8 5.3125C8.77541 5.3125 9.40625 5.94334 9.40625 6.71875C9.40625 7.49416 8.77541 8.125 8 8.125Z" fill="currentColor"/>
<path d="M10.8125 4.53125C11.1577 4.53125 11.4375 4.25143 11.4375 3.90625C11.4375 3.56107 11.1577 3.28125 10.8125 3.28125C10.4673 3.28125 10.1875 3.56107 10.1875 3.90625C10.1875 4.25143 10.4673 4.53125 10.8125 4.53125Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 14 14" fill="none" id="svg-crown">
<path d="M14 3.60852C14 2.84172 13.371 2.21783 12.598 2.21783C11.8249 2.21783 11.1959 2.84172 11.1959 3.60852C11.1959 4.05296 11.4075 4.44913 11.7357 4.70387L9.09062 6.60608L7.58704 3.94882C8.04868 3.72099 8.36676 3.24835 8.36676 2.70308C8.36676 1.93628 7.73785 1.3125 6.96475 1.3125C6.19165 1.3125 5.56274 1.93628 5.56274 2.70308C5.56274 3.25497 5.88852 3.73274 6.35924 3.95726L4.97144 6.60907L2.25703 4.60913C2.58943 4.3546 2.80412 3.95587 2.80412 3.50812C2.80412 2.74132 2.17511 2.11743 1.40201 2.11743C0.629013 2.11743 0 2.74132 0 3.50812C0 4.1633 0.459396 4.71381 1.07538 4.86014L2.65373 10.8852V12.2834C2.65373 12.51 2.83734 12.6936 3.06389 12.6936H11.051C11.2775 12.6936 11.4612 12.51 11.4612 12.2834V10.8824L12.9287 4.95969C13.5426 4.81175 14 4.26231 14 3.60852ZM12.598 3.03815C12.9187 3.03815 13.1797 3.29396 13.1797 3.60841C13.1797 3.92297 12.9187 4.17879 12.598 4.17879C12.2771 4.17879 12.0162 3.92287 12.0162 3.60841C12.0162 3.29396 12.2771 3.03815 12.598 3.03815ZM6.96475 2.13281C7.28551 2.13281 7.54645 2.38863 7.54645 2.70308C7.54645 3.01614 7.28775 3.27089 6.96902 3.27324C6.96785 3.27313 6.96667 3.27313 6.9655 3.27313C6.96336 3.27313 6.96112 3.27313 6.95898 3.27313C6.64079 3.27014 6.38295 3.01572 6.38295 2.70308C6.38295 2.38863 6.64389 2.13281 6.96475 2.13281ZM0.820312 3.50812C0.820312 3.19356 1.08125 2.93774 1.40201 2.93774C1.72287 2.93774 1.98381 3.19356 1.98381 3.50812C1.98381 3.82257 1.72287 4.07838 1.40201 4.07838C1.08125 4.07838 0.820312 3.82257 0.820312 3.50812ZM3.47404 11.8733V11.2428L10.6409 11.2426V11.8733H3.47404ZM10.7301 10.4222L3.38058 10.4225L2.09286 5.50699L4.86975 7.55307C4.96609 7.6241 5.08871 7.64952 5.20525 7.6226C5.32188 7.59569 5.42101 7.5191 5.47644 7.41304L6.9796 4.54099L8.60196 7.40802C8.65932 7.50938 8.75705 7.58159 8.87091 7.60658C8.98466 7.63158 9.10376 7.60701 9.19839 7.53897L11.9315 5.57343L10.7301 10.4222Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 20 12" fill="none" id="svg-arrow-left">
<path d="M0.237663 5.4197L5.38367 0.23997C5.70154 -0.0799899 6.21135 -0.0799899 6.52922 0.23997C6.8471 0.55993 6.8471 1.07307 6.52922 1.39303L2.76268 5.18425H19.1903C19.6401 5.18425 20 5.54647 20 5.99924C20 6.45202 19.6401 6.81424 19.1903 6.81424H2.76268L6.52922 10.6055C6.8471 10.9254 6.8471 11.4386 6.52922 11.7585C6.37328 11.9155 6.16337 12 5.95944 12C5.75552 12 5.5456 11.9215 5.38967 11.7585L0.243658 6.57879C-0.0802155 6.2528 -0.0802135 5.73362 0.237663 5.4197Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 20 12" fill="none" id="svg-arrow-right">
<path d="M19.7623 5.4197L14.6163 0.23997C14.2985 -0.0799899 13.7887 -0.0799899 13.4708 0.23997C13.1529 0.55993 13.1529 1.07307 13.4708 1.39303L17.2373 5.18425H0.809686C0.35986 5.18425 0 5.54647 0 5.99924C0 6.45202 0.35986 6.81424 0.809686 6.81424H17.2373L13.4708 10.6055C13.1529 10.9254 13.1529 11.4386 13.4708 11.7585C13.6267 11.9155 13.8366 12 14.0406 12C14.2445 12 14.4544 11.9215 14.6103 11.7585L19.7563 6.57879C20.0802 6.2528 20.0802 5.73362 19.7623 5.4197Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 14 14" fill="none" id="svg-comments">
<path d="M13.9496 11.0514L13.1365 8.64731C13.5284 7.83333 13.7356 6.92807 13.7369 6.01722C13.7394 4.43345 13.1362 2.93597 12.0386 1.80064C10.9407 0.665085 9.47777 0.0258616 7.91917 0.000777088C6.30302 -0.0251685 4.78391 0.59936 3.64184 1.75958C2.5406 2.87832 1.92979 4.3532 1.91046 5.92927C0.825075 6.75947 0.184437 8.05384 0.186543 9.43637C0.187554 10.0833 0.330891 10.7265 0.602496 11.308L0.0424137 12.9639C-0.0538638 13.2485 0.0164644 13.5576 0.225973 13.7704C0.37341 13.9202 0.567797 14 0.767708 14C0.851817 14 0.936911 13.9859 1.0199 13.9569L2.64983 13.3879C3.22228 13.6638 3.85531 13.8095 4.49215 13.8105C4.49445 13.8105 4.49663 13.8105 4.49893 13.8105C5.88006 13.8104 7.16386 13.1428 7.97807 12.0131C8.82537 11.9905 9.66371 11.7821 10.4216 11.4054L12.788 12.2315C12.8866 12.2659 12.9878 12.2827 13.0877 12.2827C13.3253 12.2827 13.5563 12.1879 13.7315 12.0099C13.9804 11.757 14.064 11.3897 13.9496 11.0514ZM4.49888 12.9639C4.4971 12.9639 4.49521 12.9639 4.49343 12.9639C3.92977 12.963 3.37002 12.8219 2.87479 12.5557C2.77296 12.501 2.65342 12.4915 2.54453 12.5295L0.8732 13.113L1.4475 11.415C1.48491 11.3044 1.47561 11.183 1.42174 11.0795C1.15974 10.5764 1.02077 10.0078 1.0199 9.4351C1.0185 8.51397 1.37121 7.6409 1.98801 6.98715C2.18947 8.23488 2.77482 9.38465 3.68214 10.29C4.58277 11.1887 5.71485 11.7609 6.93636 11.948C6.29137 12.5938 5.42195 12.9639 4.49888 12.9639ZM13.1422 11.4112C13.1185 11.4353 13.0904 11.4419 13.0588 11.4308L10.5254 10.5465C10.4814 10.5311 10.4356 10.5235 10.39 10.5235C10.3228 10.5235 10.2558 10.54 10.1952 10.5726C9.47186 10.9614 8.6545 11.1675 7.8314 11.1688C7.82869 11.1688 7.82623 11.1688 7.82352 11.1688C5.06555 11.1688 2.78746 8.89277 2.74376 6.09156C2.72175 4.6808 3.24998 3.35493 4.2311 2.35819C5.21222 1.36145 6.51753 0.825009 7.90599 0.847232C10.666 0.891707 12.9079 3.21034 12.9036 6.01588C12.9023 6.85209 12.6994 7.68249 12.3168 8.41727C12.2629 8.52069 12.2536 8.64214 12.291 8.75279L13.1615 11.3265C13.1724 11.3587 13.1659 11.3872 13.1422 11.4112Z" fill="currentColor"/>
<path d="M10.306 3.76416H5.34147C5.11134 3.76416 4.9248 3.9537 4.9248 4.18746C4.9248 4.42125 5.11137 4.61075 5.34147 4.61075H10.306C10.5361 4.61075 10.7227 4.42122 10.7227 4.18746C10.7227 3.9537 10.5361 3.76416 10.306 3.76416Z" fill="currentColor"/>
<path d="M10.306 5.50513H5.34147C5.11134 5.50513 4.9248 5.69466 4.9248 5.92842C4.9248 6.16219 5.11137 6.35172 5.34147 6.35172H10.306C10.5361 6.35172 10.7227 6.16219 10.7227 5.92842C10.7227 5.69466 10.5361 5.50513 10.306 5.50513Z" fill="currentColor"/>
<path d="M8.39504 7.24585H5.34147C5.11134 7.24585 4.9248 7.43539 4.9248 7.66915C4.9248 7.90294 5.11137 8.09244 5.34147 8.09244H8.39501C8.62514 8.09244 8.81168 7.90291 8.81168 7.66915C8.81168 7.43539 8.62516 7.24585 8.39504 7.24585Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 40 40" fill="none" id="svg-thumb-up">
<path d="M37.9161 14.5048C36.8551 13.5632 35.5143 13.0442 34.1501 13.0442H32.8793H28.3088H26.1402V7.18945C26.1402 4.38884 25.3357 2.34874 23.7384 1.12952C21.2199 -0.777794 17.8038 0.296576 17.6522 0.344863C17.0692 0.538008 16.6728 1.0933 16.6728 1.72102V8.7829C16.6728 10.9316 15.6818 12.7544 13.7113 14.2151C12.219 15.3257 10.6916 15.8327 10.4934 15.8931L10.3535 15.9293C9.8288 15.3136 9.05928 14.9273 8.1965 14.9273H2.87985C1.29418 14.9273 0 16.2673 0 17.909V35.9681C0 37.6098 1.29418 38.9498 2.87985 38.9498H8.21981C8.91937 38.9498 9.57229 38.6842 10.062 38.2496C11.1346 39.3361 12.5921 40 14.1661 40H19.471H20.019H30.8738C32.5528 40 34.0335 39.5775 35.1645 38.7928C36.6102 37.7788 37.508 36.1733 37.7645 34.1211L39.9215 20.2388C40.2596 18.0901 39.4901 15.8931 37.9161 14.5048ZM8.30143 35.9681C8.30143 36.0164 8.26645 36.0526 8.21981 36.0526H2.87985C2.83321 36.0526 2.79823 36.0164 2.79823 35.9681V17.909C2.79823 17.8607 2.83321 17.8245 2.87985 17.8245H8.21981C8.26645 17.8245 8.30143 17.8607 8.30143 17.909V35.9681ZM37.1582 19.7922L35.0012 33.6986C35.0012 33.7107 35.0012 33.7349 34.9896 33.759C34.8963 34.5919 34.5932 37.1149 30.8738 37.1149H20.019H19.471H14.1661C12.6737 37.1149 11.3678 35.956 11.1346 34.4229C11.123 34.3626 11.1113 34.3022 11.0997 34.2539V18.7299L11.1813 18.7057C11.2046 18.7057 11.2163 18.6937 11.2396 18.6937C11.3212 18.6695 13.3033 18.0901 15.2737 16.6294C18.0136 14.6135 19.471 11.8974 19.471 8.7829V2.91611C20.2406 2.83161 21.3016 2.86782 22.0827 3.45933C22.9222 4.09912 23.3419 5.35457 23.3419 7.17738V14.4807C23.3419 15.2774 23.9715 15.9293 24.7411 15.9293H28.3088H32.8793H34.1501C34.8497 15.9293 35.5376 16.2069 36.0972 16.6898C36.9367 17.4382 37.3331 18.6212 37.1582 19.7922Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 80 80" fill="none" id="svg-play">
<g opacity="1">
<path d="M53.1944 38.4307L36.5826 26.3538C35.973 25.9118 35.1637 25.8453 34.4955 26.1887C33.822 26.5295 33.4014 27.2218 33.4014 27.9699V52.1158C33.4014 52.8719 33.822 53.5615 34.4955 53.9023C34.7804 54.0461 35.0918 54.118 35.406 54.118C35.8159 54.118 36.2312 53.9875 36.5826 53.7293L53.1944 41.663C53.7188 41.2769 54.025 40.6805 54.025 40.0469C54.0276 39.4025 53.7135 38.8088 53.1944 38.4307Z" fill="currentColor"/>
<path d="M40.0013 0C17.9056 0 0 17.9079 0 40.0067C0 62.0974 17.9056 80 40.0013 80C62.0918 80 80 62.0947 80 40.0067C80.0027 17.9079 62.0918 0 40.0013 0ZM40.0013 73.3251C21.6006 73.3251 6.68197 58.4125 6.68197 40.0067C6.68197 21.6088 21.6006 6.67754 40.0013 6.67754C58.3994 6.67754 73.3154 21.6062 73.3154 40.0067C73.318 58.4125 58.3994 73.3251 40.0013 73.3251Z" fill="currentColor"/>
</g>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-user">
<path d="M13.6569 2.34314C12.1459 0.832153 10.1368 0 8 0C5.86304 0 3.85413 0.832153 2.34314 2.34314C0.832153 3.85413 0 5.86304 0 8C0 10.1368 0.832153 12.1459 2.34314 13.6569C3.85413 15.1678 5.86304 16 8 16C10.1368 16 12.1459 15.1678 13.6569 13.6569C15.1678 12.1459 16 10.1368 16 8C16 5.86304 15.1678 3.85413 13.6569 2.34314ZM4.01062 13.8246C4.34521 11.8981 6.01465 10.4771 8 10.4771C9.98547 10.4771 11.6548 11.8981 11.9894 13.8246C10.8535 14.605 9.47925 15.0625 8 15.0625C6.52075 15.0625 5.14648 14.605 4.01062 13.8246ZM5.4563 6.99585C5.4563 5.59314 6.59741 4.45215 8 4.45215C9.40259 4.45215 10.5437 5.59326 10.5437 6.99585C10.5437 8.39844 9.40259 9.53955 8 9.53955C6.59741 9.53955 5.4563 8.39844 5.4563 6.99585ZM12.8014 13.1743C12.5491 12.2775 12.048 11.4637 11.3456 10.8281C10.9147 10.4381 10.4242 10.1304 9.89685 9.91345C10.85 9.29175 11.4813 8.21619 11.4813 6.99585C11.4813 5.07629 9.91956 3.51465 8 3.51465C6.08044 3.51465 4.5188 5.07629 4.5188 6.99585C4.5188 8.21619 5.15015 9.29175 6.10315 9.91345C5.57593 10.1304 5.08533 10.438 4.65442 10.828C3.95215 11.4636 3.45093 12.2773 3.19861 13.1742C1.80884 11.8835 0.9375 10.0417 0.9375 8C0.9375 4.10571 4.10571 0.9375 8 0.9375C11.8943 0.9375 15.0625 4.10571 15.0625 8C15.0625 10.0419 14.1912 11.8837 12.8014 13.1743Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-photos">
<path d="M14.125 0H1.875C0.841125 0 0 0.841125 0 1.875V14.125C0 15.1589 0.841125 16 1.875 16H14.125C15.1589 16 16 15.1589 16 14.125V1.875C16 0.841125 15.1589 0 14.125 0ZM1.875 1.25H14.125C14.4696 1.25 14.75 1.53038 14.75 1.875V11.0536L12.6227 8.92631C11.8916 8.19525 10.7021 8.19525 9.97103 8.92631L9.28125 9.61613L7.34144 7.67631C6.61041 6.94525 5.42088 6.94525 4.68978 7.67631L1.25 11.1161V1.875C1.25 1.53038 1.53038 1.25 1.875 1.25ZM14.125 14.75H1.875C1.53038 14.75 1.25 14.4696 1.25 14.125V12.8839L5.57366 8.56022C5.81741 8.31653 6.21384 8.31653 6.45753 8.56022L9.28125 11.3839L10.8549 9.81019C11.0986 9.5665 11.4951 9.5665 11.7388 9.81019L14.75 12.8214V14.125C14.75 14.4696 14.4696 14.75 14.125 14.75ZM10.125 6.25C11.1589 6.25 12 5.40887 12 4.375C12 3.34113 11.1589 2.5 10.125 2.5C9.09113 2.5 8.25 3.34113 8.25 4.375C8.25 5.40887 9.09113 6.25 10.125 6.25ZM10.125 3.75C10.4696 3.75 10.75 4.03038 10.75 4.375C10.75 4.71962 10.4696 5 10.125 5C9.78037 5 9.5 4.71962 9.5 4.375C9.5 4.03038 9.78037 3.75 10.125 3.75Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-ads">
<path d="M14.8333 14H1.16667C0.523333 14 0 13.4766 0 12.8333V3.83329C0 3.18996 0.523333 2.66663 1.16667 2.66663H14.8333C15.4767 2.66663 16 3.18996 16 3.83329V12.8333C16 13.4766 15.4767 14 14.8333 14ZM1.16667 3.66663C1.07467 3.66663 1 3.74129 1 3.83329V12.8333C1 12.9253 1.07467 13 1.16667 13H14.8333C14.9253 13 15 12.9253 15 12.8333V3.83329C15 3.74129 14.9253 3.66663 14.8333 3.66663H1.16667Z" fill="currentColor"/>
<path d="M15.5 11.6666H0.5C0.224 11.6666 0 11.4426 0 11.1666C0 10.8906 0.224 10.6666 0.5 10.6666H15.5C15.776 10.6666 16 10.8906 16 11.1666C16 11.4426 15.776 11.6666 15.5 11.6666Z" fill="currentColor"/>
<path d="M10.1674 16.0001H5.83404C5.63204 16.0001 5.44937 15.8781 5.37204 15.6914C5.2947 15.5047 5.33737 15.2901 5.4807 15.1467C6.1747 14.4527 6.32404 13.4447 6.32537 13.4354C6.36137 13.1614 6.61537 12.9674 6.88604 13.0047C7.16004 13.0407 7.3527 13.2921 7.3167 13.5654C7.31137 13.6047 7.2187 14.2761 6.8207 15.0001H9.16937C8.77537 14.2801 8.67737 13.6081 8.67204 13.5687C8.63404 13.2954 8.8247 13.0434 9.0987 13.0047C9.3767 12.9661 9.62404 13.1574 9.6627 13.4307C9.66737 13.4607 9.81737 14.4101 10.452 15.0887C10.582 15.1794 10.6674 15.3294 10.6674 15.5001C10.6674 15.7761 10.4434 16.0001 10.1674 16.0001Z" fill="currentColor"/>
<path d="M9.33203 9.33338H8.83203C8.55603 9.33338 8.33203 9.10938 8.33203 8.83338V5.83337C8.33203 5.55737 8.55603 5.33337 8.83203 5.33337H9.33203C10.4347 5.33337 11.332 6.23071 11.332 7.33338C11.332 8.43605 10.4347 9.33338 9.33203 9.33338ZM9.33203 6.33338V8.33338C9.88336 8.33338 10.332 7.88471 10.332 7.33338C10.332 6.78204 9.88336 6.33338 9.33203 6.33338Z" fill="currentColor"/>
<path d="M6.83464 9.33338C6.55864 9.33338 6.33464 9.10938 6.33464 8.83338V6.66671C6.33464 6.48338 6.1853 6.33338 6.0013 6.33338C5.8173 6.33338 5.66797 6.48338 5.66797 6.66671V8.83338C5.66797 9.10938 5.44397 9.33338 5.16797 9.33338C4.89197 9.33338 4.66797 9.10938 4.66797 8.83338V6.66671C4.66797 5.93138 5.26597 5.33337 6.0013 5.33337C6.73664 5.33337 7.33464 5.93138 7.33464 6.66671V8.83338C7.33464 9.10938 7.11064 9.33338 6.83464 9.33338Z" fill="currentColor"/>
<path d="M6.83464 8.33337H5.16797C4.89197 8.33337 4.66797 8.10937 4.66797 7.83337C4.66797 7.55737 4.89197 7.33337 5.16797 7.33337H6.83464C7.11064 7.33337 7.33464 7.55737 7.33464 7.83337C7.33464 8.10937 7.11064 8.33337 6.83464 8.33337Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-logout">
<path d="M15.2937 8.35432C15.297 8.35105 15.297 8.35105 15.3003 8.34779C15.3101 8.33472 15.3198 8.32493 15.3264 8.31186C15.3296 8.3086 15.3296 8.30533 15.3329 8.30206C15.3394 8.289 15.3492 8.27594 15.3558 8.26287C15.3558 8.25961 15.359 8.25634 15.359 8.25634C15.3656 8.24328 15.3721 8.23021 15.3786 8.21388C15.3786 8.21062 15.3786 8.21062 15.3819 8.20735C15.3884 8.19429 15.3917 8.17796 15.3982 8.16163C15.3982 8.15836 15.3982 8.1551 15.4015 8.1551C15.4048 8.13877 15.4113 8.1257 15.4113 8.10937C15.4113 8.10284 15.4113 8.09957 15.4146 8.09304C15.4178 8.07998 15.4178 8.06691 15.4211 8.05385C15.4244 8.03426 15.4244 8.01792 15.4244 7.99833C15.4244 7.97873 15.4244 7.9624 15.4211 7.94281C15.4211 7.92974 15.4178 7.91668 15.4146 7.90362C15.4146 7.89708 15.4146 7.89382 15.4113 7.88729C15.408 7.87096 15.4048 7.85789 15.4015 7.84156C15.4015 7.8383 15.4015 7.83503 15.3982 7.83503C15.395 7.8187 15.3884 7.80564 15.3819 7.78931C15.3819 7.78604 15.3819 7.78604 15.3786 7.78278C15.3721 7.76971 15.3656 7.75338 15.359 7.74032C15.359 7.73705 15.3558 7.73379 15.3558 7.73379C15.3492 7.72072 15.3427 7.70766 15.3329 7.69459C15.3296 7.69133 15.3296 7.68806 15.3264 7.6848C15.3166 7.67173 15.3101 7.65867 15.3003 7.64887C15.297 7.6456 15.297 7.6456 15.2937 7.64234C15.2807 7.62927 15.2709 7.61294 15.2545 7.59988L12.0245 4.3731C11.8057 4.15428 11.4497 4.15428 11.2309 4.3731C11.012 4.59192 11.012 4.94791 11.2309 5.16673L13.504 7.43985H4.46702C4.15675 7.43985 3.90527 7.69133 3.90527 7.99833C3.90527 8.3086 4.15675 8.56008 4.46702 8.56008H13.5072L11.2504 10.8169C11.0316 11.0357 11.0316 11.3917 11.2504 11.6105C11.3582 11.7183 11.5019 11.7738 11.6456 11.7738C11.7893 11.7738 11.933 11.7183 12.0408 11.6105L15.2513 8.40004C15.2676 8.38045 15.2807 8.36738 15.2937 8.35432Z" fill="currentColor"/>
<path d="M3.61484 1.12023H7.79528C8.10555 1.12023 8.35703 0.868749 8.35703 0.561747C8.35703 0.25148 8.10555 0 7.79528 0H3.61484C1.9394 0 0.574219 1.36518 0.574219 3.04062V12.9594C0.574219 14.6348 1.9394 16 3.61484 16H7.7267C8.03697 16 8.28845 15.7485 8.28845 15.4415C8.28845 15.1313 8.03697 14.8798 7.7267 14.8798H3.61484C2.55666 14.8798 1.69445 14.0176 1.69445 12.9594V3.04062C1.69771 1.97918 2.55666 1.12023 3.61484 1.12023Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-warn">
<path d="M8.00097 10.9651C7.55366 10.9651 7.17871 11.34 7.17871 11.7873C7.17871 12.2347 7.55366 12.6096 8.00097 12.6096C8.43183 12.6096 8.82322 12.2347 8.80349 11.8071C8.82322 11.3368 8.45156 10.9651 8.00097 10.9651Z" fill="currentColor"/>
<path d="M15.6107 13.8791C16.127 12.9878 16.1303 11.9254 15.6172 11.0374L10.4666 2.1175C9.95679 1.21959 9.03585 0.686768 8.00309 0.686768C6.97033 0.686768 6.0494 1.22288 5.53959 2.11421L0.382367 11.044C-0.130724 11.9419 -0.127435 13.0108 0.392235 13.9022C0.905326 14.7836 1.82297 15.3132 2.84915 15.3132H13.1373C14.1668 15.3132 15.091 14.777 15.6107 13.8791ZM14.4924 13.2345C14.2062 13.7278 13.6997 14.0206 13.134 14.0206H2.84586C2.28673 14.0206 1.7835 13.7344 1.50393 13.2509C1.22107 12.7609 1.21779 12.1754 1.50064 11.6821L6.65787 2.75558C6.93744 2.26551 7.43737 1.97607 8.00309 1.97607C8.56552 1.97607 9.06874 2.2688 9.34831 2.75887L14.5022 11.6853C14.7785 12.1655 14.7752 12.7444 14.4924 13.2345Z" fill="currentColor"/>
<path d="M7.7969 5.19277C7.4055 5.3046 7.16211 5.65981 7.16211 6.09068C7.18184 6.35051 7.19829 6.61364 7.21802 6.87347C7.27394 7.86348 7.32985 8.83375 7.38576 9.82375C7.4055 10.1592 7.66533 10.4026 8.00082 10.4026C8.3363 10.4026 8.59942 10.1428 8.61587 9.80401C8.61587 9.60009 8.61587 9.41262 8.6356 9.20541C8.67178 8.57062 8.71125 7.93583 8.74743 7.30105C8.76716 6.88992 8.80334 6.47879 8.82308 6.06766C8.82308 5.91965 8.80334 5.78809 8.74743 5.65652C8.57969 5.28815 8.18829 5.10068 7.7969 5.19277Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 16 16" fill="none" id="svg-clock">
<path d="M10.8501 9.41279L8.61926 7.73967V4.33148C8.61926 3.98879 8.34226 3.71179 7.99957 3.71179C7.65688 3.71179 7.37988 3.98879 7.37988 4.33148V8.04954C7.37988 8.24473 7.4716 8.42879 7.62776 8.54529L10.1064 10.4043C10.218 10.488 10.3481 10.5283 10.4776 10.5283C10.6666 10.5283 10.8525 10.4434 10.974 10.2798C11.1798 10.0064 11.124 9.61792 10.8501 9.41279Z" fill="currentColor"/>
<path d="M8 0C3.58853 0 0 3.58853 0 8C0 12.4115 3.58853 16 8 16C12.4115 16 16 12.4115 16 8C16 3.58853 12.4115 0 8 0ZM8 14.7607C4.27266 14.7607 1.23934 11.7273 1.23934 8C1.23934 4.27266 4.27266 1.23934 8 1.23934C11.728 1.23934 14.7607 4.27266 14.7607 8C14.7607 11.7273 11.7273 14.7607 8 14.7607Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 20 12" fill="none" id="svg-arrow-right">
<path d="M0.237663 5.4197L5.38367 0.23997C5.70154 -0.0799899 6.21135 -0.0799899 6.52922 0.23997C6.8471 0.55993 6.8471 1.07307 6.52922 1.39303L2.76268 5.18425H19.1903C19.6401 5.18425 20 5.54647 20 5.99924C20 6.45202 19.6401 6.81424 19.1903 6.81424H2.76268L6.52922 10.6055C6.8471 10.9254 6.8471 11.4386 6.52922 11.7585C6.37328 11.9155 6.16337 12 5.95944 12C5.75552 12 5.5456 11.9215 5.38967 11.7585L0.243658 6.57879C-0.0802155 6.2528 -0.0802135 5.73362 0.237663 5.4197Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 20 12" fill="none" id="svg-arrow-left">
<path d="M19.7623 5.4197L14.6163 0.23997C14.2985 -0.0799899 13.7887 -0.0799899 13.4708 0.23997C13.1529 0.55993 13.1529 1.07307 13.4708 1.39303L17.2373 5.18425H0.809686C0.35986 5.18425 0 5.54647 0 5.99924C0 6.45202 0.35986 6.81424 0.809686 6.81424H17.2373L13.4708 10.6055C13.1529 10.9254 13.1529 11.4386 13.4708 11.7585C13.6267 11.9155 13.8366 12 14.0406 12C14.2445 12 14.4544 11.9215 14.6103 11.7585L19.7563 6.57879C20.0802 6.2528 20.0802 5.73362 19.7623 5.4197Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 30 30" id="svg-rotate-left">
<path d="M0.58917 9.44293C1.07101 9.24982 1.61659 9.48418 1.80595 9.96602L2.36653 11.3684C3.97703 5.37075 9.44223 0.938599 15.9386 0.938599C23.693 0.938599 30 7.2456 30 15C30 22.7544 23.693 29.0614 15.9386 29.0614C12.1833 29.0614 8.65292 27.599 5.99438 24.9423C5.62878 24.5768 5.62878 23.9824 5.99438 23.6168C6.35997 23.2512 6.9543 23.2512 7.31989 23.6168C9.62409 25.9191 12.6857 27.1865 15.9386 27.1865C22.6581 27.1865 28.1251 21.7195 28.1251 15C28.1251 8.28052 22.6581 2.81345 15.9386 2.81345C10.0872 2.81345 5.18819 6.96063 4.02015 12.4689L5.90063 10.5866C6.26623 10.221 6.86056 10.221 7.22615 10.5866C7.59175 10.9522 7.59175 11.5465 7.22615 11.9121L3.47645 15.6618C3.45582 15.6824 3.4277 15.6899 3.4052 15.7087C3.33396 15.7687 3.26084 15.8268 3.17459 15.8624C3.0621 15.9131 2.93836 15.9374 2.81462 15.9374C2.75275 15.9374 2.68901 15.9318 2.62526 15.9187C2.59901 15.9131 2.58027 15.8924 2.55589 15.8849C2.46028 15.8568 2.37403 15.8137 2.29341 15.7593C2.25779 15.7349 2.22217 15.7181 2.1903 15.6899C2.08718 15.5962 2.00094 15.4856 1.94657 15.3543C1.94657 15.3525 1.94469 15.3506 1.94282 15.3487L0.0679626 10.6616C-0.125149 10.1816 0.107334 9.63604 0.58917 9.44293Z" fill="currentColor"/>
</symbol>
<symbol viewBox="0 0 30 30" fill="none" id="svg-rotate-right">
<path d="M29.4108 9.44293C28.929 9.24982 28.3834 9.48418 28.194 9.96602L27.6335 11.3684C26.023 5.37075 20.5578 0.938599 14.0614 0.938599C6.30701 0.938599 0 7.2456 0 15C0 22.7544 6.30701 29.0614 14.0614 29.0614C17.8167 29.0614 21.3471 27.599 24.0056 24.9423C24.3712 24.5768 24.3712 23.9824 24.0056 23.6168C23.64 23.2512 23.0457 23.2512 22.6801 23.6168C20.3759 25.9191 17.3143 27.1865 14.0614 27.1865C7.34193 27.1865 1.87485 21.7195 1.87485 15C1.87485 8.28052 7.34193 2.81345 14.0614 2.81345C19.9128 2.81345 24.8118 6.96063 25.9798 12.4689L24.0994 10.5866C23.7338 10.221 23.1394 10.221 22.7738 10.5866C22.4083 10.9522 22.4083 11.5465 22.7738 11.9121L26.5236 15.6618C26.5442 15.6824 26.5723 15.6899 26.5948 15.7087C26.666 15.7687 26.7392 15.8268 26.8254 15.8624C26.9379 15.9131 27.0616 15.9374 27.1854 15.9374C27.2472 15.9374 27.311 15.9318 27.3747 15.9187C27.401 15.9131 27.4197 15.8924 27.4441 15.8849C27.5397 15.8568 27.626 15.8137 27.7066 15.7593C27.7422 15.7349 27.7778 15.7181 27.8097 15.6899C27.9128 15.5962 27.9991 15.4856 28.0534 15.3543C28.0534 15.3525 28.0553 15.3506 28.0572 15.3487L29.932 10.6616C30.1251 10.1816 29.8927 9.63604 29.4108 9.44293Z" fill="currentColor"/>
</symbol>
</svg>
  </div>
</div>
<script src="js/jquery.com_jquery-3.3.1.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/common.js"></script>