
<div class="header d-flex justify-space-between">
  <div class="header__left d-flex align-center">
    <div class="burger"><span></span><span></span><span></span></div><a class="logo" href="#"><img src="img/logo.svg" alt=""/></a>
  </div>
  <div class="header__nav d-flex">
    <div class="header__nav__container d-flex justify-center">
      <!-- .header-actions for mobile-->
      <div class="header-actions d-flex align-center for-mobile"><a class="search-btn js--open-search text-color-white hidden-tablet" href="#"><span class="icon">
            <svg>
              <use xlink:href="#svg-search"></use>
            </svg></span></a><a class="btn btn--transparent mx-2 btn--short" href="#">Login</a><a class="btn btn--red-gradient" href="#">Sign Up</a></div>
      <ul class="menu d-flex">
        <li class="submenu__parent"><a href="#">Shemale Escorts</a>
          <ul class="submenu">
            <li><a href="#">New Escorts</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Visiting Escorts</a></li>
          </ul>
        </li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Webcams</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
      <div class="search-form">
        <form action="#">
          <input class="search-input" type="search" placeholder="Search..."/>
          <button class="search-submit" type="submit"><span class="icon">
              <svg>
                <use xlink:href="#svg-search"></use>
              </svg></span></button>
        </form>
      </div>
      <!-- for mobile-->
      <div class="close-menu for-tablet"><span class="icon text-color-white">
          <svg>
            <use xlink:href="#svg-close"></use>
          </svg></span></div>
    </div>
  </div>
  <div class="header-actions d-flex align-center"><a class="search-btn js--open-search text-color-white hidden-tablet" href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-search"></use>
        </svg></span></a>
    <div class="user-header">
      <div class="user-header__body d-flex align-center"><span class="avatar"><img src="img/model-1.jpg" alt=""/></span><span class="user-name hidden-mobile">Sophia Blum</span></div>
      <div class="dropdown">
        <ul class="profile-page__menu">
          <li class="active"><a href="#"><span class="icon">
                <svg>
                  <use xlink:href="#svg-user"></use>
                </svg></span><span class="text">My Profile</span></a></li>
          <li><a href="#"><span class="icon">
                <svg>
                  <use xlink:href="#svg-photos"></use>
                </svg></span><span class="text">Photos</span></a></li>
          <li><a href="#"><span class="icon">
                <svg>
                  <use xlink:href="#svg-play"></use>
                </svg></span><span class="text">Videos</span></a></li>
          <li><a href="#"><span class="icon">
                <svg>
                  <use xlink:href="#svg-pin"></use>
                </svg></span><span class="text">Travelplan</span></a></li>
          <li><a href="#"><span class="icon">
                <svg>
                  <use xlink:href="#svg-ads"></use>
                </svg></span><span class="text">Advertising</span></a></li>
          <li><a href="#"><span class="icon">
                <svg>
                  <use xlink:href="#svg-check-in-circle"></use>
                </svg></span><span class="text">Profile Verification</span></a></li>
          <li><a href="#"><span class="icon">
                <svg>
                  <use xlink:href="#svg-logout"></use>
                </svg></span><span class="text">Log out</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>