
<div class="header d-flex justify-space-between">
  <div class="header__left d-flex align-center">
    <div class="burger"><span></span><span></span><span></span></div><a class="logo" href="#"><img src="img/logo.svg" alt=""/></a>
  </div>
  <div class="header__nav d-flex">
    <div class="header__nav__container d-flex justify-center">
      <!-- .header-actions for mobile-->
      <div class="header-actions d-flex align-center for-mobile"><a class="search-btn js--open-search text-color-white hidden-tablet" href="#"><span class="icon">
            <svg>
              <use xlink:href="#svg-search"></use>
            </svg></span></a><a class="btn btn--transparent mx-2 btn--short" href="#">Login</a><a class="btn btn--red-gradient" href="#">Sign Up</a></div>
      <ul class="menu d-flex">
        <li class="submenu__parent"><a href="#">Shemale Escorts</a>
          <ul class="submenu">
            <li><a href="#">New Escorts</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Visiting Escorts</a></li>
          </ul>
        </li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Webcams</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
      <div class="search-form">
        <form action="#">
          <input class="search-input" type="search" placeholder="Search..."/>
          <button class="search-submit" type="submit"><span class="icon">
              <svg>
                <use xlink:href="#svg-search"></use>
              </svg></span></button>
        </form>
      </div>
      <!-- for mobile-->
      <div class="close-menu for-tablet"><span class="icon text-color-white">
          <svg>
            <use xlink:href="#svg-close"></use>
          </svg></span></div>
    </div>
  </div>
  <div class="header-actions d-flex align-center hidden-mobile"><a class="search-btn js--open-search text-color-white hidden-tablet" href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-search"></use>
        </svg></span></a><a class="btn btn--transparent mx-2 btn--short" href="#">Login</a><a class="btn btn--red-gradient" href="#">Sign Up</a></div>
</div>