
<div class="location-list-wrapper bg-grey">
  <div class="container">
    <div class="h2 font-800 mb-3">Shemale Location</div>
    <div class="location-list-content d-flex">
      <div class="location-list-content__item">
        <ul class="location-list">
          <li><a class="js--dropdown-link" href="#">Alberta</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">British Columbia</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Manitoba</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="location-list-content__item">
        <ul class="location-list">
          <li><a class="js--dropdown-link" href="#">Newfoundland</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Northwest Territories</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Nova Scotia</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Nunavut</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="location-list-content__item">
        <ul class="location-list">
          <li><a class="js--dropdown-link" href="#">Nunavut</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Ontario</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Prince Edward Island</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Quebec</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Saskatchewan</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Yukon</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="location-list-content__item">
        <ul class="location-list">
          <li><a class="js--dropdown-link" href="#">Newfoundland</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Northwest Territories</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Prince Edward Island</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Quebec</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Saskatchewan</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
          <li><a class="js--dropdown-link" href="#">Yukon</a>
            <ul class="location-list__submenu js--dropdown">
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span></a></li>
              <li><a href="#"><span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>