
<ul class="pagination d-flex justify-center flex-wrap">
  <li><a class="prev-page" href="#"><span class="icon mr-1">
        <svg>
          <use xlink:href="#svg-arrow-left"></use>
        </svg></span><span class="text text-uppercase">Previous</span></a></li>
  <li><a href="#">1</a></li>
  <li><a class="active" href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li><a href="#">7</a></li>
  <li><a href="#">8</a></li>
  <li><a class="next-page" href="#"><span class="text text-uppercase">Next</span><span class="icon ml-1">
        <svg>
          <use xlink:href="#svg-arrow-right"></use>
        </svg></span></a></li>
</ul>