
<div class="slider-preview-container">
  <div class="slider-preview">
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Kim Kardashian
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Eva Mendes
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Angela White
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Nicole Aniston
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Autumn Falls
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Kimmy Granger
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Kenzie Reeves
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Britney Amber
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Xev Bellringer
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Skylar Vox
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Lana Rhoades
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Kim Kardashian
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Eva Mendes
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Angela White
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Nicole Aniston
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Autumn Falls
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Kimmy Granger
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Kenzie Reeves
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Britney Amber
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Xev Bellringer
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Skylar Vox
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
    <div class="slider-preview__slide"><a class="slider-preview__item" href="#">
        <div class="slider-preview__item__img"><img src="img/slide_preview_1.jpg" alt=""/></div>
        <div class="slider-preview__item__name">Lana Rhoades
          <!-- status--offline for offline status--><span class="status status--online"></span>
        </div></a></div>
  </div>
</div>