@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap; }
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap; }
.p-0 {
  padding: 0 !important; }
.pa-1 {
  padding: 1rem !important; }
.pa-2 {
  padding: 2rem !important; }
.pa-3 {
  padding: 3rem !important; }
.pa-4 {
  padding: 4rem !important; }
.pa-5 {
  padding: 5rem !important; }
.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }
.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }
.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }
.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }
.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }
.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }
.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important; }
.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important; }
.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important; }
.px-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important; }
.pt-0 {
  padding-top: 0 !important; }
.pt-1 {
  padding-top: 1rem !important; }
.pt-2 {
  padding-top: 2rem !important; }
.pt-3 {
  padding-top: 3rem !important; }
.pt-4 {
  padding-top: 4rem !important; }
.pt-5 {
  padding-top: 5rem !important; }
.pb-1 {
  padding-bottom: 1rem !important; }
.pb-2 {
  padding-bottom: 2rem !important; }
.pb-3 {
  padding-bottom: 3rem !important; }
.pb-4 {
  padding-bottom: 4rem !important; }
.pb-5 {
  padding-bottom: 5rem !important; }
.pl-1 {
  padding-left: 1rem !important; }
.pl-2 {
  padding-left: 2rem !important; }
.pl-3 {
  padding-left: 3rem !important; }
.pl-4 {
  padding-left: 4rem !important; }
.pl-5 {
  padding-left: 5rem !important; }
.pr-1 {
  padding-right: 1rem !important; }
.pr-2 {
  padding-right: 2rem !important; }
.pr-3 {
  padding-right: 3rem !important; }
.pr-4 {
  padding-right: 4rem !important; }
.pr-5 {
  padding-right: 5rem !important; }

.m-0 {
  margin: 0; }
.ma-auto {
  margin: auto; }
.ma-1 {
  margin: 1rem; }
.ma-2 {
  margin: 2rem; }
.ma-3 {
  margin: 3rem; }
.ma-4 {
  margin: 4rem; }
.ma-5 {
  margin: 5rem; }
.my-auto {
  margin-bottom: auto;
  margin-top: auto; }
.my-1 {
  margin: 1rem 0; }
.my-2 {
  margin: 2rem 0; }
.my-3 {
  margin: 3rem 0; }
.my-4 {
  margin: 4rem 0; }
.my-5 {
  margin: 5rem 0; }
.mx-auto {
  margin-left: auto;
  margin-right: auto; }
.mx-1 {
  margin: 0 1rem; }
.mx-2 {
  margin: 0 2rem; }
.mx-3 {
  margin: 0 3rem; }
.mx-4 {
  margin: 0 4rem; }
.mx-5 {
  margin: 0 5rem; }
.mt-auto {
  margin-top: auto; }
.mt-1 {
  margin-top: 1rem; }
.mt-2 {
  margin-top: 2rem; }
.mt-3 {
  margin-top: 3rem; }
.mt-4 {
  margin-top: 4rem; }
.mt-5 {
  margin-top: 5rem; }
.mb-auto {
  margin-bottom: auto; }
.mb-1 {
  margin-bottom: 1rem; }
.mb-2 {
  margin-bottom: 2rem; }
.mb-3 {
  margin-bottom: 3rem; }
.mb-4 {
  margin-bottom: 4rem; }
.mb-5 {
  margin-bottom: 5rem; }
.ml-auto {
  margin-left: auto; }
.ml-1 {
  margin-left: 1rem; }
.ml-2 {
  margin-left: 2rem; }
.ml-3 {
  margin-left: 3rem; }
.ml-4 {
  margin-left: 4rem; }
.ml-5 {
  margin-left: 5rem; }
.mr-auto {
  margin-right: auto; }
.mr-1 {
  margin-right: 1rem; }
.mr-2 {
  margin-right: 2rem; }
.mr-3 {
  margin-right: 3rem; }
.mr-4 {
  margin-right: 4rem; }
.mr-5 {
  margin-right: 5rem; }

.w-100 {
  width: 100%; }

.nowrap {
  white-space: nowrap; }

.bg-black {
  background-color: #000; }
.bg-grey {
  background-color: #F7F7FA; }
.bg-grey-dark {
  background-color: #E8E8EE; }
.bg-red-gradient {
  background: linear-gradient(268.41deg, #E4062E -6.83%, #94002C 106.39%); }

.text-color-white {
  color: #fff; }
.text-color-black {
  color: #000; }
.text-color-grey-dark {
  color: #707987; }
.text-color-grey {
  color: #F7F7FA; }
.text-color-green {
  color: #00D361; }
.text-color-red {
  color: #E4062E; }
.text-color-yellow {
  color: #FF9900; }

.text--medium {
  font-weight: 500; }
.text--bold {
  font-weight: 700; }
.text--uppercase {
  text-transform: uppercase; }
.text--left {
  text-align: left; }
.text--center {
  text-align: center; }
.text--right {
  text-align: right; }
.text--lt {
  font-size: 1.4rem; }
.text--sm {
  font-size: 1.2rem; }
.text--italic {
  font-style: italic; }

.d-inline-block {
  display: inline-block; }
.d-block {
  display: block; }
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.flex-direction-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
.flex-direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

html, body {
  min-height: 100%; }

html {
  font-size: 10px; }

body {
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.noscroll {
  overflow: hidden; }

img {
  max-width: 100%; }

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s; }

p {
  font-size: 1.6rem;
  line-height: 1.4; }
  p a {
    color: #E4062E; }
    p a:hover {
      text-decoration: underline; }

h1, .h1 {
  font-size: 4rem;
  line-height: 1.3; }

h2, .h2 {
  font-size: 3rem;
  line-height: 1.3; }

h3, .h3 {
  font-size: 2rem;
  line-height: 1.3; }

h4, .h4 {
  font-size: 1.8rem;
  line-height: 1.3; }

.font-900 {
  font-weight: 900; }

.font-800 {
  font-weight: 800; }

.font-600 {
  font-weight: 600; }

.font-700 {
  font-weight: 700; }

.font-500 {
  font-weight: 500; }

.font-400 {
  font-weight: 400; }

.font-300 {
  font-weight: 300; }

b, strong {
  font-weight: 700; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto; }
  .container-lt {
    max-width: 560px; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.svg-sprite {
  display: none; }

.icon {
  display: inline-block;
  width: 16px;
  height: 16px; }
  .icon svg {
    width: 100%;
    height: 100%; }

.status {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  border-radius: 50%; }
  .status--online {
    background-color: #00D361; }
  .status--offline {
    background-color: #F7F7FA; }

.for-tablet,
.for-mobile {
  display: none; }

.line {
  width: 100%;
  height: 1px;
  background: #D9DAE7; }

.list li {
  line-height: 1.3;
  margin-bottom: .5em; }
.list--order {
  list-style: decimal;
  padding-left: 2rem; }
  .list--order li {
    list-style: decimal; }

.text-block p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1em; }
.text-block h1, .text-block h2, .text-block h3, .text-block h4 {
  margin-bottom: .5em;
  font-weight: 700; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  padding: .9em 1.5em;
  min-width: 17rem;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn--transparent {
    color: #E8E8EE; }
    .btn--transparent:hover {
      color: #E4062E; }
  .btn--short {
    min-width: unset; }
  .btn--small {
    padding: .5em 1em;
    min-width: unset;
    font-weight: 500;
    font-size: 1.4rem; }
  .btn--large {
    text-transform: uppercase;
    min-width: 27rem; }
  .btn--red-gradient {
    color: #fff;
    background: linear-gradient(268.41deg, #E4062E -6.83%, #94002C 106.39%);
    -webkit-box-shadow: 0 4px 12px rgba(228, 6, 46, 0.4);
            box-shadow: 0 4px 12px rgba(228, 6, 46, 0.4); }
    .btn--red-gradient:hover {
      background: linear-gradient(45deg, #E4062E, #94002C); }
  .btn--red {
    background-color: #E4062E;
    color: #fff; }
    .btn--red:hover {
      background-color: #fff;
      color: #E4062E;
      border-color: #E4062E; }
  .btn--grey {
    background: #E8E8EE;
    color: #707987; }
    .btn--grey:hover {
      background: #E4062E;
      color: #fff; }
  .btn--full-width {
    width: 100%; }
  .btn:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*Header*/
.header {
  background: rgba(16, 17, 23, 0.95);
  padding: 1rem 3rem; }
  .header.open-search {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header.open-search .menu {
      display: none; }
    .header.open-search .search-form {
      display: block; }
  .header__nav {
    -webkit-box-flex: 1;
            flex-grow: 1; }
    .header__nav__container {
      -webkit-box-flex: 1;
              flex-grow: 1; }

.logo {
  max-width: 30rem; }

.search-form {
  display: none;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin: 0 2rem;
  height: 5rem;
  position: relative; }
  .search-form form {
    width: 100%;
    height: 100%; }

.search-input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px solid #E4062E;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding-left: 2rem;
  padding-right: 9rem;
  background: transparent; }
  .search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif; }
  .search-input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif; }
  .search-input::-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif; }
  .search-input::placeholder {
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif; }
  .search-input:focus {
    border-color: #fc879c; }

.search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
  border: none;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .search-submit .icon {
    width: 20px;
    height: 20px; }

.menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 600;
  padding: 0 1.5rem;
  height: 100%;
  position: relative; }
  .menu > li > a::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #E4062E;
    position: absolute;
    bottom: -1rem;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .menu > li > a:hover::before, .menu > li > a.active::before {
    opacity: 1; }

.submenu__parent {
  position: relative; }
  .submenu__parent > a {
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .submenu__parent > a::after {
      content: '';
      width: 1rem;
      height: .6rem;
      background: url("../img/icons/select-arrow.svg") 0 0 no-repeat;
      background-size: contain;
      margin-left: 1rem; }
  @media (min-width: 1280px) {
    .submenu__parent:hover .submenu {
      visibility: visible;
      opacity: 1; } }

.submenu {
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 20rem;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  background-color: #F7F7FA;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 2; }
  .submenu li a {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    color: #707987;
    padding: 1em 1.4285em; }
    .submenu li a:hover {
      background: #E8E8EE;
      color: #E4062E; }

.search-btn .icon {
  width: 20px;
  height: 20px; }

.burger {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 30px;
  margin-right: 20px;
  display: none; }
  .burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px; }
    .burger span:not(:last-child) {
      margin-bottom: 5px; }

.user-header {
  margin-left: 2rem;
  cursor: pointer;
  position: relative; }
  .user-header__body::after {
    content: '';
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 1rem;
    height: .6rem;
    background: url("../img/icons/select-arrow.svg") 0 0 no-repeat;
    margin-left: 1rem; }
  .user-header__body:hover .user-name {
    color: #E4062E; }
  .user-header__body.active::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .user-header__body.active .user-name {
    color: #E4062E; }
  .user-header .avatar {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem; }
    .user-header .avatar img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .user-header .dropdown {
    position: absolute;
    top: calc(100% + 1.5rem);
    right: 0;
    display: none; }
    .user-header .dropdown .profile-page__menu {
      border-top-right-radius: 0; }
      .user-header .dropdown .profile-page__menu li {
        padding: 0; }
        .user-header .dropdown .profile-page__menu li a {
          border-bottom: none;
          padding-left: 1rem;
          padding-right: 1rem; }

.user-name {
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s; }

.main-slider-container {
  position: relative; }

.main-slider__arrows {
  position: absolute;
  width: 100%;
  max-width: calc(1190px + 16rem);
  padding: 0 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slick-arrow {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: linear-gradient(268.41deg, #E4062E -6.83%, #94002C 106.39%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  .slick-arrow.arrow-black {
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.06);
            box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.06); }
  .slick-arrow:hover {
    background: rgba(0, 0, 0, 0.8); }

.main-slide__item {
  position: relative;
  min-height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0; }
  .main-slide__item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90.92deg, rgba(20, 3, 24, 0.624) 0.85%, rgba(63, 35, 131, 0) 91.62%);
    z-index: 1; }
  .main-slide__item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .main-slide__item__content {
    color: #fff; }
  .main-slide__item .container {
    position: relative;
    z-index: 2; }

.slide__title {
  font-size: 8rem;
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(268.41deg, #E4062E -6.83%, #94002C 106.39%);
  line-height: 1.1; }

.slide__subtitle {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.3;
  max-width: 1000px; }
  .slide__subtitle::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5em;
    height: .1em;
    background: linear-gradient(268.41deg, #E4062E -6.83%, #94002C 106.39%);
    margin-right: .5em;
    border-radius: 5px; }

.slide__descr {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: #CCD7E9;
  margin-bottom: 1em; }

.slider-preview {
  padding: 5rem 0; }
  .slider-preview .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    z-index: 1; }
    .slider-preview .slick-arrow:hover {
      color: #000;
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.06);
              box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.06); }
  .slider-preview .prev-slide {
    left: 0; }
  .slider-preview .next-slide {
    right: 0; }

.slider-preview__slide {
  padding: 0 2rem; }

.slider-preview__item {
  display: block;
  width: 13rem;
  text-align: center; }
  .slider-preview__item:hover .slider-preview__item__img {
    border-color: #E4062E; }
  .slider-preview__item:hover .slider-preview__item__name {
    color: #E4062E; }
  .slider-preview__item__img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid transparent;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .slider-preview__item__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 50%; }

.slider-preview__item__name {
  font-size: 1.2rem;
  width: 100%;
  white-space: nowrap;
  font-weight: 500;
  padding: 0 8px 0 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color .3s;
  transition: color .3s; }
  .slider-preview__item__name .status {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top; }
    .slider-preview__item__name .status--online {
      background: #00D361; }
    .slider-preview__item__name .status--offline {
      background: #E4062E; }

.location-list-wrapper {
  padding: 5rem 0; }

.location-list-content__item {
  width: 25%; }

.location-list {
  font-weight: 500; }
  .location-list > li {
    margin-bottom: 1.3rem; }
    .location-list > li.active > a {
      color: #E4062E; }
      .location-list > li.active > a::after {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .location-list > li > a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .location-list > li > a::after {
        content: '';
        width: 1rem;
        height: .6rem;
        background: url("../img/icons/select-arrow.svg") 0 0 no-repeat;
        background-size: contain;
        margin-left: .5rem;
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none; }
      .location-list > li > a:hover {
        color: #E4062E; }

.location-list__submenu {
  margin-top: 1.5rem;
  display: none; }
  .location-list__submenu.active {
    display: block; }
  .location-list__submenu li {
    margin-bottom: 1rem; }
    .location-list__submenu li a {
      color: #707987;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .location-list__submenu li a:hover {
        color: #E4062E; }
        .location-list__submenu li a:hover .icon,
        .location-list__submenu li a:hover .count {
          color: currentColor; }
      .location-list__submenu li a .count {
        color: #C0C6D0;
        margin-left: .5rem; }
      .location-list__submenu li a .icon {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        width: .8125em;
        height: 1em;
        color: #000;
        margin-right: .5rem; }
        .location-list__submenu li a .icon svg {
          width: 100%;
          height: 100%; }

.models-list {
  margin: 0 -1rem 1rem; }
  .models-list li {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 2rem; }

.models-list__item {
  display: block;
  position: relative;
  height: 100%; }
  .models-list__item .location {
    font-size: 1.2rem;
    color: #F7F7FA; }
    .models-list__item .location .icon {
      margin-right: .5rem;
      width: 12px;
      height: 12px; }

a.models-list__item:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); }
  a.models-list__item:hover .models-list__item__img {
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2); }

.models-list__item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s; }

.models-list__item__data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  color: #fff;
  padding: 1.8rem; }

.models-list__item__option {
  margin-right: 1rem;
  color: #C0C6D0;
  line-height: 1; }
  .models-list__item__option.crown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em .7em .6em;
    border-radius: 20px;
    background: linear-gradient(268.41deg, #E4062E -6.83%, #94002C 106.39%);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff; }
    .models-list__item__option.crown .icon {
      width: 12px;
      height: 12px;
      margin-right: .5rem; }
  .models-list__item__option .icon {
    width: 16px;
    height: 16px; }

.model-name {
  margin-bottom: .5rem; }

.banners-slider {
  margin-bottom: 0; }
  .banners-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1; }
  .banners-slider .prev-slide {
    left: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .banners-slider .next-slide {
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%); }
  .banners-slider .slick-dots {
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 15px; }
    .banners-slider .slick-dots li {
      width: auto;
      height: auto;
      padding: 0 3px;
      margin: 0; }
      .banners-slider .slick-dots li.slick-active button {
        background: #E4062E; }
      .banners-slider .slick-dots li button {
        width: 6px;
        height: 6px;
        padding: 0;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.6); }
        .banners-slider .slick-dots li button::before {
          display: none; }

.slick-dotted {
  margin-bottom: 0; }

.select {
  display: block;
  width: 100%;
  min-width: 130px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #D9DAE7;
  padding-right: 30px;
  padding-left: 15px;
  background: url("../img/icons/select-arrow.svg") calc(100% - 10px) center no-repeat;
  font-size: 14px;
  font-family: "Montserrat", sans-serif; }
  .select--white {
    border-color: #fff;
    color: #fff;
    background-image: url("../img/icons/select-arrow_white.svg"); }

.input-wrapper {
  margin-bottom: 2.5rem; }
  .input-wrapper.flex-wrap span {
    width: 100%; }
  .input-wrapper.mb-1 {
    margin-bottom: 1rem; }
  .input-wrapper--three-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .input-wrapper--three-column span {
      width: 100%; }
    .input-wrapper--three-column .checkbox {
      width: 33.3333%; }
    .input-wrapper--three-column .select {
      width: 32%;
      margin-right: 1%; }
    .input-wrapper--three-column .input {
      width: 32%; }
  .input-wrapper span {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .5em; }
    .input-wrapper span.text--lt {
      font-size: 1.2rem; }

.input {
  display: block;
  width: 100%;
  min-width: 130px;
  height: 40px;
  border-radius: 20px;
  font-weight: 500;
  border: 1px solid #D9DAE7;
  background: transparent;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .input:focus {
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }

textarea.input {
  resize: none;
  height: 120px;
  padding-top: 10px; }

.checkbox,
.radio {
  margin-bottom: 2rem; }
  .checkbox input,
  .radio input {
    display: none; }
    .checkbox input:checked + label::before,
    .radio input:checked + label::before {
      background-color: #E4062E;
      border-color: #E4062E; }
  .checkbox label,
  .radio label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer; }
    .checkbox label::before,
    .radio label::before {
      content: '';
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: 1.4275em;
      height: 1.4275em;
      border: 1px solid #D9DAE7;
      border-radius: 5px;
      margin-right: .7em;
      background: #fff url("../img/icons/check_white.svg") center no-repeat; }

.radio label::before {
  border-radius: 50%; }

.file input {
  display: none; }
.file label {
  position: relative;
  display: block;
  width: 100%; }

.file-filled {
  display: block;
  width: 100%;
  height: 40px;
  min-width: 130px;
  border-radius: 20px;
  font-weight: 500;
  border: 1px solid #D9DAE7;
  background: transparent;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .file-filled .file-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    height: calc(100% - 10px);
    top: 5px;
    right: 5px;
    font-size: 12px;
    padding: 0 2em;
    cursor: pointer; }
  .file-filled .file-filled__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.5rem;
    height: 100%; }

.pagination {
  color: #707987; }
  .pagination li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 5rem;
    padding: 0 3px; }
    .pagination li:first-child a, .pagination li:last-child a {
      padding: 0 3em; }
    .pagination li:first-child {
      padding-right: 1.5rem; }
    .pagination li:last-child {
      padding-left: 1.5rem; }
    .pagination li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-width: 5rem;
      height: 5rem;
      border-radius: 25px;
      background-color: #E8E8EE;
      font-weight: 700;
      line-height: 1; }
      .pagination li a .icon {
        width: 1.25em;
        height: .75em; }
      .pagination li a.active {
        background-color: #000;
        color: #fff; }
      .pagination li a:hover {
        background-color: #E4062E;
        color: #fff; }

.comment-item {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #D9DAE7; }
  .comment-item--no-border {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: none; }

.comment-item__left {
  width: 40rem;
  padding-right: 2rem;
  border-right: 1px solid #D9DAE7; }
  .comment-item__left__img {
    width: 12rem;
    height: 16rem;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
    .comment-item__left__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .comment-item__left__data {
    padding-left: 3rem; }
    .comment-item__left__data__top {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .comment-item__left__data .h4 {
      margin-bottom: 1rem; }

.comment-item__right {
  width: calc(100% - 40rem);
  padding-left: 3rem; }
  .comment-item__right--full-width {
    width: 100%;
    padding-left: 0; }
  .comment-item__right__top .avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  .comment-item__right__top__right {
    margin-left: 1rem; }
    .comment-item__right__top__right__title {
      font-size: 1.4rem;
      margin-bottom: .5em; }

.comment-body {
  padding-left: 6rem;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7; }

.models-list-about li {
  width: 50%;
  border-bottom: 1px solid #D9DAE7;
  padding-bottom: 5rem;
  margin-bottom: 5rem; }
  .models-list-about li:nth-child(odd) .models-list-about__item {
    border-right: 1px solid #D9DAE7;
    padding-right: 3rem; }
  .models-list-about li:nth-child(even) .models-list-about__item {
    padding-left: 5rem; }

.models-list-about__item .photo {
  width: 12rem;
  height: 16rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }
  .models-list-about__item .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .models-list-about__item .photo a.photo:hover {
    opacity: .8; }
.models-list-about__item__data {
  padding-left: 2rem; }
  .models-list-about__item__data .name {
    margin-bottom: .7em; }
  .models-list-about__item__data a.name:hover {
    color: #E4062E; }
  .models-list-about__item__data .options {
    font-size: 1.4rem;
    margin-bottom: 1.25em; }
    .models-list-about__item__data .options .icon {
      margin-right: .25em; }
  .models-list-about__item__data .descr {
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.video-list li {
  width: 100%;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #D9DAE7; }
  .video-list li.no-border {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: none; }
  .video-list li.pb-2 {
    padding-bottom: 2rem; }
  .video-list li.mb-2 {
    margin-bottom: 2rem; }
  .video-list li.pb-3 {
    padding-bottom: 3rem; }
  .video-list li.mb-3 {
    margin-bottom: 3rem; }

.video-list__item__video {
  width: 50%;
  position: relative; }
  .video-list__item__video--full-width {
    width: 100%; }
  .video-list__item__video img, .video-list__item__video video, .video-list__item__video iframe {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .video-list__item__video .time,
  .video-list__item__video .quality {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 1.6rem;
    padding: .3em .65em;
    color: #fff;
    position: absolute;
    z-index: 1; }
  .video-list__item__video .time {
    left: 2rem;
    bottom: 2rem; }
  .video-list__item__video .quality {
    top: 2rem;
    right: 2rem; }
  .video-list__item__video .play-btn {
    position: absolute;
    width: 8rem;
    height: 8rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .video-list__item__video .play-btn:hover {
      color: #fff; }
    .video-list__item__video .play-btn .icon {
      width: 100%;
      height: 100%; }
.video-list__item__descr {
  width: 50%;
  padding-left: 3rem; }
  .video-list__item__descr__top .avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-right: 2rem; }
    .video-list__item__descr__top .avatar img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -o-object-fit: cover;
         object-fit: cover; }
  .video-list__item__descr__top .descr-title .h4 {
    margin-bottom: .25em; }
  .video-list__item__descr__top .city {
    font-size: 1.4rem; }
    .video-list__item__descr__top .city .icon {
      margin-right: .5em; }
  .video-list__item__descr .date {
    font-size: 1.4rem;
    margin-bottom: .5em; }
  .video-list__item__descr .descr {
    font-size: 1.4rem;
    line-height: 1.7;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 2rem; }

.raiting .icon {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin-right: .6em;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .raiting .icon:hover, .raiting .icon.active {
    color: #E4062E; }
.raiting .text {
  font-size: 1.4rem; }

.code {
  border: 1px solid #D9DAE7;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.3;
  padding: 10px; }
  .code xmp {
    white-space: normal;
    margin: 0; }

.links-item {
  border-bottom: 1px solid #D9DAE7;
  margin-bottom: 5rem; }

.links-item-content {
  margin-bottom: 5rem; }
  .links-item-content img {
    display: table;
    margin: 0 auto 2rem; }

.adv-example__item {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #D9DAE7; }

.contact__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 770px;
  margin-bottom: 3rem;
  font-size: 14px;
  line-height: 1.3; }
  .contact__item__title {
    width: 40%;
    line-height: 1.3; }
  .contact__item__value {
    width: 60%;
    font-weight: 600;
    padding-left: 20px; }
    .contact__item__value img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem; }

.sign-up-form {
  max-width: 560px; }

.big-photo {
  height: 78rem;
  position: relative; }
  .big-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top; }
  .big-photo .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: .7; }

.profile__avatar {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }
  .profile__avatar--top {
    -webkit-transform: translateY(calc(-50% - 3rem));
            transform: translateY(calc(-50% - 3rem)); }
  .profile__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
    border: 5px solid #fff; }
.profile__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 3rem; }
  .profile__data__top {
    margin-bottom: 2rem; }
    .profile__data__top .badge {
      background-color: #E4062E;
      color: #fff;
      font-size: 1.2rem;
      text-transform: uppercase;
      border-radius: 25px;
      padding: 3px 6px;
      margin-left: 1rem;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .profile__data__top .badge .icon {
        margin-right: 3px; }
    .profile__data__top .number {
      font-size: 3rem;
      font-weight: 600;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .profile__data__top .number .icon {
        width: 1em;
        height: 1em;
        margin-right: 1rem; }
  .profile__data__list:not(:last-child) {
    margin-right: 7rem; }
  .profile__data__list li {
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.3; }
    .profile__data__list li .title {
      white-space: nowrap; }
    .profile__data__list li .value {
      padding-left: 1rem; }

.map iframe,
.map img {
  width: 100%; }

.photos-list {
  margin: 0 -1rem; }
  .photos-list li {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 2rem; }
    .photos-list li a {
      display: block; }
      .photos-list li a:hover {
        opacity: .8; }

.profile-page {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .profile-page__aside {
    width: 22rem;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }

.profile-page__menu {
  width: 100%;
  border: 1px solid #D9DAE7;
  border-radius: 20px;
  overflow: hidden; }
  .profile-page__menu--top {
    margin-top: -11rem; }
  .profile-page__menu li {
    padding: 0 1.25em;
    color: #707987;
    background: #fff; }
    .profile-page__menu li:hover, .profile-page__menu li.active {
      background-color: #D9DAE7;
      color: #E4062E; }
    .profile-page__menu li:last-child a {
      border-bottom: none; }
    .profile-page__menu li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #D9DAE7;
      font-size: 1.4rem;
      padding: 1em 0; }
      .profile-page__menu li a .icon {
        margin-right: .4em; }

.profile-page__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 3rem; }

.photo-edit-block {
  height: 100%;
  position: relative; }
  .photo-edit-block::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%); }
  .photo-edit-block:hover .photo-edit__cta {
    opacity: 1; }
  .photo-edit-block img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .photo-edit-block .checkbox {
    position: absolute;
    top: 10px;
    left: 10px; }

.photo-edit__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem; }

.main-photo-status {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  padding: .4em .8em;
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 25px;
  background: #E8E8EE;
  color: #707987;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .main-photo-status:hover {
    background: #E4062E;
    color: #fff; }
  .main-photo-status--approved {
    color: #fff;
    background: transparent;
    padding: 0;
    pointer-events: none;
    cursor: default; }

.photo-status .icon {
  margin-right: .5rem; }

.photo-edit__cta {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 1rem;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s; }

.cta-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .cta-btn:hover {
    background: #E4062E;
    color: #fff; }
  .cta-btn svg {
    width: 60%;
    height: 60%; }

.cta-btn__center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.location-row {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #D9DAE7; }
  .location-row:first-child {
    border-top: 1px solid #D9DAE7;
    padding-top: 2rem; }

.form-container {
  background-color: #fff;
  border: 1px solid #D9DAE7;
  border-radius: 20px;
  padding: 3rem 2.5rem; }

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem; }
  .tab-list li {
    font-size: 1.4rem;
    color: #707987;
    background-color: #E8E8EE;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .7em 1.25em;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }
    .tab-list li:hover, .tab-list li.active {
      background-color: #E4062E;
      color: #fff; }

.tab-content {
  display: none; }
  .tab-content.active {
    display: block; }

.table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #D9DAE7;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  font-size: 1.4rem; }
  .table td {
    padding: 2em 1em;
    vertical-align: middle; }
    .table td:last-child {
      text-align: right; }
  .table thead td {
    text-transform: uppercase;
    color: #707987;
    background-color: #E8E8EE;
    font-weight: 600; }
  .table tbody td {
    border-bottom: 1px solid #D9DAE7; }

.payment-methods-row {
  margin: 0 -.5rem; }

.payment-method__item {
  width: 25%;
  padding: 0 .5rem;
  margin-bottom: 1rem; }

.payment-methods__item__content input {
  display: none; }
  .payment-methods__item__content input:checked + label {
    color: #000; }
    .payment-methods__item__content input:checked + label::before {
      opacity: 1; }
.payment-methods__item__content label {
  display: block;
  height: 8.5714em;
  border: 1px solid #D9DAE7;
  border-radius: 20px;
  color: #707987;
  text-align: center;
  padding: 1.25em;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .payment-methods__item__content label::before {
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 20px;
    border: 4px solid #E4062E;
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
  .payment-methods__item__content label .payment-name {
    margin-bottom: 1.25em;
    display: block; }
  .payment-methods__item__content label .payment-logo {
    display: block;
    height: 30px; }
    .payment-methods__item__content label .payment-logo img {
      max-width: 100%;
      height: 100%; }

.login-page {
  width: 100%;
  height: 100vh;
  background: #000 url("../img/bg/login-bg.png") 0 0 no-repeat;
  background-size: cover;
  padding-bottom: 5rem; }
  .login-page .btn--grey {
    background: #292931;
    color: #707987; }
  .login-page .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .login-page__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .login-page__content form {
      width: 100%; }
    .login-page__content .logo {
      width: 100%;
      max-width: 480px;
      margin-bottom: 5rem; }
      .login-page__content .logo img {
        width: 100%; }
    .login-page__content p {
      font-size: 16px;
      line-height: 1.5;
      max-width: 720px;
      margin: 0 auto 1.5em; }
    .login-page__content .h1 {
      font-size: 40px;
      margin-bottom: 1em; }
    .login-page__content .h2 {
      font-size: 36px;
      margin-bottom: 1em; }

.login-page__menu li {
  padding: 0 10px;
  font-size: 14px; }
  .login-page__menu li a:hover {
    color: #E4062E; }

.login-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }
  .login-form .h3 {
    font-size: 30px;
    margin-bottom: 1.6em; }
  .login-form .input {
    border-color: #E4062E;
    color: #fff; }
    .login-form .input::-webkit-input-placeholder {
      color: #fff; }
    .login-form .input:-ms-input-placeholder {
      color: #fff; }
    .login-form .input::-ms-input-placeholder {
      color: #fff; }
    .login-form .input::placeholder {
      color: #fff; }

.login-form__row {
  margin-bottom: 5rem; }
  .login-form__row .checkbox {
    margin-bottom: 0; }

.signup-block {
  margin-top: 5rem;
  color: #707987; }
  .signup-block p {
    margin-bottom: 1em; }
  .signup-block .btn {
    margin-bottom: 2.5rem; }
    .signup-block .btn--grey:hover {
      background: #E4062E;
      color: #fff; }

.forgot-link:hover {
  text-decoration: underline; }

.photo-vrf-descr__status {
  text-align: center;
  line-height: 1.4;
  font-size: 1.4rem;
  width: 18rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 4rem 1.2rem; }
  .photo-vrf-descr__status--error {
    background-color: #E4062E;
    color: #fff; }
  .photo-vrf-descr__status--wait {
    background-color: #FF9900;
    color: #fff; }
  .photo-vrf-descr__status--success {
    background-color: #00D361;
    color: #fff; }
  .photo-vrf-descr__status .icon {
    width: 3.5rem;
    height: 3.5rem; }

.photo-vrf-descr__text {
  padding-right: 2rem; }

.vrf-instruction {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #D9DAE7;
  padding: 2rem 3rem 0; }

.vrf-photo {
  width: 28rem;
  position: relative; }
  .vrf-photo::before {
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0; }
  .vrf-photo img {
    width: 100%; }
  .vrf-photo__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    z-index: 1; }

/*Footer*/
.footer {
  background: #101117 url("../img/bg/footer_decor_bg.png") 0 0 no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 4px 20px rgba(16, 17, 23, 0.2);
          box-shadow: 0 4px 20px rgba(16, 17, 23, 0.2);
  padding: 5rem 2rem;
  font-size: 1.4rem; }
  .footer-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; }
  .footer__left {
    max-width: 55rem; }
  .footer__right {
    width: calc(100% - 75rem); }
  .footer .logo {
    display: table; }

.footer__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  color: #C0C6D0; }

.social img {
  width: 30px; }
.social li a:hover {
  opacity: .8; }

.footer__item {
  width: 45%; }
  .footer__item .h3 {
    margin-bottom: 1.5rem; }

.footer__menu {
  font-size: 1.4rem;
  font-weight: 600; }
  .footer__menu li {
    line-height: 1.2;
    margin-bottom: 1.5rem; }
    .footer__menu li a:hover {
      color: #E4062E; }

@media (max-width: 1600px) {
  html {
    font-size: .65vw; }

  .login-page__content .logo {
    margin-bottom: 3rem; }

  .login-page__content p {
    font-size: 14px; }
  .login-page__content .h1 {
    font-size: 34px; }
  .login-page__content .h2 {
    font-size: 30px; } }
@media (max-width: 1440px) {
  .login-page__content {
    padding-top: 30px; }

  .login-page__content .logo {
    max-width: 320px; }

  .login-form .h3,
  .login-form__row {
    margin-bottom: 25px; }

  .signup-block {
    margin-top: 25px; } }
/*1440*/
@media (max-width: 1270px) {
  html {
    font-size: .75vw; }

  .container {
    max-width: 90%; }

  .burger {
    display: block; }

  .header__nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(16, 17, 23, 0.95);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 60px 15px;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    visibility: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    z-index: 10; }
    .header__nav.active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      visibility: visible; }
    .header__nav__container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }

  .menu {
    display: block; }
    .menu > li {
      margin-bottom: 25px; }
      .menu > li > a {
        font-size: 18px;
        padding: 0; }
        .menu > li > a::before {
          display: none; }

  .submenu__parent > a::after {
    width: 10px;
    height: 6px;
    margin-left: 10px; }

  .search-form {
    display: block;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    margin: 0 0 30px;
    width: 100%;
    max-width: 480px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }

  .search-input {
    padding-right: 60px; }

  .search-submit {
    width: 50px; }

  .for-tablet {
    display: block; }
    .for-tablet.d-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

  .close-menu {
    position: absolute;
    top: 20px;
    left: 20px; }

  .hidden-tablet {
    display: none !important; }

  .logo {
    max-width: 200px; }

  .submenu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    visibility: visible;
    opacity: 1;
    display: none;
    background-color: transparent; }
    .submenu li {
      margin-top: 20px; }
      .submenu li a {
        padding: 0;
        font-size: 16px;
        color: #fff; }

  .submenu__parent.active > a::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

  .photo-edit__cta {
    opacity: 1; } }
/* 1270 */
@media (max-width: 1024px) {
  html {
    font-size: .85vw; }

  .btn {
    font-size: 14px; }

  .slider-preview__item__name {
    font-size: 1.4rem; }

  .container {
    max-width: 100%; }

  .models-list li {
    width: 33.333%; }

  .models-list__item__option.crown {
    font-size: 10px; }

  .models-list__item .location {
    font-size: 12px; }

  .model-name {
    font-size: 2.7rem; }

  .footer__left,
  .footer__right {
    width: 45%; }

  .footer__item {
    width: 50%; }

  .input-wrapper {
    margin-bottom: 20px; }
    .input-wrapper span {
      font-size: 14px;
      margin-bottom: 7px; }

  .checkbox,
  .radio {
    margin-bottom: 15px; }
    .checkbox label,
    .radio label {
      font-size: 14px; }

  .input-wrapper--three-column .checkbox {
    width: 50%; }

  .comment-item__left .btn {
    font-size: 12px; }

  .text--lt {
    font-size: 14px; }
  .text--sm {
    font-size: 12px; }

  .input-wrapper span.text--lt {
    font-size: 12px; }

  .tab-list li {
    font-size: 14px; }

  .table {
    font-size: 12px; }

  .user-header__body::after {
    width: 10px;
    height: 6px; } }
/*1024*/
@media (max-width: 767px) {
  .location-list-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .location-list-content__item {
    width: 100%; }

  .location-list {
    font-size: 14px; }
    .location-list li {
      margin-bottom: 10px; }

  .top-block {
    display: block; }
    .top-block .h2 {
      font-size: 24px;
      margin-bottom: 10px; }

  .filter-block {
    display: block; }
    .filter-block__title {
      font-size: 14px;
      display: block;
      margin-bottom: 15px; }
    .filter-block__content {
      overflow-x: auto;
      padding-bottom: 10px; }

  .select,
  .input {
    height: 35px; }

  .comment-item {
    display: block; }
    .comment-item__left, .comment-item__right {
      width: 100%; }
    .comment-item__left {
      margin-bottom: 20px;
      border-right: none; }
      .comment-item__left__img {
        width: 120px;
        height: 160px; }
      .comment-item__left__data .h4 {
        font-size: 16px; }
    .comment-item__right {
      padding-left: 0; }
      .comment-item__right__top .avatar {
        width: 40px;
        height: 40px; }
      .comment-item__right__top__right {
        margin-left: 10px; }
        .comment-item__right__top__right__title {
          font-size: 14px; }
      .comment-item__right__top .email {
        font-size: 12px; }

  .data__item {
    font-size: 14px;
    margin-bottom: 10px; }

  .comment-body {
    padding-left: 0;
    font-size: 14px;
    margin-top: 15px; }

  .models-list-about li {
    width: 100%; }
    .models-list-about li .models-list-about__item {
      padding-right: 0 !important;
      padding-left: 0 !important;
      border-right: none !important; }

  .models-list-about__item .photo {
    width: 100px;
    height: 150px; }
  .models-list-about__item__data .name {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.2; }
  .models-list-about__item__data .options {
    font-size: 12px;
    margin-bottom: 5px; }
  .models-list-about__item__data .descr {
    font-size: 12px;
    -webkit-line-clamp: 5; }

  p {
    font-size: 15px; }

  .profile__avatar {
    width: 17rem;
    height: 17rem; }

  .profile__data__list {
    font-size: 13px; }

  h3, .h3 {
    font-size: 2.6rem; }

  .list {
    font-size: 14px; }

  .location-row__left {
    font-size: 12px; }

  .tab-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto; }

  .table-wrapper {
    overflow-x: auto; }

  .table {
    min-width: 560px; }

  .login-page {
    height: auto;
    min-height: 100vh;
    padding: 50px 0; }

  .login-page__content .logo {
    max-width: 80%; }

  .login-page__content .h2 {
    font-size: 24px; }

  .login-page .btn-container {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .login-page .btn-container .btn {
      width: 48%;
      margin-right: 1%;
      margin-bottom: 10px; }

  .login-page__menu li {
    font-size: 12px;
    margin-bottom: 10px; }

  .forgot-link {
    font-size: 14px; }

  .photo-vrf-descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px; }

  .photo-vrf-descr__text {
    padding-right: 0; }

  .photo-vrf-descr__status {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    font-size: 14px;
    margin-top: 2rem; }
    .photo-vrf-descr__status .icon {
      margin-bottom: 0;
      margin-right: 2rem;
      width: 30px;
      height: 30px; }

  .vrf-photo {
    width: 100%;
    max-width: 400px;
    margin-top: 30px; }
    .vrf-photo .photo-status .text {
      display: inline-block;
      font-size: 14px;
      margin-left: .5em; } }
/*767*/
@media (max-width: 480px) {
  html {
    font-size: 5px; }

  .for-mobile {
    display: block; }
    .for-mobile.d-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

  .hidden-mobile {
    display: none !important; }

  .header-actions:not(.header .header-actions) {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-actions:not(.header .header-actions) .btn {
      width: 48%;
      margin: 0; }
      .header-actions:not(.header .header-actions) .btn--transparent {
        background-color: #fff;
        color: #E4062E; }

  .header__left {
    width: 100%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .burger {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

  .slide__title {
    font-size: 5rem;
    margin-bottom: 10px; }

  .slide__subtitle {
    font-size: 3.5rem;
    margin-bottom: 10px; }
    .slide__subtitle::before {
      width: 1.5em; }

  .slide__descr {
    font-size: 14px; }
    .slide__descr br {
      display: none; }

  .slider-preview__item {
    width: 100px; }

  .slider-preview__slide {
    padding: 0 10px; }

  .slider-preview__item__img {
    width: 100px;
    height: 100px; }

  .slider-preview__item__name,
  .copyright,
  .footer__menu {
    font-size: 12px; }

  h1, .h1 {
    font-size: 5rem;
    line-height: 1.3; }

  h2, .h2 {
    font-size: 4rem;
    line-height: 1.3; }

  h3, .h3 {
    font-size: 3rem;
    line-height: 1.3; }

  h4, .h4 {
    font-size: 17px;
    line-height: 1.3; }

  .models-list li {
    width: 50%; }

  .model-name {
    font-size: 3.5rem; }

  .slick-arrow {
    width: 35px;
    height: 35px; }

  .banners-slider .slick-dots {
    bottom: 10px; }

  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  .footer__left, .footer__right {
    width: 100%;
    max-width: none; }

  .footer__item {
    margin-bottom: 20px; }
    .footer__item .h3 {
      margin-bottom: 15px; }

  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__left .social {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      margin-bottom: 20px; }

  .footer {
    padding-bottom: 60px; }

  .pagination li {
    margin-bottom: 10px; }
    .pagination li:first-child, .pagination li:last-child {
      padding: 0 3px; }
      .pagination li:first-child a, .pagination li:last-child a {
        padding: 0 6px; }
        .pagination li:first-child a .icon, .pagination li:last-child a .icon {
          margin: 0; }
    .pagination li a {
      font-size: 13px;
      min-width: 25px;
      height: 25px; }
      .pagination li a .text {
        display: none; }

  .location-list > li > a::after {
    width: 10px;
    height: 6px;
    margin-left: 10px; }

  .video-list__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .video-list__item__video {
      width: 100%;
      margin-bottom: 3rem; }
      .video-list__item__video--full-width {
        margin-bottom: 0; }
      .video-list__item__video .time,
      .video-list__item__video .quality {
        font-size: 12px; }
      .video-list__item__video .play-btn {
        width: 60px;
        height: 60px; }
    .video-list__item__descr {
      width: 100%;
      padding-left: 0; }
      .video-list__item__descr__top .avatar {
        width: 50px;
        height: 50px; }
      .video-list__item__descr__top .descr-title .h4 {
        font-size: 16px; }
      .video-list__item__descr__top .city {
        font-size: 12px; }
      .video-list__item__descr .date {
        font-size: 12px; }
      .video-list__item__descr .descr {
        font-size: 14px; }
      .video-list__item__descr .raiting .icon {
        width: 30px;
        height: 30px;
        margin-right: 10px; }
      .video-list__item__descr .raiting .text {
        font-size: 12px; }

  .code {
    font-size: 12px; }

  p {
    font-size: 14px;
    line-height: 1.5; }

  .contact__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .contact__item__title {
      width: 100%;
      margin-bottom: 5px; }
    .contact__item__value {
      width: 100%;
      padding-left: 0; }

  .list--order {
    padding-left: 15px; }

  .photos-list li {
    width: 50%; }

  .profile-block {
    display: block; }

  .profile__avatar {
    margin-bottom: 15px; }
    .profile__avatar--top {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .profile__data {
    padding-left: 0; }
    .profile__data__top {
      display: block; }
      .profile__data__top .h3 {
        font-size: 20px;
        margin-bottom: 10px; }
      .profile__data__top .badge {
        font-size: 12px; }
      .profile__data__top .number {
        font-size: 18px; }
    .profile__data__list-wrapper {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .profile__data__list {
      width: 100%;
      margin-right: 0 !important;
      font-size: 14px; }

  .big-photo {
    height: 50rem; }

  .profile-page__menu--top {
    margin-top: 0;
    font-size: 14px; }

  .profile-page {
    display: block; }
    .profile-page__aside {
      width: 100%;
      margin-bottom: 20px; }
      .profile-page__aside .profile__avatar {
        display: none; }

  .profile-page__menu li a {
    font-size: 14px; }

  .map-block .btn-container .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px; }

  .profile-page__content {
    padding-left: 0; }

  .photo-status .text {
    display: none; }

  .main-photo-status {
    font-size: 10px; }

  .location-row__left__title {
    display: block;
    line-height: 1.3;
    margin-bottom: 4px; }

  .input-wrapper--three-column .select,
  .input-wrapper--three-column .input {
    width: 100%;
    margin-bottom: 10px; }

  .payment-method__item {
    width: 50%; }

  .payment-methods__item__content label {
    font-size: 14px;
    height: 90px; }

  .payment-methods__item__content label .payment-logo {
    height: 25px; }

  .user-header .dropdown {
    width: 220px;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px; }

  .login-form .h3 {
    font-size: 22px; }

  .login-page {
    padding-top: 25px; }

  .login-page__content {
    padding-top: 0; } }
/*480*/
@media (max-width: 350px) {
  .models-list li {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
