doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Advertise
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        section.section.py-4.bg-grey
            .container
                .top-block.d-flex.justify-space-between.mb-3.align-center
                    .h2.font-800 Advertise
                p.text-color-grey-dark.mb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .text-block
                    .h4.font-600.mb-1 Morbi sollicitudin fringilla ipsum
                    p.text--lt.
                        Nulla ligula mauris, scelerisque vitae ligula vitae, condimentum dapibus purus. Nunc accumsan, eros nec venenatis molestie, sem eros commodo dui, in aliquet ante mauris ac felis. Donec a orci rutrum, mollis ipsum convallis, venenatis orci. Etiam egestas, dui at gravida suscipit, leo dolor suscipit mauris, rhoncus pharetra leo ligula sit amet leo.
                .line.my-3
                .adv-example
                    .adv-example__item
                        .h4.font-600 Big Header Banner (1920x500)  - <span class="font-400">1 month</span> 140 EUR
                        p.text-color-grey-dark.text--sm.mb-1 Banner will be shown on escort list page under chosen country.
                        img(src="img/adv/1.jpg" alt="")
                    .adv-example__item
                        .h4.font-600 Big Header Banner (1920x500)  - <span class="font-400">1 month</span> 140 EUR
                        p.text-color-grey-dark.text--sm.mb-1 Banner will be shown on escort list page under chosen country.
                        img(src="img/adv/2.jpg" alt="")
                    .adv-example__item
                        .h4.font-600 Big Header Banner (1920x500)  - <span class="font-400">1 month</span> 140 EUR
                        p.text-color-grey-dark.text--sm.mb-1 Banner will be shown on escort list page under chosen country.
                        img(src="img/adv/3.jpg" alt="")
                    .adv-example__item
                        .h4.font-600 Big Header Banner (1920x500)  - <span class="font-400">1 month</span> 140 EUR
                        p.text-color-grey-dark.text--sm.mb-1 Banner will be shown on escort list page under chosen country.
                        img(src="img/adv/4.jpg" alt="")
                    .adv-example__item
                        .h4.font-600 Big Header Banner (1920x500)  - <span class="font-400">1 month</span> 140 EUR
                        p.text-color-grey-dark.text--sm.mb-1 Banner will be shown on escort list page under chosen country.
                        img(src="img/adv/5.jpg" alt="")
                .contact-block
                    .h2.font-800.mb-2 Сontact Us
                    p.text-color-grey-dark.text--lt.mb-2 ShemaleCanada is now under new administration.
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark You can contact us by Whatsapp:
                        .contact__item__value +372 56 886 126 <img src="img/social/whatsapp_green.svg" alt="">
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark Technical Contact:
                        .contact__item__value
                            a(href="mailto:").text-color-red admin@shemalecanada.com<br>
                            Email this address if you find website technical problems.
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark Sales Contact:
                        .contact__item__value
                            a(href="mailto:").text-color-red sales@shemalecanada.com<br>
                            Email this address for customer service and advertising issues.
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark Shemale Canada is a Property of:
                        .contact__item__value TSDMedia OÜ <br> Narva mnt 5, 10117 Tallinn, Estonia
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


