doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Comments
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        section.section.py-4
            .container
                .top-block.d-flex.justify-space-between.mb-3
                    .h2.font-800 Comments <span class="text-color-grey-dark font-400">346</span>
                    .filter-block.d-flex.align-center
                        .filter-block__title.nowrap.mr-2 Filter by:
                        .filter-block__content.d-flex.align-center
                            select.select.mr-1
                                option Penis Size
                                option Age
                                option Services
                            select.select.mr-1
                                option Orientaion
                                option Age
                                option Services
                            select.select
                                option Services
                                option Age
                                option Services
                .comment-wrapper
                    -
                        var comments = [
                            {
                                img: 'model-1.jpg',
                                name: 'Nicole Aniston',
                                age: '‘23',
                                city: 'Vancouver',
                                commentsCount: '3 Comments',
                                avatar: 'model-2.jpg',
                                clientName: 'Autumn Falls',
                                date: '2 days ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-3.jpg',
                                name: 'Angela White',
                                age: '‘18',
                                city: 'Vancouver',
                                commentsCount: '5 Comments',
                                avatar: 'model-1.jpg',
                                clientName: 'Ragnar Lodbrock',
                                date: '1 day ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve done a couple of overnights with sexy Luxandra she\'s a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx'
                            },
                            {
                                img: 'model-2.jpg',
                                name: 'Ragnar Lodbrock',
                                age: '‘23',
                                city: 'Vancouver',
                                commentsCount: '3 Comments',
                                avatar: 'model-1.jpg',
                                clientName: 'Nicolas',
                                date: '5 days ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-1.jpg',
                                name: 'Nicole Aniston',
                                age: '‘23',
                                city: 'Vancouver',
                                commentsCount: '3 Comments',
                                avatar: 'model-2.jpg',
                                clientName: 'Autumn Falls',
                                date: '2 days ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-3.jpg',
                                name: 'Angela White',
                                age: '‘18',
                                city: 'Vancouver',
                                commentsCount: '5 Comments',
                                avatar: 'model-1.jpg',
                                clientName: 'Ragnar Lodbrock',
                                date: '1 day ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve done a couple of overnights with sexy Luxandra she\'s a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx'
                            },
                            {
                                img: 'model-2.jpg',
                                name: 'Ragnar Lodbrock',
                                age: '‘23',
                                city: 'Vancouver',
                                commentsCount: '3 Comments',
                                avatar: 'model-1.jpg',
                                clientName: 'Nicolas',
                                date: '5 days ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-1.jpg',
                                name: 'Nicole Aniston',
                                age: '‘23',
                                city: 'Vancouver',
                                commentsCount: '3 Comments',
                                avatar: 'model-2.jpg',
                                clientName: 'Autumn Falls',
                                date: '2 days ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-3.jpg',
                                name: 'Angela White',
                                age: '‘18',
                                city: 'Vancouver',
                                commentsCount: '5 Comments',
                                avatar: 'model-1.jpg',
                                clientName: 'Ragnar Lodbrock',
                                date: '1 day ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve done a couple of overnights with sexy Luxandra she\'s a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx'
                            },
                            {
                                img: 'model-2.jpg',
                                name: 'Ragnar Lodbrock',
                                age: '‘23',
                                city: 'Vancouver',
                                commentsCount: '3 Comments',
                                avatar: 'model-1.jpg',
                                clientName: 'Nicolas',
                                date: '5 days ago',
                                email: 'email@gmail.com',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                        ]
                    each val in comments
                        .comment-item.d-flex
                            .comment-item__left.d-flex
                                .comment-item__left__img
                                    img(src=`img/${val.img}`)
                                .comment-item__left__data.d-flex.flex-direction-column
                                    .comment-item__left__data__top
                                        .h4.font-500= val.name
                                            span.text-color-grey-dark= val.age
                                        .data__item.text-color-grey-dark.mb-1.d-flex.align-center
                                            span.icon.mr-1
                                                svg
                                                    use(xlink:href="#svg-pin")
                                            span.text= val.city
                                        .data__item.text-color-grey-dark.mb-1.d-flex.align-center
                                            span.icon.mr-1
                                                svg
                                                    use(xlink:href="#svg-comments")
                                            span.text= val.commentsCount
                                    a(href="#").btn.btn--grey.btn--short View my profile
                            .comment-item__right
                                .comment-item__right__top.d-flex.align-center
                                    img(src=`img/${val.avatar}`).avatar
                                    .comment-item__right__top__right
                                        .comment-item__right__top__right__title
                                            span.client-name.mr-1= val.clientName
                                            span.text-color-grey-dark= val.date
                                        a(href=`mailto:${val.email}`).email.text-color-red= val.email
                                .comment-body.
                                    I've done a couple of overnights with sexy Luxandra she's a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx
                .my-4
                    include includes/pagination
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


