doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Contact
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        section.section.pt-4.pb-5
            .container
                .contact-block
                    .h2.font-800.mb-2 Сontact Us
                    p.text-color-grey-dark.text--lt.mb-2 ShemaleCanada is now under new administration.
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark You can contact us by Whatsapp:
                        .contact__item__value +372 56 886 126 <img src="img/social/whatsapp_green.svg" alt="">
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark Technical Contact:
                        .contact__item__value
                            a(href="mailto:").text-color-red admin@shemalecanada.com<br>
                            Email this address if you find website technical problems.
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark Sales Contact:
                        .contact__item__value
                            a(href="mailto:").text-color-red sales@shemalecanada.com<br>
                            Email this address for customer service and advertising issues.
                    .contact__item.d-flex
                        .contact__item__title.text-color-grey-dark Shemale Canada is a Property of:
                        .contact__item__value TSDMedia OÜ <br> Narva mnt 5, 10117 Tallinn, Estonia
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


