doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Profile
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        .big-photo
            img(src="img/photo_lg.jpg" alt="")
        .container.pb-5
            .profile-block.d-flex.py-3
                .profile__avatar.profile__avatar--top
                    img(src="img/model-1.jpg" alt="")
                .profile__data
                    .profile__data__top.d-flex.justify-space-between.align-center
                        .h3.font-800.
                            Serena Wood
                            <span class="badge font-400"><span class="icon"><svg><use xlink:href="#svg-webcam"></use></svg></span>sexcam</span>
                        a(href="#").number
                            span.icon
                                img(src="img/social/whatsapp_green.svg" alt="")
                            span.text +8 (525) 644-58-06
                    .profile__data__list-wrapper.d-flex
                        ul.profile__data__list
                            li
                                span.title.text-color-grey-dark Location:
                                span.value Vancouver
                            li
                                span.title.text-color-grey-dark Gender:
                                span.value Shemale
                            li
                                span.title.text-color-grey-dark Sexual Orientation:
                                span.value Male
                            li
                                span.title.text-color-grey-dark Penis Size:
                                span.value 15 cm (5.9”)
                        ul.profile__data__list
                            li
                                span.title.text-color-grey-dark Services:
                                span.value <span class="text-color-red">BDSM Dominatrix</span>, Submissive BDSM, Girlfriend Experience, Golden Shower, Sex Toys, Fetish Clothes, Client Feminization
                            li
                                span.title.text-color-grey-dark Website:
                                span.value <a href="#" class="text-color-red">serenawood.com</a>
                    .line.mt-1.mb-2
                    p.text-color-grey-dark Last visit:<span class="text-color-black"> 01:39 24 November 2021</span>  |  Updated: <span class="text-color-black">12:30 23 Jule 2021</span>
                    .line.my-2
                    p.
                        If you are passionate about Venezuela and are looking for a luxury escort to spend a dream night, you have to meet yulia. and it is that yulia has the charms of her country palpable in her flesh, in her accent, her way of smiling and in the way of moving, also ... if you have noticed her angelic face, her long mane to be able to grab in moments of lust and his mouth with soft and sweet lips that will be the jackpot in your encounters. Erotic showers, titfuck , golden shower ... anything you imagine with this exquisite Latin girl will be a good starting point to fill your nights of debauchery and passion. let yourself be enchanted by the charm of yulia and come to meet her in black pearl or schedule an appointment with her at your own address, do not miss this opportunity!
            .line.my-2
            .photos.mt-4
                .h3.font-800.mb-2 Photos
                ul.photos-list.d-flex.flex-wrap
                    each img in ['model-1.jpg', 'model-2.jpg', 'model-3.jpg', 'model-1.jpg', 'model-2.jpg', 'model-3.jpg', 'model-1.jpg', 'model-2.jpg']
                        li
                            a(href="#")
                                img(src=`img/${img}` alt="")
            .line.my-2
            .map-block.mb-3
                .h3.font-800.mb-2 Serena Wood in the Map
                .map
                    img(src="img/map.jpg" alt="")
            .h2.font-800.mb-3 Comments <span class="text-color-grey-dark font-400">346</span>
            form(action="#")
                .input-wrapper
                    span Comment text:
                    textarea.input
                input(type="submit" value="Send").btn.btn--red.btn--large
            .comment-wrapper.py-4
                -
                    var comments = [
                        {
                            avatar: 'model-2.jpg',
                            clientName: 'Autumn Falls',
                            date: '2 days ago',
                            email: 'email@gmail.com',
                            comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                        },
                        {
                            avatar: 'model-1.jpg',
                            clientName: 'Autumn Falls',
                            date: '2 days ago',
                            email: 'email@gmail.com',
                            comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                        },
                        {
                            avatar: 'model-3.jpg',
                            clientName: 'Autumn Falls',
                            date: '2 days ago',
                            email: 'email@gmail.com',
                            comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                        },
                        {
                            avatar: 'model-1.jpg',
                            clientName: 'Autumn Falls',
                            date: '2 days ago',
                            email: 'email@gmail.com',
                            comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                        },
                    ]
                each val in comments
                    .comment-item.comment-item--no-border.d-flex
                        .comment-item__right.comment-item__right--full-width
                            .comment-item__right__top.d-flex.align-center
                                img(src=`img/${val.avatar}`).avatar
                                .comment-item__right__top__right
                                    .comment-item__right__top__right__title
                                        span.client-name.mr-1= val.clientName
                                        span.text-color-grey-dark= val.date
                                    a(href=`mailto:${val.email}`).email.text-color-red= val.email
                            .comment-body.
                                I've done a couple of overnights with sexy Luxandra she's a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx
                .my-4
            .h3.font-800.mb-3 Latest Video
            ul.video-list.d-flex.flex-wrap
                li.no-border
                    .video-list__item.d-flex
                        .video-list__item__video.video-list__item__video--full-width
                            img(src=`img/video-preview-1.jpg` alt="")
                            spam.time 23:10
                            span.play-btn
                                span.icon
                                    svg
                                        use(xlink:href="#svg-play")
                            span.quality HD
            a(href="#").btn.btn--red-gradient SEE MORE VIDEOS
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


