doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Escort Video
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        .container.pb-5
            .profile-block.d-flex.py-3
                .profile__avatar
                    img(src="img/model-1.jpg" alt="")
                .profile__data
                    .profile__data__top.d-flex.justify-space-between.align-center
                        .h3.font-800.
                            Serena Wood
                            <span class="badge font-400"><span class="icon"><svg><use xlink:href="#svg-webcam"></use></svg></span>sexcam</span>
                        a(href="#").number
                            span.icon
                                img(src="img/social/whatsapp_green.svg" alt="")
                            span.text +8 (525) 644-58-06
                    .profile__data__list-wrapper.d-flex
                        ul.profile__data__list
                            li
                                span.title.text-color-grey-dark Location:
                                span.value Vancouver
                            li
                                span.title.text-color-grey-dark Gender:
                                span.value Shemale
                            li
                                span.title.text-color-grey-dark Sexual Orientation:
                                span.value Male
                            li
                                span.title.text-color-grey-dark Penis Size:
                                span.value 15 cm (5.9”)
                        ul.profile__data__list
                            li
                                span.title.text-color-grey-dark Services:
                                span.value <span class="text-color-red">BDSM Dominatrix</span>, Submissive BDSM, Girlfriend Experience, Golden Shower, Sex Toys, Fetish Clothes, Client Feminization
                            li
                                span.title.text-color-grey-dark Website:
                                span.value <a href="#" class="text-color-red">serenawood.com</a>
            .line.my-2
            .h3.font-800.mb-3 Latest Video
            ul.video-list.d-flex.flex-wrap
                li.pb-2.mb-2
                    .video-list__item
                        .video-list__item__video.video-list__item__video--full-width
                            img(src=`img/video-preview-1.jpg` alt="")
                            spam.time 23:10
                            span.play-btn
                                span.icon
                                    svg
                                        use(xlink:href="#svg-play")
                            span.quality HD
                        .video-options.d-flex.align-center.justify-space-between.pt-2
                            .raiting.d-flex.align-center.text-color-grey-dark
                                span.icon
                                    svg
                                        use(xlink:href="#svg-thumb-up")
                                span.text 246 likes
                            .date.text-color-grey-dark Date Added: <span class="text-color-black">23 Jule 2021</span>
                li.pb-2.mb-2
                    .video-list__item
                        .video-list__item__video.video-list__item__video--full-width
                            img(src=`img/video-preview-2.jpg` alt="")
                            spam.time 23:10
                            span.play-btn
                                span.icon
                                    svg
                                        use(xlink:href="#svg-play")
                            span.quality HD
                        .video-options.d-flex.align-center.justify-space-between.pt-2
                            .raiting.d-flex.align-center.text-color-grey-dark
                                span.icon
                                    svg
                                        use(xlink:href="#svg-thumb-up")
                                span.text 246 likes
                            .date.text-color-grey-dark Date Added: <span class="text-color-black">23 Jule 2021</span>
                li.pb-2.mb-2
                    .video-list__item
                        .video-list__item__video.video-list__item__video--full-width
                            img(src=`img/video-preview-1.jpg` alt="")
                            spam.time 23:10
                            span.play-btn
                                span.icon
                                    svg
                                        use(xlink:href="#svg-play")
                            span.quality HD
                        .video-options.d-flex.align-center.justify-space-between.pt-2
                            .raiting.d-flex.align-center.text-color-grey-dark
                                span.icon
                                    svg
                                        use(xlink:href="#svg-thumb-up")
                                span.text 246 likes
                            .date.text-color-grey-dark Date Added: <span class="text-color-black">23 Jule 2021</span>
                li.pb-2.mb-2
                    .video-list__item
                        .video-list__item__video.video-list__item__video--full-width
                            img(src=`img/video-preview-2.jpg` alt="")
                            spam.time 23:10
                            span.play-btn
                                span.icon
                                    svg
                                        use(xlink:href="#svg-play")
                            span.quality HD
                        .video-options.d-flex.align-center.justify-space-between.pt-2
                            .raiting.d-flex.align-center.text-color-grey-dark
                                span.icon
                                    svg
                                        use(xlink:href="#svg-thumb-up")
                                span.text 246 likes
                            .date.text-color-grey-dark Date Added: <span class="text-color-black">23 Jule 2021</span>
            .mt-3.mb-5
                include includes/pagination
        .bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


