doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Links
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        section.section.py-4.bg-grey
            .container
                .top-block.d-flex.justify-space-between.mb-3.align-center
                    .h2.font-800 Shemale Canada Links
                p.text-color-grey-dark.mb-4 Here you will find links to Canadian Sites and also the best TS Sites on the Internet
                .links-item
                    .h4.font-600.mb-3 Forums and Reviews
                    .links-item-content
                        img(src="img/banner01.jpg" alt="")
                        .code
                            xmp <a href="https://www.uescort.com/escorts/essex/" title="Escort girl Essex"><img src="https://www.uescort.com/multimedia/1_v4.jpg" border="0" alt="Escort girl Essex"></a>
                    .links-item-content
                        img(src="img/banner02.jpg" alt="")
                        .code
                            xmp <a href="https://www.uescort.com/escorts/essex/" title="Escort girl Essex"><img src="https://www.uescort.com/multimedia/1_v4.jpg" border="0" alt="Escort girl Essex"></a>
                .links-item
                    .h4.font-600.mb-3 Asian Ladyboy Travel Bars and Guest Friendly Hotels
                    .links-item-content
                        img(src="img/banner01.jpg" alt="")
                        .code
                            xmp <a href="https://www.uescort.com/escorts/essex/" title="Escort girl Essex"><img src="https://www.uescort.com/multimedia/1_v4.jpg" border="0" alt="Escort girl Essex"></a>
                    .links-item-content
                        img(src="img/banner02.jpg" alt="")
                        .code
                            xmp <a href="https://www.uescort.com/escorts/essex/" title="Escort girl Essex"><img src="https://www.uescort.com/multimedia/1_v4.jpg" border="0" alt="Escort girl Essex"></a>
                    .links-item-content
                        img(src="img/banner01.jpg" alt="")
                        .code
                            xmp <a href="https://www.uescort.com/escorts/essex/" title="Escort girl Essex"><img src="https://www.uescort.com/multimedia/1_v4.jpg" border="0" alt="Escort girl Essex"></a>
                    .links-item-content
                        img(src="img/banner02.jpg" alt="")
                        .code
                            xmp <a href="https://www.uescort.com/escorts/essex/" title="Escort girl Essex"><img src="https://www.uescort.com/multimedia/1_v4.jpg" border="0" alt="Escort girl Essex"></a>
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


