doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Login
        link(rel="stylesheet" href="css/style.css")
    .wrapper.login-page.text-color-white
        .container
            ul(style="font-size: 24px;line-height: 2; font-weight: 700; padding-top: 50px")
                li: a(href="index.html" target="_blank") Main
                li: a(href="advertise.html" target="_blank") advertise.html
                li: a(href="comments.html" target="_blank") comments.html
                li: a(href="contact.html" target="_blank") contact.html
                li: a(href="escort-profile.html" target="_blank") escort-profile.html
                li: a(href="escort-video-page.html" target="_blank") escort-video-page.html
                li: a(href="links.html" target="_blank") links.html
                li: a(href="login.html" target="_blank") login.html
                li: a(href="login-form.html" target="_blank") login-form.html
                li: a(href="member-ads.html" target="_blank") member-ads.html
                li: a(href="members-photos.html" target="_blank") members-photos.html
                li: a(href="members-profile.html" target="_blank") members-profile.html
                li: a(href="members-travelplan.html" target="_blank") members-travelplan.html
                li: a(href="members-videos.html" target="_blank") members-videos.html
                li: a(href="new-escort.html" target="_blank") new-escort.html
                li: a(href="policy.html" target="_blank") policy.html
                li: a(href="search-escort.html" target="_blank") search-escort.html
                li: a(href="sign-up.html" target="_blank") sign-up.html
                li: a(href="terms.html" target="_blank") terms.html
                li: a(href="video.html" target="_blank") video.html
                li: a(href="visiting-excorts.html" target="_blank") visiting-excorts.html
                li: a(href="photo-vrf.html" target="_blank") photo-vrf.html
