doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Login Form
        link(rel="stylesheet" href="css/style.css")
    .wrapper.login-page.text-color-white
        .container
            .login-page__content.text--center
                .logo: img(src="img/logo.svg" alt="")
                form(action="#")
                    .login-form
                        .h3.font-700 Login Form
                        .input-wrapper
                            input(type="text" placeholder="Username").input
                        .input-wrapper
                           input(type="password" placeholder="Password").input
                        .login-form__row.d-flex.justify-space-between.align-center
                            .checkbox
                                input(type="checkbox" id="ch-1" checked)
                                label(for="ch-1") Remember Me
                            a(href="#").text-color-red.font-700.forgot-link Forgot Password?
                        input(type="submit" value="Login").btn.btn--red-gradient.btn--full-width.text-uppercase

                        .signup-block
                           p Don’t Have an Account?
                           a(href="#").btn.btn--grey.btn--large.text-uppercase Sign Up
                           p If you need help or encounter problems <br>Email: <a href="mailto:">admin@shemalecanada.com</a>

            .login-page__bottom
                .h3.font-700.text--center.mb-2 Our Network
                ul.login-page__menu.d-flex.flex-wrap.justify-center
                    li: a(href="#") TS-Dating.com
                    li: a(href="#") Londonts.com
                    li: a(href="#") Niamodel.com
                    li: a(href="#") Riorelax.com.br
                    li: a(href="#") Bonecasrelax.com
                    li: a(href="#") Tgirlforums.com
                    li: a(href="#") Transexinfo.com
