doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Login
        link(rel="stylesheet" href="css/style.css")
    .wrapper.login-page.text-color-white
        .container
            .login-page__content.text--center
                .logo: img(src="img/logo.svg" alt="")
                .h1.font-800 ADULTS ONLY!
                p.mb-2.
                    This website contains nudity, explicit sexual content and adult language. It should be accessed only by people who are of legal age in the physical location from where you are accessing the site. By accessing this website, you are representing to us that you are of legal age and agree to our Terms & Conditions. Any unauthorized use of this site may violate state, federal and/or foreign law.
                p.mb-2.
                    This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
                .h2.font-800 If you are over 18 years old
                .btn-container.d-flex.justify-center
                    a(href="#").btn.btn--red-gradient.text-uppercase.mr-1 Escorts
                    a(href="#").btn.btn--red-gradient.text-uppercase.mr-2 Webcams
                    a(href="#").btn.btn--grey.text-uppercase NO, Leave
            .login-page__bottom
                .h3.font-700.text--center.mb-2 Our Network
                ul.login-page__menu.d-flex.flex-wrap.justify-center
                    li: a(href="#") TS-Dating.com
                    li: a(href="#") Londonts.com
                    li: a(href="#") Niamodel.com
                    li: a(href="#") Riorelax.com.br
                    li: a(href="#") Bonecasrelax.com
                    li: a(href="#") Tgirlforums.com
                    li: a(href="#") Transexinfo.com
