doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Members Photo
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        section.section.bg-grey.pb-5
            .container
                .profile-page.d-flex.py-3
                    .profile-page__aside
                        .profile__avatar.mb-2
                            img(src="img/model-1.jpg" alt="")
                        include includes/aside-menu
                    .profile-page__content
                        .h2.font-800.mb-4 My Photos
                        .h4.text-color-red.text-uppercase.mb-1.font-600 PHOTO UPLOADING RULES
                        ul.list.list--order.font-600
                            li Upload only photos of YOURSELF
                            li DO NOT UPLOAD PHOTOS featuring underage, teens, illegal drugs, cartoons, animations, drawings, fake photos, act of violence or copyrighted photos. This is a dating website!
                            li ONLY CLEAN PHOTOS! - NO phone numbers, text or logomarks on photos.
                            li Adult/XXX photos are allowed, however close-up photos from single body parts are will not be approved. Adult photos will not participiate on Photo Rating.
                            li All uploaded photos will be moderated and require a moderators approval before appering online in your profile.
                            li You need to upload minimum of 3 photos! Upload at least 1 photo where your face is clearly shown - it's a requirements for escort profile!

                        p.font-600.mb-5 If you do not follow photo uploading rules, your account can be BLOCKED
                        .h3.font-600.mb-1 Upload A Photo
                        ul.list.font-600.mb-3
                            li - Free members can upload 20 photos
                            li - Premium members can upload up to 200 photos.
                            li - JPG, GIF or PGN photo format is allowed
                            li - Photo witdth or height must be over 300 pixels
                        form(action="#")
                            .sign-up-form
                                .input-wrapper
                                    span Choose a Photo:
                                    span.text-color-grey-dark (JPG, GIF, PNG)
                                    .file
                                        input(type="file" id="file")
                                        label(for="file")
                                            span.file-filled
                                                span.file-filled__name File it’s not choose...
                                                span.file-btn.btn.bth--grey.btn--short.btn--grey Choose File
                                input(type="submit" value="UPLOAD").btn.btn--red

                .line.my-2
                .h3.font-600.mb-2 Photos
                ul.photos-list.d-flex.flex-wrap
                    li
                        .photo-edit-block
                            img(src="img/model-1.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-1" checked)
                                label(for="ch-1")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
                                .main-photo-status.main-photo-status--approved Main Photo


                    li
                        .photo-edit-block
                            img(src="img/model-2.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-2")
                                label(for="ch-2")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-yellow
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-clock")
                                    span.text Awaiting
                                .main-photo-status Main Photo
                    li
                        .photo-edit-block
                            img(src="img/model-1.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-3" checked)
                                label(for="ch-3")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-red
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-warn")
                                    span.text Denied
                                .main-photo-status Main Photo
                    li
                        .photo-edit-block
                            img(src="img/model-3.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-4" checked)
                                label(for="ch-4")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
                                .main-photo-status Main Photo
                    li
                        .photo-edit-block
                            img(src="img/model-1.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-5")
                                label(for="ch-5")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
                                .main-photo-status Main Photo
                    li
                        .photo-edit-block
                            img(src="img/model-3.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-6")
                                label(for="ch-6")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
                                .main-photo-status Main Photo
                    li
                        .photo-edit-block
                            img(src="img/model-1.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-7" checked)
                                label(for="ch-7")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
                                .main-photo-status Main Photo
                    li
                        .photo-edit-block
                            img(src="img/model-3.jpg" alt="")
                            .checkbox
                                input(type="checkbox" id="ch-8" checked)
                                label(for="ch-8")
                            .photo-edit__cta.d-flex.justify-space-between
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-left")
                                .cta-btn__center.d-flex.justify-center
                                    .cta-btn.mr-1
                                        svg
                                            use(xlink:href="#svg-rotate-left")
                                    .cta-btn
                                        svg
                                            use(xlink:href="#svg-rotate-right")
                                .cta-btn
                                    svg
                                        use(xlink:href="#svg-arrow-right")
                            .photo-edit__bottom.d-flex.align-center.justify-space-between
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
                                .main-photo-status Main Photo
                a(href="#").btn.btn--red.text-uppercase.mt-3 Delete Selected
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


