doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Members Videos
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        section.section.bg-grey.pb-5
            .container
                .profile-page.d-flex.py-3
                    .profile-page__aside
                        .profile__avatar.mb-2
                            img(src="img/model-1.jpg" alt="")
                        include includes/aside-menu
                    .profile-page__content
                        .h2.font-800.mb-4 My Videos
                        .h4.text-color-red.text-uppercase.mb-1.font-700 Video UPLOADING RULES
                        ul.list.list--order.font-600
                            li Upload only photos of YOURSELF
                            li DO NOT UPLOAD PHOTOS featuring underage, teens, illegal drugs, cartoons, animations, drawings, fake photos, act of violence or copyrighted photos. This is a dating website!
                            li ONLY CLEAN PHOTOS! - NO phone numbers, text or logomarks on photos.
                            li Adult/XXX photos are allowed, however close-up photos from single body parts are will not be approved. Adult photos will not participiate on Photo Rating.
                            li All uploaded photos will be moderated and require a moderators approval before appering online in your profile.
                            li You need to upload minimum of 3 photos! Upload at least 1 photo where your face is clearly shown - it's a requirements for escort profile!

                        p.font-600.mb-5 If you do not follow photo uploading rules, your account can be BLOCKED
                        .h3.font-700.mb-1 Upload A Video
                        ul.list.font-600.mb-3
                            li - Free members can upload 20 photos
                            li - Premium members can upload up to 200 photos.
                            li - JPG, GIF or PGN photo format is allowed
                            li - Photo witdth or height must be over 300 pixels
                        form(action="#")
                            .sign-up-form
                                .input-wrapper
                                    span Choose a Photo:
                                    span.text-color-grey-dark .MP4 .FLV .WMV .AVI .3GP .MPG .MKV .MOV
                                    .file
                                        input(type="file" id="file")
                                        label(for="file")
                                            span.file-filled
                                                span.file-filled__name File it’s not choose...
                                                span.file-btn.btn.bth--grey.btn--short.btn--grey Choose File
                                input(type="submit" value="UPLOAD").btn.btn--red
                        .add-video-block.mt-4
                            .h4.font-700.mb-3 Add Your Video
                            p.text--lt.mb-1 You can post videos from these websites:
                            p.text--lt.mb-2.font-600
                                a(href="#").text-color-red.pr-1 youtube
                                a(href="#").text-color-red.pr-1 xvideos
                                a(href="#").text-color-red.pr-1 vimeo.com
                            form(action="#")
                                .input-wrapper
                                    span Video Link:
                                    span.text--lt Example: http://www.xvideos.com/video53302613/busty_ts_babe_aubrey_kate_barebacks_guy
                                    input(type="text").input
                                input(type="submit" value="Add Video").btn.btn--red.text-uppercase
                .line.my-2
                .h3.font-600.mb-2 Videos
                ul.video-list.d-flex.flex-wrap
                    li.pb-2.mb-2
                        .video-list__item
                            .video-list__item__video.video-list__item__video--full-width
                                img(src=`img/video-preview-1.jpg` alt="")
                                spam.time 23:10
                                span.play-btn
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-play")
                                span.quality HD
                            .video-options.d-flex.align-center.justify-space-between.pt-2
                                .photo-status.d-flex.align-center.text-color-yellow
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-clock")
                                    span.text Awaiting
                                a(href="#").btn.btn--red.btn--small Delete Video
                    li.pb-2.mb-2
                        .video-list__item
                            .video-list__item__video.video-list__item__video--full-width
                                img(src=`img/video-preview-2.jpg` alt="")
                                spam.time 23:10
                                span.play-btn
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-play")
                                span.quality HD
                            .video-options.d-flex.align-center.justify-space-between.pt-2
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
                                a(href="#").btn.btn--red.btn--small Delete Video
                        li.pb-2.mb-2
                            .video-list__item
                                .video-list__item__video.video-list__item__video--full-width
                                    img(src=`img/video-preview-1.jpg` alt="")
                                    spam.time 23:10
                                    span.play-btn
                                        span.icon
                                            svg
                                                use(xlink:href="#svg-play")
                                    span.quality HD
                                .video-options.d-flex.align-center.justify-space-between.pt-2
                                    .photo-status.d-flex.align-center.text-color-red
                                        span.icon
                                            svg
                                                use(xlink:href="#svg-warn")
                                        span.text Denied
                                    a(href="#").btn.btn--red.btn--small Delete Video
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


