doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Members TravelPlan
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        section.section.bg-grey.pb-5
            .container
                .profile-page.d-flex.py-3
                    .profile-page__aside
                        .profile__avatar.mb-2
                            img(src="img/model-1.jpg" alt="")
                        include includes/aside-menu
                    .profile-page__content
                        .h2.font-800.mb-4 My Travelplan
                        p.text-color-grey-dark.mb-3.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend neque vel tortor aliquet dictum. Nullam rhoncus, ipsum non condimentum tincidunt, odio neque tincidunt neque, non iaculis augue ipsum non leo. Aenean aliquet lobortis mi, id semper lectus efficitur a. Sed accumsan hendrerit tellus, quis iaculis sem. In sollicitudin urna mattis, eleifend mauris eu, molestie magna. Donec in fringilla enim. Ut accumsan cursus est, sit amet sodales dolor facilisis vel. Sed dignissim feugiat magna, eu rutrum justo auctor a.
                        form(action="#")
                            .sign-up-form
                                .h3.font-700.mb-3 Add Location
                                .input-wrapper.input-wrapper--three-column
                                    span *Date:
                                    select.select
                                        option Day
                                        option Day 1
                                    select.select
                                        option Month
                                        option Day 1
                                    select.select
                                        option Year
                                        option Day 1
                                .input-wrapper
                                    span *State/Province:
                                    select.select
                                        option State
                                        option Day 1
                                .input-wrapper
                                    span City:
                                    input(type="text").input
                                input(type="submit" value="Add").btn.btn--red.text-uppercase
                .line.my-2

                .h3.font-600.mb-2 Locations
                .location-table
                    .location-row.d-flex.justify-space-between.align-center
                        .location-row__left.font-600
                            span.location-row__left__title.pr-2 Date: <span class="text-color-grey-dark">5 July 2021 – 10 July 2021</span>
                            span.location-row__left__title Visiting:: <span class="text-color-grey-dark">Quebec, Vancouver</span>
                        a(href="#").btn.btn--red.btn--small Delete
                    .location-row.d-flex.justify-space-between.align-center
                        .location-row__left.font-600
                            span.location-row__left__title.pr-2 Date: <span class="text-color-grey-dark">5 July 2021 – 10 July 2021</span>
                            span.location-row__left__title Visiting:: <span class="text-color-grey-dark">Quebec, Vancouver</span>
                        a(href="#").btn.btn--red.btn--small Delete
                    .location-row.d-flex.justify-space-between.align-center
                        .location-row__left.font-600
                            span.location-row__left__title.pr-2 Date: <span class="text-color-grey-dark">5 July 2021 – 10 July 2021</span>
                            span.location-row__left__title Visiting:: <span class="text-color-grey-dark">Quebec, Vancouver</span>
                        a(href="#").btn.btn--red.btn--small Delete
                    .location-row.d-flex.justify-space-between.align-center
                        .location-row__left.font-600
                            span.location-row__left__title.pr-2 Date: <span class="text-color-grey-dark">5 July 2021 – 10 July 2021</span>
                            span.location-row__left__title Visiting:: <span class="text-color-grey-dark">Quebec, Vancouver</span>
                        a(href="#").btn.btn--red.btn--small Delete
                    .location-row.d-flex.justify-space-between.align-center
                        .location-row__left.font-600
                            span.location-row__left__title.pr-2 Date: <span class="text-color-grey-dark">5 July 2021 – 10 July 2021</span>
                            span.location-row__left__title Visiting:: <span class="text-color-grey-dark">Quebec, Vancouver</span>
                        a(href="#").btn.btn--red.btn--small Delete
                    .location-row.d-flex.justify-space-between.align-center
                        .location-row__left.font-600
                            span.location-row__left__title.pr-2 Date: <span class="text-color-grey-dark">5 July 2021 – 10 July 2021</span>
                            span.location-row__left__title Visiting:: <span class="text-color-grey-dark">Quebec, Vancouver</span>
                        a(href="#").btn.btn--red.btn--small Delete
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


