doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Members Profile
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        .big-photo
            img(src="img/photo_lg.jpg" alt="")
            a(href="#").btn.btn--grey Change Photo
        section.section.bg-grey.pb-5
            .container
                .profile-page.d-flex.py-3
                    .profile-page__aside
                        .profile__avatar.profile__avatar--top
                            img(src="img/model-1.jpg" alt="")
                        include includes/aside-menu_top
                    .profile-page__content
                        .h2.font-800.mb-4 My Profile
                        form(action="#")
                            .sign-up-form
                                .input-wrapper
                                    span *Username:
                                    input(type="text").input
                                .input-wrapper
                                    span *Password:
                                    input(type="password").input
                                .input-wrapper
                                    span *Confirm Password:
                                    input(type="password").input
                                .input-wrapper
                                    span *Name:
                                    input(type="text").input
                                .input-wrapper
                                    span *Gender:
                                    select.select
                                        option Woman
                                        option Man
                                .input-wrapper
                                    span *State/Province:
                                    select.select
                                        option Canada
                                        option Man
                                .input-wrapper
                                    span City:
                                    input(type="text").input
                                .input-wrapper
                                    span *Email Address:
                                    input(type="text").input
                                .input-wrapper
                                    span *Confirm Email Address:
                                    input(type="text").input
                                .input-wrapper.input-wrapper--three-column.mb-1
                                    span Services:
                                    .checkbox
                                        input(type="checkbox" id="ch2" checked)
                                        label(for="ch2") Sexcam
                                    .checkbox
                                        input(type="checkbox" id="ch3")
                                        label(for="ch3") Bareback
                                    .checkbox
                                        input(type="checkbox" id="ch4")
                                        label(for="ch4") BDSM Mistress
                                    .checkbox
                                        input(type="checkbox" id="ch5" checked)
                                        label(for="ch5") BDSM Submissive
                                    .checkbox
                                        input(type="checkbox" id="ch6" checked)
                                        label(for="ch6") Golden Shower
                                    .checkbox
                                        input(type="checkbox" id="ch7")
                                        label(for="ch7") Frenc kiss
                                    .checkbox
                                        input(type="checkbox" id="ch8")
                                        label(for="ch8") Crossdressing
                                .input-wrapper
                                    span Phone Number:
                                    input(type="text" value="+8 (525) 644-58-06").input
                                .input-wrapper
                                    span Whatsapp:
                                    input(type="text" value="+8 (525) 644-58-06").input
                                .input-wrapper
                                    span Website URL
                                    input(type="text").input
                                .input-wrapper
                                    span *Profile Information:
                                    textarea.input.
                                        If you are passionate about Venezuela and are looking for a luxury escort to spend a dream night, you have to meet yulia. and it is that yulia has the charms of her country palpable in her flesh, in her accent, her way of smiling and in the way of moving, also ...
                .line.my-2
                .map-block.mb-3
                    .h3.font-800.mb-2 My Location
                    p.text-color-grey-dark.mb-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis risus sit amet eros condimentum, lacinia vestibulum sem vulputate. Fusce et massa ac orci sagittis consequat.
                    .map
                        img(src="img/map.jpg" alt="")
                    .btn-container.d-flex.flex-wrap.mt-2
                        a(href="#").btn.btn--red.btn--red.mr-1.mb-1.btn--large Update Profile
                        a(href="#").btn.btn--red.btn--grey.mr-1.mb-1.btn--large deactivate profile
                        a(href="#").btn.btn--red.btn--grey.mb-1.btn--large delete profile
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


