doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Members Ads
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header_auth.pug
        section.section.bg-grey.pb-5
            .container
                .profile-page.d-flex.py-3
                    .profile-page__aside
                        .profile__avatar.mb-2
                            img(src="img/model-1.jpg" alt="")
                        include includes/aside-menu
                    .profile-page__content
                        .h2.font-800.mb-4 Advertising
                        .tab-wrapper
                            ul.tab-list
                                li.active Buy Advertising
                                li Buy Banner Ad
                                li Payments History
                            .tab-content.active
                                p.text-color-grey-dark After payment, please email us your photos and banner text. E-mail: <a href="mailto:">sales@ts-dating.com</a>
                                p Escort list banner: <span class="text-color-grey-dark">3 tall photos or 1 wide photo</span>
                                p.mb-2 Right side or left side banner: <span class="text-color-grey-dark">3 tall photos</span>
                                p.text-color-grey-dark.mb-2 Please notice that after successful payment, your banner will not go online immediately. It can take up to 24 hours until we prepare your banner and put it online
                                p.mb-2 More information about banner advertisign and available options:
                                a(href="#").btn.btn--small.btn--grey ShemaleCanada Banner Advertising
                                .form-container.my-5
                                    form(action="#")
                                        .sign-up-form
                                            .h4.font-700.mb-2 Card Payment Form
                                            p ShemaleCanada payment for:
                                            p.font-700.text-color-red.mb-2 VIP advertising – 1 month
                                            .input-wrapper
                                                span Advertisement:
                                                select.select
                                                    option VIP advertising – 1 month
                                                    option VIP advertising – 2 month
                                                    option VIP advertising – 3 month
                                            p Amount: <span class="h3 text-color-red font-700">$120.99</span>
                                            .line.my-2
                                            .h4.font-700.mb-2 Credit Card Data
                                            .input-wrapper
                                                span Name on the Card:
                                                input(type="text").input
                                            .input-wrapper
                                                span Card Number:
                                                input(type="text").input
                                            .input-wrapper.input-wrapper--three-column
                                                span Advertisement:
                                                select.select
                                                    option 2021
                                                    option 2022
                                                    option 2023
                                                select.select
                                                    option 04
                                                    option 05
                                                    option 06
                                            .input-wrapper.input-wrapper--three-column
                                                span Security code (CVC):
                                                input(type="password").input
                                            .line.my-2
                                            input(type="submit" value="Pay with card").btn.btn--red.text-uppercase.mb-4
                                        p.mb-2 After purchase, your credit card statement will say: CRD.LT/*TSD MEDIA
                                        p NOTICE:We don't store your credit card information in our server or databases

                            .tab-content
                                p.text-color-grey-dark After payment, please email us your photos and banner text. E-mail: <a href="mailto:">sales@ts-dating.com</a>
                                p Escort list banner: <span class="text-color-grey-dark">3 tall photos or 1 wide photo</span>
                                p.mb-2 Right side or left side banner: <span class="text-color-grey-dark">3 tall photos</span>
                                p.text-color-grey-dark.mb-2 Please notice that after successful payment, your banner will not go online immediately. It can take up to 24 hours until we prepare your banner and put it online
                                p.mb-2 More information about banner advertisign and available options:
                                .payment-methods.mb-2
                                    .h3.font-700.mb-2 Payment Method
                                    form(action="#")
                                        .payment-methods-row.d-flex.flex-wrap
                                            .payment-method__item
                                                .payment-methods__item__content
                                                    input(type="radio" name="pay" id="pay-1" checked)
                                                    label(for="pay-1")
                                                        span.payment-name Credit Card
                                                        span.payment-logo: img(src="img/visa.svg" alt="")
                                            .payment-method__item
                                                .payment-methods__item__content
                                                    input(type="radio" name="pay" id="pay-2")
                                                    label(for="pay-2")
                                                        span.payment-name Wester Union
                                                        span.payment-logo: img(src="img/western.svg" alt="")
                                            .payment-method__item
                                                .payment-methods__item__content
                                                    input(type="radio" name="pay" id="pay-3")
                                                    label(for="pay-3")
                                                        span.payment-name Bitcoin
                                                        span.payment-logo: img(src="img/btc.svg" alt="")
                                            .payment-method__item
                                                .payment-methods__item__content
                                                    input(type="radio" name="pay" id="pay-4")
                                                    label(for="pay-4")
                                                        span.payment-name Transferwise
                                                        span.payment-logo: img(src="img/wise.svg" alt="")
                                p.text-color-grey-dark.
                                    Phasellus sit amet erat nec massa vehicula fringilla in a mi. Duis ac lacinia lorem. Donec ornare justo quis dapibus pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris semper tristique lorem, a porta magna tincidunt sit amet. Proin pharetra justo vel eleifend venenatis. Nullam vulputate ante eget nisi volutpat hendrerit tincidunt eu elit. Nulla vitae semper purus, nec gravida elit.
                                .form-container.my-5
                                    form(action="#")
                                        .sign-up-form
                                            .h4.font-700.mb-2 Card Payment Form
                                            p ShemaleCanada payment for:
                                            p.font-700.text-color-red.mb-2 Header banner – 1 month
                                            .input-wrapper
                                                span Advertisement:
                                                select.select
                                                    option Header banner
                                                    option VIP advertising – 2 month
                                                    option VIP advertising – 3 month
                                            p.mb-2 Amount: <span class="h3 text-color-red font-700">$120.99</span>
                                        .img-container
                                            img(src="img/adv/1.jpg" alt="")
                                        .line.my-2
                                        .sign-up-form
                                            .h4.font-700.mb-2 Credit Card Data
                                            .input-wrapper
                                                span Name on the Card:
                                                input(type="text").input
                                            .input-wrapper
                                                span Card Number:
                                                input(type="text").input
                                            .input-wrapper.input-wrapper--three-column
                                                span Advertisement:
                                                select.select
                                                    option 2021
                                                    option 2022
                                                    option 2023
                                                select.select
                                                    option 04
                                                    option 05
                                                    option 06
                                            .input-wrapper.input-wrapper--three-column
                                                span Security code (CVC):
                                                input(type="password").input
                                            .line.my-2
                                            input(type="submit" value="Pay with card").btn.btn--red.text-uppercase.mb-4
                                        p.mb-2 After purchase, your credit card statement will say: CRD.LT/*TSD MEDIA
                                        p NOTICE:We don't store your credit card information in our server or databases
                            .tab-content
                                p.text-color-grey-dark.mb-2.
                                    Phasellus sit amet erat nec massa vehicula fringilla in a mi. Duis ac lacinia lorem. Donec ornare justo quis dapibus pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris semper tristique lorem, a porta magna tincidunt sit amet. Proin pharetra justo vel eleifend venenatis. Nullam vulputate ante eget nisi volutpat hendrerit tincidunt eu elit. Nulla vitae semper purus, nec gravida elit.
                                .table-wrapper
                                    table.table
                                        thead
                                            tr
                                                td Ad Name
                                                td Period
                                                td Payment methods
                                                td date
                                        tbody
                                            tr
                                                td VIP Advertising
                                                td 1 month
                                                td: img(src="img/visa.svg" alt="")
                                                td 23 November 2021
                                            tr
                                                td Premium Ad
                                                td 3 months
                                                td: img(src="img/btc.svg" alt="")
                                                td 23 November 2021
                                            tr
                                                td Header Banner
                                                td 2 weeks
                                                td: img(src="img/western.svg" alt="")
                                                td 09 May 2021
                                            tr
                                                td VIP Advertising
                                                td 2 weeks
                                                td: img(src="img/visa.svg" alt="")
                                                td 09 May 2021
                                            tr
                                                td VIP Advertising
                                                td 1 month
                                                td: img(src="img/visa.svg" alt="")
                                                td 23 November 2021
                                            tr
                                                td Premium Ad
                                                td 3 months
                                                td: img(src="img/btc.svg" alt="")
                                                td 23 November 2021
                                            tr
                                                td Header Banner
                                                td 2 weeks
                                                td: img(src="img/western.svg" alt="")
                                                td 09 May 2021
                                            tr
                                                td VIP Advertising
                                                td 2 weeks
                                                td: img(src="img/visa.svg" alt="")
                                                td 09 May 2021
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


