doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title New Escort
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        include includes/location_list
        section.bg-red-gradient.py-5.filter-block
            .container
                .models-list-wrapper.mb-3
                    .top-block.d-flex.justify-space-between.mb-3
                        .h2.font-800.text-color-white New Escort
                        .filter-block.d-flex.align-center
                            .filter-block__title.text-color-white.nowrap.mr-2 Filter by:
                            .filter-block__content.d-flex.align-center
                                select.select.select--white.mr-1
                                    option Penis Size
                                    option Age
                                    option Services
                                select.select.select--white.mr-1
                                    option Orientaion
                                    option Age
                                    option Services
                                select.select.select--white
                                    option Services
                                    option Age
                                    option Services
                    ul.models-list.d-flex.flex-wrap

                         each item in [{name: 'Nicole Aniston', img: 'model-1.jpg', city: 'Vancouver'}, {name: 'Mini Diva', img: 'model-2.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-1.jpg', city: 'Vancouver'}, {name: 'Lana Rhoades', img: 'model-3.jpg', city: 'Vancouver'}, {name: 'Nicole Aniston', img: 'model-1.jpg', city: 'Vancouver'}, {name: 'Mini Diva', img: 'model-2.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-1.jpg', city: 'Vancouver'}, {name: 'Lana Rhoades', img: 'model-3.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-1.jpg', city: 'Vancouver'}, {name: 'Mini Diva', img: 'model-3.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-3.jpg', city: 'Vancouver'}, {name: 'Lana Rhoades', img: 'model-2.jpg', city: 'Vancouver'}]
                            li
                                a.models-list__item(href="#")
                                    img.models-list__item__img(src=`img/${item.img}` alt="")
                                    span.models-list__item__data
                                        span.models-list__item__options.d-flex.align-center.mb-1
                                            span.models-list__item__option
                                                span.icon.text-color-green
                                                    svg
                                                        use(xlink:href="#svg-check-in-circle")
                                            span.models-list__item__option
                                                span.icon
                                                    svg
                                                        use(xlink:href="#svg-play")
                                            span.models-list__item__option
                                                span.icon
                                                    svg
                                                        use(xlink:href="#svg-webcam")
                                        span.model-name.h4.font-600= item.name
                                            <span class="status status--online"></span>
                                        span.location.d-flex.align-center
                                            span.icon
                                                svg
                                                    use(xlink:href="#svg-pin")
                                            span.city-name Vancouver
                .mb-4
                    include includes/banners

                .models-list-wrapper.mb-3
                    ul.models-list.d-flex.flex-wrap

                        each item in [{name: 'Nicole Aniston', img: 'model-3.jpg', city: 'Vancouver'}, {name: 'Mini Diva', img: 'model-1.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-3.jpg', city: 'Vancouver'}, {name: 'Lana Rhoades', img: 'model-1.jpg', city: 'Vancouver'}, {name: 'Nicole Aniston', img: 'model-3.jpg', city: 'Vancouver'}, {name: 'Mini Diva', img: 'model-1.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-3.jpg', city: 'Vancouver'}, {name: 'Lana Rhoades', img: 'model-1.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-2.jpg', city: 'Vancouver'}, {name: 'Mini Diva', img: 'model-3.jpg', city: 'Vancouver'},{name: 'Nicole Aniston', img: 'model-3.jpg', city: 'Vancouver'}, {name: 'Lana Rhoades', img: 'model-2.jpg', city: 'Vancouver'}]
                            li
                                a.models-list__item(href="#")
                                    img.models-list__item__img(src=`img/${item.img}` alt="")
                                    span.models-list__item__data
                                        span.models-list__item__options.d-flex.align-center.mb-1
                                            span.models-list__item__option
                                                span.icon.text-color-green
                                                    svg
                                                        use(xlink:href="#svg-check-in-circle")
                                            span.models-list__item__option
                                                span.icon
                                                    svg
                                                        use(xlink:href="#svg-play")
                                            span.models-list__item__option
                                                span.icon
                                                    svg
                                                        use(xlink:href="#svg-webcam")
                                        span.model-name.h4.font-600= item.name
                                            <span class="status status--online"></span>
                                        span.location.d-flex.align-center
                                            span.icon
                                                svg
                                                    use(xlink:href="#svg-pin")
                                            span.city-name Vancouver
                    .my-4
                        include includes/pagination
        include includes/footer.pug


