doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Photo VRF
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header_auth.pug
        section.section.bg-grey.pb-5
            .container
                .profile-page.d-flex.py-3
                    .profile-page__aside
                        .profile__avatar.mb-2
                            img(src="img/model-1.jpg" alt="")
                        include includes/aside-menu
                    .profile-page__content
                        .h2.font-800.mb-4 Photo Verification
                        .photo-vrf-descr.d-flex.justify-space-between.align-start.mb-2
                            .photo-vrf-descr__text
                                .h4.text-color-red.text-uppercase.mb-1.font-600 PHOTO VERIFICATION INSTRUCTIONS
                                ul.list.list--order.font-600.mb-1
                                    li Take large paper and write there your username 'testescort' and website address 'www.ShemaleCanada.com'
                                    li Take a Photo of yourself holding this paper.
                                    li Upload the photo and wait to get verified.
                                p.text-color-red.font-600 This photo will not be visible for other site members or guests
                            .photo-vrf-descr__status.photo-vrf-descr__status--error.d-flex.flex-direction-column.align-center.justify-center.text--center.font-700
                                span.icon.mb-2
                                    svg
                                        use(xlink:href="#svg-warn")
                                span.text Photo Verification Failed!
                        .photo-vrf-descr.d-flex.justify-space-between.align-start.mb-2
                            .photo-vrf-descr__text
                                .h4.text-color-red.text-uppercase.mb-1.font-600 PHOTO VERIFICATION INSTRUCTIONS
                                ul.list.list--order.font-600.mb-1
                                    li Take large paper and write there your username 'testescort' and website address 'www.ShemaleCanada.com'
                                    li Take a Photo of yourself holding this paper.
                                    li Upload the photo and wait to get verified.
                                p.text-color-red.font-600 This photo will not be visible for other site members or guests
                            .photo-vrf-descr__status.photo-vrf-descr__status--wait.d-flex.flex-direction-column.align-center.justify-center.text--center.font-700
                                span.icon.mb-2
                                    svg
                                        use(xlink:href="#svg-clock")
                                span.text Waiting for Verification ...
                        .photo-vrf-descr.d-flex.justify-space-between.align-start.mb-2
                            .photo-vrf-descr__text
                                .h4.text-color-red.text-uppercase.mb-1.font-600 PHOTO VERIFICATION INSTRUCTIONS
                                ul.list.list--order.font-600.mb-1
                                    li Take large paper and write there your username 'testescort' and website address 'www.ShemaleCanada.com'
                                    li Take a Photo of yourself holding this paper.
                                    li Upload the photo and wait to get verified.
                                p.text-color-red.font-600 This photo will not be visible for other site members or guests
                            .photo-vrf-descr__status.photo-vrf-descr__status--success.d-flex.flex-direction-column.align-center.justify-center.text--center.font-700
                                span.icon.mb-2
                                    svg
                                        use(xlink:href="#svg-check-in-circle")
                                span.text You are a <br />VERIFIED MEMBER
                        .vrf-instruction.mb-5
                            ul.list.list--order.text--sm.font-600.mb-3
                                li Take a large PAPER and write there your username: 'testescort' and website address 'www.ShemaleCanada.com'
                                li Take a Photo of yourself holding this paper.
                                li Upload the photo and wait to get verified.
                            .h2.text--center.font-800.mb-2.text--italic How To Get Verified
                            p.text--lt.text--center.
                                Please make a snapshot of yourself with sheet of paper using a webcam, smartphone or digicam and upload the photo to your account.
                            .vrf-graph
                                img(src="img/graph.svg" alt="")
                        .h3.font-600.mb-1 Upload A Photo
                        ul.list.font-600.mb-3
                            li - Free members can upload 20 photos
                            li - Premium members can upload up to 200 photos.
                            li - JPG, GIF or PGN photo format is allowed
                            li - Photo witdth or height must be over 300 pixels
                        form(action="#")
                            .sign-up-form.mb-3
                                .input-wrapper
                                    span Choose a Photo:
                                    span.text-color-grey-dark (JPG, GIF, PNG)
                                    .file
                                        input(type="file" id="file")
                                        label(for="file")
                                            span.file-filled
                                                span.file-filled__name File it’s not choose...
                                                span.file-btn.btn.bth--grey.btn--short.btn--grey Choose File
                                input(type="submit" value="UPLOAD").btn.btn--red

                        // Photo
                        .vrf-photo.mt-2
                            img(src="img/model-1.jpg" alt="")
                            .vrf-photo__bottom
                                a.btn.btn--small.btn--grey.btn--full-width(href="#") Delete Photo
                        .vrf-photo.mt-2
                            img(src="img/model-1.jpg" alt="")
                            .vrf-photo__bottom
                                .photo-status.d-flex.align-center.text-color-green
                                    span.icon
                                        svg
                                            use(xlink:href="#svg-check-in-circle")
                                    span.text Approved
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


