doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Policy
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        section.section.py-5
            .container
                .text-block
                    h2 Privacy Policy
                    h3 Acceptance of Privacy Policy
                    p Each time you access, use, post, submit a post or reply, or browse the Site, you signify your acceptance of the then-current Privacy Policy. If you do not accept this Privacy Policy, you are not authorized to use the Site and must discontinue use of the Site immediately.

                    h3 Collection and Use of Personal Information
                    p.
                        We collect personal information about you whenever you engage in transactions on the Site, use the Site’s products or services, request information or materials, create or update account information, place orders or make purchases, communicate with us, or visit the Site. The personal information we collect and store about you may include without limitation your first and last name, email address, credit or debit card number,billing and shipping information, order history, and other non-public information about you. We may use the information we collect to: Provide better service; Keep you apprised of information and developments that you may find of interest; Alert you to new features, terms, content, products or services; Contact you regarding your posts, replies, and/or account information; Process and respond to your inquires; Improve the Site; Prevent Fraud; Administer, monitor and control use of the Site, including posts, replies, and account information; and Enforce the Terms of Use (collectively, the "Activities"). You authorize the Site to transmit email to you to respond to your communications and administer Activities.

                    h3 Disclosure of Personal Information to Third Parties
                    p.
                        We may disclose your personal information to agents and operators under confidentiality or similar agreements, including shippers, vendors, payment processors, and advertisers, who we believe reasonably need to come into contact with that information: (i) to provide products or services to you; (ii) to administer our business or the Site, including fulfilling and shipping orders; (iii) to provide customer service; (iv) to update account information; (v) to forward updates, announcements, and newsletters; (vi) to respond to your communications, and communicate with you about the Site and other activities related to the Site; (vii) in the event of any reorganization, merger, sale, joint venture, assignment, transfer or disposition of all or any portion of the Site’s business or operations (including without limitation in connection with bankruptcy or any similar proceedings); or (viii) as otherwise authorized by you.

                    h3 Disclosure in Special Circumstances
                    p We may disclose also your name, email address, or other information about you, including personal information, if (i) required to do so by law, court order or subpoena, or as requested by other government, law enforcement, or investigative authority, (ii) we in good faith believe that such disclosure is necessary or advisable, including without limitation to protect the rights or properties of the Site, (iii) we have reason to believe that disclosing your personal information is necessary to identify, contact or bring legal action against someone who may be causing interference with our rights or properties, or has breached an agreement, or if anyone else could be harmed by such activities or interference, (iv) if we determine an ad posted violates our Terms of Use or the rights of a third party, or (v) there is an emergency involving personal danger. We may also provide information about you if we believe it is necessary to share information in order to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, or as otherwise required or permitted by law. Please note that if you post any of your personal information on the Site, such information may be collected and used by others over whom the Site has no control. The Site is not responsible for the use by third parties of information you post or otherwise make public.

                    h3 Collection of Non-Personal Information Using Cookies and Geo location Data
                    p We automatically receive and record non-personal information on our server logs from your browser as well as through other analysis of the Sites. Non-personal information includes without limitation your Internet Protocol (“IP”) address, cookie information (as described below), the pages you request, type of computer operating system you use (e.g., Microsoft Windows or Mac OS), the type of browser you use (e.g., Firefox, Chrome, Internet Explorer), the domain name of the Internet service provider, your activities while visiting the Site, and the content you accessed. "Cookies" are small text files that allow Web sites to store and retrieve information about you from your computer system. The Site does serve cookies to track individual site usage for later aggregation. But we do not use cookies in order to retrieve any information from your computer other than information originally sent in a Site cookie, such as a user code. We have no control over whether and how our advertisers use cookies that originate from their website.
                    h3 Communication from the Site/Opt-Out
                    p From time to time, we may send you information with announcements and updates about the Site and your account. You may elect to opt-out of ongoing e-mail communication from us, such as newsletters, subscriptions, account information, promotional materials, contest results, survey inquiries, etc. by using a simple "opt out" procedure. You need only reply to the communication with the word "unsubscribe" (without the quotation marks) in the body of your e-mail response and your name will be removed from that mailing list. However, if you opt-out of receiving our announcements and updates about your account, you may no longer have access to areas restricted to account members.
                    h3 Correction/Update of Personal Information
                    p If your personal information changes, you may review/correct/update your personal information previously provided at any time by sending us an email at admin@shemalecanada.com. You may also have your personal profile data deleted from our database by sending us an email to admin@shemalecanada.com. However, if you have your personal profile data deleted from our database, you may forfeit entrance rights to areas restricted to account members and certain benefits for account members.
                    h3 Children
                    p The Site is not intended for children under the age of 18 nor does the Site knowingly collect personal information from children under 18. The Site does not orient this Site toward children or target them as an audience, nor does it screen them from using the Site. Some of the material on this Site is for mature audiences, and parents and guardians should take responsibility for monitoring their children’s use. The Site does not collect or distribute information indicating whether a user is a child.
                    h3 Links to Other sites
                    p This Site provides links and pointers to Web sites maintained by other organizations. The Site provides these links as a convenience to users, but it does not operate, control or endorse such sites. The Site also disclaims any responsibility for the information on those sites and any products or services offered there, and cannot vouch for the privacy policies of such sites. The Site does not make any warranties or representations that any linked sites (or even this Site) will function without error or interruption, that defects will be corrected, or that the sites and their servers are free of viruses and other problems that can harm your computer.
                    h3 E-Commerce and Our Secure Server
                    p We understand that storing data in a secure manner is important. We store personal information using industry standard, reasonable and technically feasible, physical, technical and administrative safeguards against foreseeable risks, such as unauthorized access. All commerce transactions that take place on the Site are processed through our secure server in order to make every reasonable effort to insure that your personal information is protected. Please be aware that the Site and data storage are run on software, hardware and networks, any component of which may, from time to time, require maintenance or experience problems or breaches of security beyond the Site’s control. We cannot guarantee the security of the information on and sent from the Site. On our Site, you may have the opportunity to follow a link to other sites that may be of interest to you. We are not responsible for the privacy practices of those sites or the content provided thereon. We disclaim any responsibility for transactions conducted on those sites and cannot vouch for the security of the information submitted in those transactions.
                    h3 Policy Changes and Acceptance
                    p The Privacy Policy may be revised from time to time as we add new features and services, as laws change, and as industry privacy and security best practices evolve. We display an effective date on the upper left corner of the Privacy Policy so that it will be easier for you to know when there has been a change. Accordingly, you should check the Privacy Policy on a regular basis for the most current privacy practices. Each time you access, use or browse the Site, you signify your acceptance of the then-current changes to the Privacy Policy applying to your personal information collected by us on and from the effective date of such changes.
        include includes/footer.pug


