doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Search Escort
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        include includes/location_list
        section.section.py-4.bg-grey
            .container
                .container-lt
                    .h2.font-800.mb-3 Search Escorts
                    form(action="#")
                        .input-wrapper
                            span Gender:
                            select.select
                                option Transvestite
                                option Gey
                                option Lesbi
                        .input-wrapper
                            span City:
                            input(type="text").input
                        .input-wrapper
                            span Penis size:
                            select.select
                                option Large
                                option Long
                                option Other
                        .input-wrapper
                            span Videos:
                            .checkbox
                                input(type="checkbox" id="ch1" checked)
                                label(for="ch1")
                        .input-wrapper.input-wrapper--three-column.mb-1
                            span Services:
                            .checkbox
                                input(type="checkbox" id="ch2" checked)
                                label(for="ch2") Sexcam
                            .checkbox
                                input(type="checkbox" id="ch3")
                                label(for="ch3") Bareback
                            .checkbox
                                input(type="checkbox" id="ch4")
                                label(for="ch4") BDSM Mistress
                            .checkbox
                                input(type="checkbox" id="ch5" checked)
                                label(for="ch5") BDSM Submissive
                            .checkbox
                                input(type="checkbox" id="ch6" checked)
                                label(for="ch6") Golden Shower
                            .checkbox
                                input(type="checkbox" id="ch7")
                                label(for="ch7") Frenc kiss
                            .checkbox
                                input(type="checkbox" id="ch8")
                                label(for="ch8") Crossdressing
                        .input-wrapper
                            span Name/username:
                            input(type="text").input
                        .submit-container.mt-4
                            input(type="submit" value="Search").btn.btn--large.btn--red-gradient
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


