doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Sign Up
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        section.section.py-4.bg-grey
            .container
                .h2.font-800.mb-3 Escort Sign Up
                .h4.text-uppercase.text-color-red.font-600.mb-1 Atention
                ul.list.list--order.text--lt.font-600.mb-3
                    li.
                        Register only if you are professional <a href="#" class="text-color-red text-uppercase">SHEMALE ESCORT</a>.
                    li.
                        Only 1 profile is allowed to have per person. Do not create more than one account or you will be blocked.
                    li.
                        Enter as much information as possible and only valid information.
                    li.
                        After entering your information, sign in and UPLOAD YOUR PHOTOS. At least one photo of face is required!
                    li.
                        Your phone number is required and it must be valid.
                    li.
                        Do not enter false information or photos that you don't have copyright.
                    li.
                        Do not post your prices or rates
                .line.mb-3
                form(action="#")
                    .sign-up-form
                        p.text--lt.text-color-grey-dark.mb-2 * Denotes Required Field. Leaving a field blank, omits it from your profile.
                        .input-wrapper
                            span *Username:
                            input(type="text").input
                        .input-wrapper
                            span *Password:
                            input(type="password").input
                        .input-wrapper
                            span *Confirm Password:
                            input(type="password").input
                        .input-wrapper
                            span *Name:
                            input(type="text").input
                        .input-wrapper
                            span *Gender:
                            select.select
                                option Woman
                                option Man
                        .input-wrapper
                            span *State/Province:
                            select.select
                                option Canada
                                option Man
                        .input-wrapper
                            span City:
                            input(type="text").input
                        .input-wrapper
                            span *Email Address:
                            input(type="text").input
                        .input-wrapper
                            span *Confirm Email Address:
                            input(type="text").input
                        .input-wrapper.d-flex.flex-wrap
                            span *Publish my email address
                            .radio.mr-2
                                input(type="radio" name='email' id="r1" checked)
                                label(for="r1") Yes
                            .radio
                                input(type="radio" name='email' id="r2")
                                label(for="r2") No
                        .input-wrapper
                            span Phone Number:
                            input(type="text").input
                        .input-wrapper
                            span Whatsapp:
                            input(type="text").input
                        .input-wrapper
                            span Website URL
                            input(type="text").input
                        .input-wrapper
                            span *Profile Information:
                            textarea.input
                        .agree
                            .checkbox
                                input(type="checkbox" id="agree" checked)
                                label(for="agree") <span>*I am 18 years of age and agree to the site <a href="#" class="text-color-red" style="padding-left: 3px"> terms and conditions</a></span>
                        input(type="submit" value="Submit profile").btn.btn--red.btn--large.mt-4

        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


