doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Terms
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        section.section.py-5
            .container
                .text-block
                    h2 Shemale Canada Terms and Conditions
                    h4 General Terms and Conditions
                    p One escort profile is allowed per individual. If you require more exposure talk to us about addtional advertising.

                    p Since members of the Shemale Canada escort section provide their own content, you must verify that you are of legal age and have legal right to provide and post such content.

                    p All pages may contain advertising of an adult nature and users have no control over what ads may display on their page.

                    p Pages and profiles are provided free to girls and tgirls only, Shemale Canada reserves the right to charge for this service in the future, if necessary.

                    p Prices and detailed descriptions of adult services are not condoned, We reserve the right to remove and edit profiles and portions of profiles if they do not meet our terms and conditions. Profiles may be edited or removed if allegations of fraud or other illegal activities are reported.

                    p Shemale Canada is in no way responsible for any meetings or interaction between profile holders on the site and other individuals or parties.

                    p Shemale Canada is provided to all users free of charge. Shemale Canada can in no way be found liable for losses relating to service outages, mispellings or any other problem which may prevent the site or pages from displaying. Users unable to access the site at anytime have no recourse.

                    p Members or users found in violation of these Terms and Conditions are disabled and prevented from using this site.

                    p Members or users found in violation of these Terms and Conditions are disabled and prevented from using this site.
                    p.
                        YOU EXPRESSLY AGREE THAT USE OF THE SITE IS AT YOUR OWN RISK. THE SITE SHALL NOT BE RESPONSIBLE FOR ANY CONTENT FOUND ON THESE PAGES. THE SITE EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. THE SITE MAKES NO WARRANTY THAT ITS PROFILES OR USE OF THE SITE WILL BE UNINTERRUPTED, TIMELY, SECURE, WITHOUT DEFECT OR ERROR FREE. THE SITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. YOU ACKNOWLEDGE AND AGREE THAT ANY MATERIAL, AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THIS WEB SITE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.
        include includes/footer.pug


