doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Video
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        section.section.py-4.bg-grey
            .container
                .top-block.d-flex.justify-space-between.mb-3.align-center
                    .h2.font-800 Videos
                    .filter-block
                        .filter-block__content.d-flex.align-center
                            select.select
                                option Most Viewed
                                option Age
                                option Services
                .video-list-wrapper
                    -
                        var models = [
                            {
                                avatar: 'model-1.jpg',
                                name: 'Nicole Aniston',
                                city: 'Vancouver',
                                date: '5 July 2021',
                                video: 'video-preview-1.jpg',
                                time: '23:18',
                                comment: 'Nulla ligula mauris, scelerisque vitae ligula vitae, condimentum dapibus purus. Nunc accumsan, eros nec venenatis molestie, sem eros commodo dui, in aliquet ante mauris ac felis. Donec a orci rutrum, mollis ipsum convallis, venenatis orci. Etiam egestas, dui at gravida suscipit, leo dolor suscipit mauris, rhoncus pharetra leo ligula sit amet leo.'
                            },
                            {
                                avatar: 'model-2.jpg',
                                name: 'Nicole Aniston',
                                city: 'Vancouver',
                                date: '5 July 2021',
                                video: 'video-preview-2.jpg',
                                time: '23:18',
                                comment: 'Nulla ligula mauris, scelerisque vitae ligula vitae, condimentum dapibus purus. Nunc accumsan, eros nec venenatis molestie, sem eros commodo dui, in aliquet ante mauris ac felis. Donec a orci rutrum, mollis ipsum convallis, venenatis orci. Etiam egestas, dui at gravida suscipit, leo dolor suscipit mauris, rhoncus pharetra leo ligula sit amet leo.'
                            },
                            {
                                avatar: 'model-1.jpg',
                                name: 'Nicole Aniston',
                                city: 'Berlin',
                                date: '5 July 2021',
                                video: 'video-preview-1.jpg',
                                time: '23:18',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                avatar: 'model-2.jpg',
                                name: 'Nicole Aniston',
                                city: 'Paris',
                                date: '5 July 2021',
                                video: 'video-preview-2.jpg',
                                time: '23:18',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                avatar: 'model-1.jpg',
                                name: 'Nicole Aniston',
                                city: 'Canada',
                                date: '5 July 2021',
                                video: 'video-preview-1.jpg',
                                time: '23:18',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                avatar: 'model-2.jpg',
                                name: 'Nicole Aniston',
                                city: 'Mexico',
                                date: '5 July 2021',
                                video: 'video-preview-2.jpg',
                                time: '23:18',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                        ]
                    ul.video-list.d-flex.flex-wrap
                        each val in models
                            li
                                .video-list__item.d-flex
                                    .video-list__item__video
                                        img(src=`img/${val.video}` alt="")
                                        spam.time= val.time
                                        span.play-btn
                                            span.icon
                                                svg
                                                    use(xlink:href="#svg-play")
                                        span.quality HD
                                    .video-list__item__descr
                                        .video-list__item__descr__top.d-flex.align-center.mb-2
                                            .avatar
                                                img(src=`img/${val.avatar}` alt="")
                                            .descr-title
                                                .h4.font-600= val.name
                                                    span.status.status--online
                                                .city.d-flex.align-center.text-color-grey-dark
                                                    span.icon
                                                        svg
                                                            use(xlink:href="#svg-pin")
                                                    span.text= val.city
                                        .date.text-color-grey-dark= val.date
                                        .descr= val.comment
                                        .raiting.d-flex.align-center.text-color-grey-dark
                                            span.icon
                                                svg
                                                    use(xlink:href="#svg-thumb-up")
                                            span.text 246 likes
                .my-4
                    include includes/pagination
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


