doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Visiting Escorts
        link(rel="stylesheet" href="css/style.css")
    .wrapper
        include includes/header.pug
        include includes/main_slider
        include includes/slider_preview
        section.section.py-4.bg-grey
            .container
                .top-block.d-flex.justify-space-between.mb-3
                    .h2.font-800 Visiting Escorts
                .models-list-about-wrapper
                    -
                        var models = [
                            {
                                img: 'model-1.jpg',
                                name: 'Nicole Aniston',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-2.jpg',
                                name: 'Angela White',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve done a couple of overnights with sexy Luxandra she\'s a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx'
                            },
                            {
                                img: 'model-3.jpg',
                                name: 'Emily Willis',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-2.jpg',
                                name: 'Hannah Ray',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-1.jpg',
                                name: 'Emily Willis',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve done a couple of overnights with sexy Luxandra she\'s a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx'
                            },
                            {
                                img: 'model-2.jpg',
                                name: 'Gina Valentina',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-3.jpg',
                                name: 'Kenzie Reeves',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-3.jpg',
                                name: 'Nicole Aniston',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve done a couple of overnights with sexy Luxandra she\'s a very pleasant friendly young lady. We kissed,shagged loads of times in multiple positions. I really enjoyed hot Luxandra trampling my chest with her bare feet and strappy high heels. She gives brilliant foot jobs. I highly recommend this cutie pie xx'
                            },
                            {
                                img: 'model-3.jpg',
                                name: 'Emily Willis',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                            {
                                img: 'model-1.jpg',
                                name: 'Emily Willis',
                                city: 'Vancouver',
                                date: '5 July 2021 – 10 July 2021',
                                comment: 'I\'ve met Haifa 3 times she\'s a very sexy girl looks identical to her pics very pretty face and lovely ass i enjoyed pounding her in doggy. Great Fun, Loved it. I highly recommend this beauty.'
                            },
                        ]
                    ul.models-list-about.d-flex.flex-wrap
                        each val in models
                            li
                                .models-list-about__item.d-flex
                                    a(href="#").photo.d-block
                                        img(src=`img/${val.img}` alt="")
                                    .models-list-about__item__data
                                        a(href="#").d-block.name.h4.font-600= val.name
                                        .options.d-flex.align-center.flex-wrap.text-color-grey-dark
                                            span.mr-1= val.date
                                            span.d-flex.align-center
                                                span.icon
                                                    svg
                                                        use(xlink:href="#svg-pin")
                                                span.text= val.city
                                        .descr= val.comment
                .my-4
                    include includes/pagination
        section.bg-red-gradient.py-5
            .container
                include includes/banners
        include includes/footer.pug


