.adv-example__item {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid $border-color;
}
.contact__item {
  align-items: flex-start;
  width: 100%;
  max-width: 770px;
  margin-bottom: 3rem;
  font-size: 14px;
  line-height: 1.3;
  &__title {
    width: 40%;
    line-height: 1.3;
  }
  &__value {
    width: 60%;
    font-weight: 600;
    padding-left: 20px;
    img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
    }
  }
}
