.banners-slider {
  margin-bottom: 0;
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  .prev-slide{
    left: 0;
    transform: translate(-50%, -50%);
  }
  .next-slide {
    right: 0;
    transform: translate(50%, -50%);
  }
  .slick-dots {
    width: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 15px;
    li {
      width: auto;
      height: auto;
      padding: 0 3px;
      margin: 0;
      &.slick-active {
        button {
          background: $red;
        }
      }
      button {
        width: 6px;
        height: 6px;
        padding: 0;
        border-radius: 50%;
        background: rgba(0, 0, 0, .6);
        &::before {
          display: none;
        }
      }
    }
  }
}
.slick-dotted {
  margin-bottom: 0;
}
