.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: .9em 1.5em;
  min-width: 17rem;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 25px;
  appearance: none;
  transition: all .3s;
  &--transparent {
    color: $color-grey-dark;
    &:hover {
      color: $red;
    }
  }
  &--short {
    min-width: unset;
  }
  &--small {
    padding: .5em 1em;
    min-width: unset;
    font-weight: 500;
    font-size: 1.4rem;
  }
  &--large {
    text-transform: uppercase;
    min-width: 27rem;
  }
  &--red-gradient {
    color: $color-white;
    background: $red-gradient;
    box-shadow: 0 4px 12px rgba(228, 6, 46, 0.4);
    &:hover {
      background: linear-gradient(45deg, #E4062E, #94002C);
    }
  }
  &--red {
    background-color: $red;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $red;
      border-color: $red;
    }
  }
  &--grey {
    background: $color-grey-dark;
    color: $text-grey-dark;
    &:hover {
      background: $red;
      color: $color-white
    }
  }
  &--full-width {
    width: 100%;
  }
  &:active {
    transform: scale(.95);
  }
}
