.comment-item {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid $border-color;
  &--no-border {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: none;
  }
}
.comment-item__left {
  width: 40rem;
  padding-right: 2rem;
  border-right: 1px solid $border-color;
  &__img {
    width: 12rem;
    height: 16rem;
    flex: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__data {
    padding-left: 3rem;
    &__top {
      flex-grow: 1;
    }
    .h4 {
      margin-bottom: 1rem;
    }
  }
}

.comment-item__right {
  width: calc(100% - 40rem);
  padding-left: 3rem;
  &--full-width{
    width: 100%;
    padding-left: 0;
  }
  &__top {
    .avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: cover;
    }
    &__right {
      margin-left: 1rem;
      &__title {
        font-size: 1.4rem;
        margin-bottom: .5em;
      }
    }
  }
}
.comment-body{
  padding-left: 6rem;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7;
}
