/*Footer*/
.footer{
  background: #101117 url('../img/bg/footer_decor_bg.png') 0 0 no-repeat;
  background-size: cover;
  box-shadow: 0 4px 20px rgba(16, 17, 23, 0.2);
  padding: 5rem 2rem;
  font-size: 1.4rem;
  &-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  &__left {
    max-width: 55rem;
  }
  &__right {
    width: calc(100% - 75rem);
  }
  .logo {
    display: table;
  }
}
.footer__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  color: #C0C6D0;
}
.social {
  img {
    width: 30px;
  }
  li {
    a{
      &:hover {
        opacity: .8;
      }
    }
  }
}
.footer__item {
  width: 45%;
  .h3 {
    margin-bottom: 1.5rem;
  }
}
.footer__menu {
  font-size: 1.4rem;
  font-weight: 600;
  li {
    line-height: 1.2;
    margin-bottom: 1.5rem;
    a {
      &:hover {
        color: $red
      }
    }
  }
}
