/*Header*/
.header {
  background: rgba(#101117, .95);
  padding: 1rem 3rem;
  &.open-search {
    align-items: center;
    .menu{
      display: none;
    }
    .search-form{
      display: block;
    }
  }
  &__nav {
    flex-grow: 1;
    &__container {
      flex-grow: 1;
    }
  }
}
.logo {
  max-width: 30rem;
}
.search-form{
  display: none;
  flex-grow: 1;
  margin: 0 2rem;
  height: 5rem;
  position: relative;
  form {
    width: 100%;
    height: 100%;
  }
}
.search-input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px solid $red;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: $color-white;
  padding-left: 2rem;
  padding-right: 9rem;
  background: transparent;
  &::placeholder{
    color: $color-white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  &:focus {
    border-color: lighten($red, 30%);
  }
}
.search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  background: transparent;
  appearance: none;
  .icon {
    width: 20px;
    height: 20px;
  }
}
.menu {
  & > li {
    & > a {
      display: flex;
      align-items: center;
      color: $color-white;
      font-weight: 600;
      padding: 0 1.5rem;
      height: 100%;
      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $red;
        position: absolute;
        bottom: -1rem;
        left: 0;
        opacity: 0;
        transition: all .3s;
      }
      &:hover,
      &.active{
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
.submenu__parent {
  position: relative;
  & > a {
    display: inline-flex;
    align-items: center;
    &::after{
      content: '';
      width: 1rem;
      height: .6rem;
      background: url('../img/icons/select-arrow.svg') 0 0 no-repeat;
      background-size: contain;
      margin-left: 1rem;
    }
  }
  @media(min-width: 1280px) {
    &:hover {
      .submenu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
.submenu{
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 20rem;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  background-color: $color-grey;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
  z-index: 2;
  li {
    a {
      display: block;
      font-size: 1.4rem;
      font-weight: 700;
      color: $text-grey-dark;
      padding: 1em 1.4285em;
      &:hover{
        background: $color-grey-dark;
        color: $red;
      }
    }
  }
}
.search-btn {
  .icon {
    width: 20px;
    height: 20px;
  }
}
.burger {
  flex: none;
  width: 30px;
  margin-right: 20px;
  display: none;
  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
.user-header {
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
 &__body {
   &::after {
     content: '';
     flex: none;
     width: 1rem;
     height: .6rem;
     background: url('../img/icons/select-arrow.svg') 0 0 no-repeat;
     margin-left: 1rem;
   }
   &:hover {
     .user-name {
       color: $red
     }
   }
   &.active {
     &::after {
       transform: rotate(180deg);
     }
     .user-name {
       color: $red
     }
   }
 }

  .avatar {
    flex: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .dropdown {
    position: absolute;
    top: calc(100% + 1.5rem);
    right: 0;
    display: none;
    .profile-page__menu {
      border-top-right-radius: 0;
      li {
        padding: 0;
        a {
          border-bottom: none;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
.user-name {
  color: $color-white;
  font-weight: 700;
  transition: all .3s;
}
