.select {
  display: block;
  width: 100%;
  min-width: 130px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $border-color;
  padding-right: 30px;
  padding-left: 15px;
  background: url('../img/icons/select-arrow.svg') calc(100% - 10px) center no-repeat;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  &--white {
    border-color: $color-white;
    color: $color-white;
    background-image: url('../img/icons/select-arrow_white.svg');
  }
}
.input-wrapper {
  margin-bottom: 2.5rem;
  &.flex-wrap {
    span {
      width: 100%;
    }
  }
  &.mb-1 {
    margin-bottom: 1rem;
  }
  &--three-column {
    display: flex;
    flex-wrap: wrap;
    span {
      width: 100%;
    }
    .checkbox {
      width: 33.3333%;
    }
    .select {
      width: 32%;
      margin-right: 1%;
    }
    .input {
      width: 32%;
    }
  }
  span {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .5em;
    &.text--lt {
      font-size: 1.2rem;
    }
  }
}
.input {
  display: block;
  width: 100%;
  min-width: 130px;
  height: 40px;
  border-radius: 20px;
  font-weight: 500;
  border: 1px solid $border-color;
  background: transparent;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  appearance: none;
  outline: none;
  transition: all .3s;
  &:focus {
    box-shadow: 0 2px 10px rgba(#000, .1);
  }
}
textarea.input {
  resize: none;
  height: 120px;
  padding-top: 10px;
}
.checkbox,
.radio{
  margin-bottom: 2rem;
  input {
    display: none;
    &:checked {
      & + label {
        &::before {
          background-color: #E4062E;
          border-color: $red;
        }
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    &::before {
      content: '';
      flex: none;
      width: 1.4275em;
      height: 1.4275em;
      border: 1px solid $border-color;
      border-radius: 5px;
      margin-right: .7em;
      background: #fff url('../img/icons/check_white.svg') center no-repeat;
    }
  }
}
.radio {
  label {
    &::before {
      border-radius: 50%;
    }
  }
}
.file {
  input{
    display: none;
  }
  label {
    position: relative;
    display: block;
    width: 100%;
  }
}
.file-filled {
  display: block;
  width: 100%;
  height: 40px;
  min-width: 130px;
  border-radius: 20px;
  font-weight: 500;
  border: 1px solid $border-color;
  background: transparent;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  appearance: none;
  outline: none;
  transition: all .3s;
  .file-btn {
    display: inline-flex;
    align-content: center;
    position: absolute;
    height: calc(100% - 10px);
    top: 5px;
    right: 5px;
    font-size: 12px;
    padding: 0 2em;
    cursor: pointer;
  }
  .file-filled__name{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    height: 100%;
  }
}
