.code {
  border: 1px solid $border-color;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.3;
  padding: 10px;
  xmp {
    white-space: normal;
    margin: 0;
  }
}
.links-item {
  border-bottom: 1px solid $border-color;
  margin-bottom: 5rem;
}
.links-item-content {
  margin-bottom: 5rem;
  img {
    display: table;
    margin: 0 auto 2rem;
  }
}
