.location-list-wrapper {
  padding: 5rem 0;
}
.location-list-content__item {
  width: 25%;
}
.location-list {
  font-weight: 500;
  & > li {
    margin-bottom: 1.3rem;
    &.active {
      & > a {
        color: $red;
        &::after {
          transform: rotate(180deg);
        }
      }
    }
    & > a {
      display: flex;
      width: 100%;
      align-items: center;
      &::after {
        content: '';
        width: 1rem;
        height: .6rem;
        background: url('../img/icons/select-arrow.svg') 0 0 no-repeat;
        background-size: contain;
        margin-left: .5rem;
        flex: none;
      }
      &:hover {
        color: $red
      }
    }
  }
}
.location-list__submenu {
  margin-top: 1.5rem;
  display: none;
  &.active {
    display: block;
  }
  li {
    margin-bottom: 1rem;
    a {
      color: #707987;
      display: flex;
      align-items: center;
      &:hover {
        color: $red;
        .icon,
        .count{
          color: currentColor;
        }
      }
      .count {
        color: #C0C6D0;
        margin-left: .5rem;
      }
      .icon {
        flex: none;
        width: .8125em;
        height: 1em;
        color: $color-black;
        margin-right: .5rem;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
