.login-page {
  width: 100%;
  height: 100vh;
  background: #000 url('../img/bg/login-bg.png') 0 0 no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
  .btn--grey {
    background: #292931;
    color: #707987;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      width: 100%;
    }
    .logo {
      width: 100%;
      max-width: 480px;
      margin-bottom: 5rem;
      img {
        width: 100%;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      max-width: 720px;
      margin: 0 auto 1.5em;
    }
    .h1 {
      font-size: 40px;
      margin-bottom: 1em;
    }
    .h2 {
      font-size: 36px;
      margin-bottom: 1em;
    }
  }
}
.login-page__menu {
  li {
    padding: 0 10px;
    font-size: 14px;
    a {
      &:hover {
        color: $red
      }
    }
  }
}
.login-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  .h3 {
    font-size: 30px;
    margin-bottom: 1.6em;
  }
  .input {
    border-color: $red;
    color: $color-white;
    &::placeholder {
      color: $color-white
    }
  }
}
.login-form__row {
  margin-bottom: 5rem;
  .checkbox {
    margin-bottom: 0;
  }
}
.signup-block {
  margin-top: 5rem;
  color: #707987;
  p{
    margin-bottom: 1em;
  }
  .btn {
    margin-bottom: 2.5rem;
    &--grey {
      &:hover {
        background: $red;
        color: #fff;
      }
    }
  }
}
.forgot-link {
  &:hover {
    text-decoration: underline;
  }
}
