.main-slider-container{
  position: relative;
}
.main-slider__arrows {
  position: absolute;
  width: 100%;
  max-width: calc(1190px + 16rem);
  padding: 0 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slick-arrow {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: $red-gradient;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  cursor: pointer;
  &.arrow-black{
    background: rgba(#000, .6);
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.06);
  }
  &:hover {
    background: rgba(#000, .8);
  }
}
.main-slide__item {
  position: relative;
  min-height: 40rem;
  display: flex;
  align-items: center;
  padding: 10rem 0;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90.92deg, rgba(20, 3, 24, 0.624) 0.85%, rgba(63, 35, 131, 0) 91.62%);
    z-index: 1;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    color: $color-white
  }
  .container{
    position: relative;
    z-index: 2;
  }
}
.slide__title {
  font-size: 8rem;
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $red-gradient;
  line-height: 1.1;
}
.slide__subtitle {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.3;
  max-width: 1000px;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5em;
    height: .1em;
    background: $red-gradient;
    margin-right: .5em;
    border-radius: 5px;
  }
}
.slide__descr {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: $text-grey;
  margin-bottom: 1em;
}
