:root{
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: $color-white;
	color: $color-black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
.noscroll {
  overflow: hidden;
}
img{
	max-width: 100%;
}
a{
	color: currentColor;
	transition: all .2s;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  a {
    color: $red;
    &:hover {
      text-decoration: underline;
    }
  }
}
h1, .h1{
  font-size: 4rem;
  line-height: 1.3;
}
h2, .h2{
  font-size: 3rem;
  line-height: 1.3;
}
h3, .h3{
  font-size: 2rem;
  line-height: 1.3;
}
h4, .h4{
  font-size: 1.8rem;
  line-height: 1.3;
}
.font-900 {
  font-weight: 900;
}
.font-800 {
  font-weight: 800;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-500{
  font-weight: 500;
}
.font-400{
  font-weight: 400;
}
.font-300{
  font-weight: 300;
}
b, strong{
	font-weight: 700;
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
  width: 100%;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  &-lt {
    max-width: 560px;
  }
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.svg-sprite{
	display: none;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  svg {
    width: 100%;
    height: 100%;
  }
}
.status {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  &--online {
    background-color: $green;
  }
  &--offline {
    background-color: $color-grey;
  }
}
.for-tablet,
.for-mobile{
  display: none;
}
.line {
  width: 100%;
  height: 1px;
  background: $border-color;
}
.list {
  li {
    line-height: 1.3;
    margin-bottom: .5em;
  }
  &--order {
    list-style: decimal;
    padding-left: 2rem;
    li {
      list-style: decimal;
    }
  }
}
.text-block {
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1em;
  }
  h1, h2, h3, h4 {
    margin-bottom: .5em;
    font-weight: 700;
  }
}
