@media(max-width: 1600px) {
  html {
    font-size: .65vw;
  }
  .login-page__content .logo {
    margin-bottom: 3rem;
  }
  .login-page__content {
    p {
      font-size: 14px;
    }
    .h1 {
      font-size: 34px;
    }
    .h2 {
      font-size: 30px;
    }
  }
}
@media(max-width: 1440px) {
  .login-page__content {
    padding-top: 30px;
  }
  .login-page__content .logo {
    max-width: 320px;
  }
  .login-form .h3,
  .login-form__row{
    margin-bottom: 25px;
  }
  .signup-block {
    margin-top: 25px;
  }
}
/*1440*/
@media(max-width: 1270px) {
  html {
    font-size: .75vw;
  }
  .container {
    max-width: 90%;
  }
  .burger {
    display: block;
  }
  .header {
    &__nav {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      background: rgba(#101117, .95);
      backdrop-filter: blur(5px);
      padding: 60px 15px;
      transform: translateX(-120%);
      visibility: hidden;
      transition: transform .3s;
      z-index: 10;
      &.active {
        transform: translateX(0);
        visibility: visible;
      }
      &__container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
      }
    }
  }
  .menu {
    display: block;
    & > li {
      margin-bottom: 25px;
      & > a {
        font-size: 18px;
        padding: 0;
        &::before {
          display: none;
        }
      }
    }
  }
  .submenu__parent > a::after {
    width: 10px;
    height: 6px;
    margin-left: 10px;
  }
  .search-form {
    display: block;
    flex-grow: unset;
    margin: 0 0 30px;
    width: 100%;
    max-width: 480px;
    height: 40px;
    flex: none;
  }
  .search-input {
    padding-right: 60px;
  }
  .search-submit {
    width: 50px;
  }
  .for-tablet {
    display: block;
    &.d-flex{
      display: flex;
    }
  }
  .close-menu {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .hidden-tablet {
    display: none !important;
  }
  .logo {
    max-width: 200px;
  }
  .submenu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    visibility: visible;
    opacity: 1;
    display: none;
    background-color: transparent;
    li {
      margin-top: 20px;
      a {
        padding: 0;
        font-size: 16px;
        color: $color-white
      }
    }
  }
  .submenu__parent {
    &.active {
      & > a::after {
        transform: rotate(180deg);
      }
    }
  }
  .photo-edit__cta {
    opacity: 1;
  }

}
/* 1270 */
@media(max-width: 1024px) {
  html {
    font-size: .85vw;
  }
  .btn {
    font-size: 14px;
  }
  .slider-preview__item__name {
    font-size: 1.4rem;
  }
  .container {
    max-width: 100%;
  }
  .models-list {
    li {
      width: 33.333%;
    }
  }
  .models-list__item__option.crown {
    font-size: 10px;
  }
  .models-list__item .location {
    font-size: 12px;
  }
  .model-name {
    font-size: 2.7rem;
  }
  .footer__left,
  .footer__right{
    width: 45%;
  }
  .footer__item {
    width: 50%;
  }
  .input-wrapper {
    margin-bottom: 20px;
    span {
      font-size: 14px;
      margin-bottom: 7px;
    }
  }
  .checkbox,
  .radio{
    margin-bottom: 15px;
    label {
      font-size: 14px;
    }
  }
  .input-wrapper--three-column .checkbox {
    width: 50%;
  }
  .comment-item__left {
    .btn {
      font-size: 12px;
    }
  }
  .text {
    &--lt {
      font-size: 14px;
    }
    &--sm {
      font-size: 12px;
    }
  }
  .input-wrapper span.text--lt {
    font-size: 12px;
  }
  .tab-list li, {
    font-size: 14px;
  }
  .table {
    font-size: 12px;
  }
  .user-header__body::after {
    width: 10px;
    height: 6px;
  }
}
/*1024*/
@media(max-width: 767px) {
  .location-list-content{
    flex-wrap: wrap;
  }
  .location-list-content__item {
    width: 100%;
  }
  .location-list {
    font-size: 14px;
    li {
      margin-bottom: 10px;
    }
  }
  .top-block {
    display: block;
    .h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .filter-block{
    display: block;
    &__title {
      font-size: 14px;
      display: block;
      margin-bottom: 15px;
    }
    &__content {
      overflow-x: auto;
      padding-bottom: 10px;
    }
  }
  .select,
  .input{
    height: 35px;
  }
  .comment-item{
    display: block;
    &__left,
    &__right {
      width: 100%;
    }
    &__left {
      margin-bottom: 20px;
      border-right: none;
      &__img {
        width: 120px;
        height: 160px;
      }
      &__data {
        .h4 {
          font-size: 16px;
        }
      }
    }
    &__right {
      padding-left: 0;
      &__top{
        .avatar {
          width: 40px;
          height: 40px;
        }
        &__right {
          margin-left: 10px;
          &__title {
            font-size: 14px;
          }
        }
        .email {
          font-size: 12px;
        }
      }
    }
  }
  .data__item {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .comment-body {
    padding-left: 0;
    font-size: 14px;
    margin-top: 15px;
  }
  .models-list-about{
    li {
      width: 100%;
      .models-list-about__item {
        padding-right: 0 !important;
        padding-left: 0 !important;
        border-right: none !important;
      }
    }
  }
  .models-list-about__item {
    .photo {
      width: 100px;
      height: 150px;
    }
    &__data {
      .name {
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 1.2;
      }
      .options {
        font-size: 12px;
        margin-bottom: 5px;
      }
      .descr {
        font-size: 12px;
        -webkit-line-clamp: 5;
      }
    }
  }
  p {
    font-size: 15px;
  }
  .profile__avatar {
    width: 17rem;
    height: 17rem;
  }
  .profile__data__list {
    font-size: 13px;
  }
  h3, .h3 {
    font-size: 2.6rem;
  }
  .list {
    font-size: 14px;
  }
  .location-row__left {
    font-size: 12px;
  }
  .tab-list {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .table-wrapper {
    overflow-x: auto;
  }
  .table {
    min-width: 560px;
  }
  .login-page {
    height: auto;
    min-height: 100vh;
    padding: 50px 0;
  }
  .login-page__content .logo {
    max-width: 80%;
  }
  .login-page__content .h2 {
    font-size: 24px;
  }
  .login-page {
    .btn-container {
      margin-bottom: 30px;
      flex-wrap: wrap;
      justify-content: center;
      .btn {
        width: 48%;
        margin-right: 1%;
        margin-bottom: 10px;
      }
    }
  }
  .login-page__menu li {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .forgot-link{
    font-size: 14px;
  }
  .photo-vrf-descr {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .photo-vrf-descr__text {
    padding-right: 0;
  }
  .photo-vrf-descr__status {
    flex-direction: row;
    width: 100%;
    font-size: 14px;
    margin-top: 2rem;
    .icon {
      margin-bottom: 0;
      margin-right: 2rem;
      width: 30px;
      height: 30px;
    }
  }
  .vrf-photo {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    .photo-status .text {
      display: inline-block;
      font-size: 14px;
      margin-left: .5em;
    }
  }
}
/*767*/
@media(max-width: 480px) {
  html {
    font-size: 5px;
  }
  .for-mobile {
    display: block;
    &.d-flex {
      display: flex;
    }
  }
  .hidden-mobile {
    display: none !important;
  }
  .header-actions:not(.header .header-actions) {
    width: 100%;
    justify-content: space-between;
    .btn {
      width: 48%;
      margin: 0;
      &--transparent {
        background-color: #fff;
        color: $red
      }
    }
  }
  .header__left {
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .burger {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .slide__title {
    font-size: 5rem;
    margin-bottom: 10px;
  }
  .slide__subtitle {
    font-size: 3.5rem;
    margin-bottom: 10px;
    &::before {
      width: 1.5em;
    }
  }
  .slide__descr {
    font-size: 14px;
    br {
      display: none;
    }
  }
  .slider-preview__item {
    width: 100px;
  }
  .slider-preview__slide {
    padding: 0 10px;
  }
  .slider-preview__item__img {
    width: 100px;
    height: 100px;
  }
  .slider-preview__item__name,
  .copyright,
  .footer__menu{
    font-size: 12px;
  }
  h1, .h1{
    font-size: 5rem;
    line-height: 1.3;
  }
  h2, .h2{
    font-size: 4rem;
    line-height: 1.3;
  }
  h3, .h3{
    font-size: 3rem;
    line-height: 1.3;
  }
  h4, .h4{
    font-size: 17px;
    line-height: 1.3;
  }
  .models-list li {
    width: 50%;
  }
  .model-name {
    font-size: 3.5rem;
  }
  .slick-arrow {
    width: 35px;
    height: 35px;
  }
  .banners-slider .slick-dots {
    bottom: 10px;
  }
  .footer-container {
   flex-direction: column-reverse;
  }
  .footer__left, .footer__right {
    width: 100%;
    max-width: none;
  }
  .footer__item {
    margin-bottom: 20px;
    .h3 {
      margin-bottom: 15px;
    }
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    .social {
      order: -1;
      margin-bottom: 20px;
    }
  }
  .footer {
    padding-bottom: 60px;
  }
  .pagination {
    li {
      margin-bottom: 10px;
      &:first-child,
      &:last-child {
        padding: 0 3px;
         a{
           padding: 0 6px;
           .icon {
             margin: 0;
           }
         }
      }
      a {
        font-size: 13px;
        min-width: 25px;
        height: 25px;
        .text {
          display: none;
        }
      }
    }
  }
  .location-list > li > a::after {
    width: 10px;
    height: 6px;
    margin-left: 10px;
  }
  .video-list__item {
    flex-wrap: wrap;
    &__video{
      width: 100%;
      margin-bottom: 3rem;
      &--full-width {
        margin-bottom: 0;
      }
      .time,
      .quality {
        font-size: 12px;
      }
      .play-btn {
        width: 60px;
        height: 60px;
      }
    }
    &__descr {
      width: 100%;
      padding-left: 0;
      &__top {
        .avatar {
          width: 50px;
          height: 50px;
        }
        .descr-title {
          .h4 {
            font-size: 16px;
          }
        }
        .city {
          font-size: 12px;
        }
      }
      .date {
        font-size: 12px;
      }
      .descr {
        font-size: 14px;
      }
      .raiting {
        .icon {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        .text {
          font-size: 12px;
        }
      }
    }
  }
  .code {
    font-size: 12px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  .contact__item{
    flex-wrap: wrap;
    &__title {
      width: 100%;
      margin-bottom: 5px;
    }
    &__value {
      width: 100%;
      padding-left: 0;
    }
  }
  .list--order {
    padding-left: 15px;
  }
  .photos-list li {
    width: 50%;
  }
  .profile-block {
    display: block;
  }
  .profile{
    &__avatar {
      margin-bottom: 15px;
      &--top{
        transform: translateY(0);
      }
    }
    &__data{
      padding-left: 0;
      &__top{
        display: block;
        .h3 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .badge{
          font-size: 12px;
        }
        .number {
          font-size: 18px;
        }
      }
      &__list-wrapper {
        flex-wrap: wrap;
      }
      &__list {
        width: 100%;
        margin-right: 0 !important;
        font-size: 14px;
      }
    }
  }
  .big-photo{
    height: 50rem;
  }
  .profile-page__menu--top {
    margin-top: 0;
    font-size: 14px;
  }
  .profile-page {
    display: block;
    &__aside {
      width: 100%;
      margin-bottom: 20px;
      .profile__avatar{
        display: none;
      }
    }
  }
  .profile-page__menu li a {
    font-size: 14px;
  }
  .map-block {
    .btn-container{
      .btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  .profile-page__content {
    padding-left: 0;
  }
  .photo-status{
    .text {
      display: none;
    }
  }
  .main-photo-status{
    font-size: 10px;
  }
  .location-row__left__title {
    display: block;
    line-height: 1.3;
    margin-bottom: 4px;
  }
  .input-wrapper--three-column .select,
  .input-wrapper--three-column .input{
    width: 100%;
    margin-bottom: 10px;
  }
  .payment-method__item {
    width: 50%;
  }
  .payment-methods__item__content label {
    font-size: 14px;
    height: 90px;
  }
  .payment-methods__item__content label .payment-logo {
    height: 25px;
  }
  .user-header .dropdown {
    width: 220px;
    box-shadow: 0 3px 15px rgba(#000, .2);
    border-radius: 20px;
  }
  .login-form .h3 {
    font-size: 22px;
  }
  .login-page {
    padding-top: 25px;
  }
  .login-page__content {
    padding-top: 0;
  }

}
/*480*/
@media(max-width: 350px) {
  .models-list li {
    width: 100%;
  }
}
