.models-list-about {
  li {
    width: 50%;
    border-bottom: 1px solid $border-color;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    &:nth-child(odd) {
      .models-list-about__item {
        border-right: 1px solid $border-color;
        padding-right: 3rem;
      }
    }
    &:nth-child(even) {
      .models-list-about__item {
        padding-left: 5rem;
      }
    }
  }
}
.models-list-about__item  {
  .photo {
    width: 12rem;
    height: 16rem;
    flex: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    a.photo {
      &:hover {
        opacity: .8;
      }
    }
  }
  &__data {
    padding-left: 2rem;
    .name {
      margin-bottom: .7em;
    }
    a.name {
      &:hover {
        color: $red
      }
    }
    .options {
      font-size: 1.4rem;
      margin-bottom: 1.25em;
      .icon {
        margin-right: .25em;
      }
    }
    .descr {
      font-size: 1.4rem;
      line-height: 1.7;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
