.models-list {
  margin: 0 -1rem 1rem;
  li {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}
.models-list__item {
  display: block;
  position: relative;
  height: 100%;
  .location {
    font-size: 1.2rem;
    color: $color-grey;
    .icon {
      margin-right: .5rem;
      width: 12px;
      height: 12px;
    }
  }
}
a.models-list__item {
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    .models-list__item__img {
      filter: brightness(1.2);
    }
  }
}
.models-list__item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}
.models-list__item__data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  color: $color-white;
  padding: 1.8rem;
}
.models-list__item__option {
  margin-right: 1rem;
  color: #C0C6D0;
  line-height: 1;
  &.crown {
    display: flex;
    align-items: center;
    padding: .5em .7em .6em;
    border-radius: 20px;
    background: $red-gradient;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $color-white;
    .icon {
      width: 12px;
      height: 12px;
      margin-right: .5rem;
    }
  }
  .icon {
    width: 16px;
    height: 16px;
    svg {

    }
  }
}
.model-name {
  margin-bottom: .5rem;
}
