.pagination {
  color: $text-grey-dark;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    padding: 0 3px;
    &:first-child,
    &:last-child {
      a {
        padding: 0 3em;
      }
    }
    &:first-child {
      padding-right: 1.5rem;
    }
    &:last-child {
      padding-left: 1.5rem;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 5rem;
      height: 5rem;
      border-radius: 25px;
      background-color: $color-grey-dark;
      font-weight: 700;
      line-height: 1;
      .icon {
        width: 1.25em;
        height: .75em;
      }
      &.active {
        background-color: $color-black;
        color: $color-white
      }
      &:hover {
        background-color: $red;
        color: $color-white
      }
    }
  }
}
