.big-photo {
  height: 78rem;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
  }
}
.profile{
  &__avatar {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    flex: none;
    &--top{
      transform: translateY(calc(-50% - 3rem));
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
      border: 5px solid #fff;
    }
  }
  &__data {
    flex-grow: 1;
    padding-left: 3rem;
    &__top{
      margin-bottom: 2rem;
      .badge {
        background-color: $red;
        color: $color-white;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-radius: 25px;
        padding: 3px 6px;
        margin-left: 1rem;
        display: inline-flex;
        align-items: center;
        .icon {
          margin-right: 3px;
        }
      }
      .number {
        font-size: 3rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        .icon {
          width: 1em;
          height: 1em;
          margin-right: 1rem;
        }
      }
    }
    &__list {
      &:not(:last-child) {
        margin-right: 7rem;
      }
      li {
        margin-bottom: 2rem;
        font-weight: 500;
        line-height: 1.3;
        .title {
          white-space: nowrap;
        }
        .value {
          padding-left: 1rem;
        }
      }
    }
  }
}
.map {
  iframe,
  img {
    width: 100%;
  }
}
.photos-list {
  margin: 0 -1rem;
  li {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    a {
      display: block;
      &:hover {
        opacity: .8;
      }
    }
  }
}
.profile-page {
  align-items: flex-start;
  &__aside {
    width: 22rem;
    flex: none;
  }
}
.profile-page__menu {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 20px;
  overflow: hidden;
  &--top{
    margin-top: -11rem;
  }
  li {
    padding: 0 1.25em;
    color: $text-grey-dark;
    background: #fff;
    &:hover,
    &.active{
      background-color: $border-color;
      color: $red;
    }
    &:last-child {
      a{
        border-bottom: none;
      }
    }
    a {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-color;
      font-size: 1.4rem;
      padding: 1em 0;
      .icon {
        margin-right: .4em;
      }
    }
  }
}
.profile-page__content {
  flex-grow: 1;
  padding-left: 3rem;
}
.photo-edit-block {
  height: 100%;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
  &:hover {
    .photo-edit__cta {
      opacity: 1;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
.photo-edit__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
}
.main-photo-status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: .4em .8em;
  border: 1px solid transparent;
  font-weight: 500;
  border-radius: 25px;
  background: #E8E8EE;
  color: $text-grey-dark;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background: $red;
    color: $color-white
  }
  &--approved {
    color: $color-white;
    background: transparent;
    padding: 0;
    pointer-events: none;
    cursor: default
  }
}
.photo-status {
  .icon {
    margin-right: .5rem;
  }
}
.photo-edit__cta {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1rem;
  opacity: 0;
  transition: all .3s;
}
.cta-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, .7);
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background: $red;
    color: $color-white
  }
  svg {
    width: 60%;
    height: 60%;
  }
}
.cta-btn__center{
  flex-grow: 1;
}
.location-row {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $border-color;
  &:first-child {
    border-top: 1px solid $border-color;
    padding-top: 2rem;
  }
}
.form-container {
  background-color: $color-white;
  border: 1px solid $border-color;
  border-radius: 20px;
  padding: 3rem 2.5rem;
}
.tab-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  li {
    font-size: 1.4rem;
    color: $text-grey-dark;
    background-color: $color-grey-dark;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .7em 1.25em;
    transition: all .3s;
    cursor: pointer;
    &:hover,
    &.active {
      background-color: $red;
      color: $color-white
    }
  }
}
.tab-content {
  display: none;
  &.active {
    display: block;
  }
}
.table{
  table-layout: fixed;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 20px;
  overflow: hidden;
  background-color: $color-white;
  font-size: 1.4rem;
  td {
    padding: 2em 1em;
    vertical-align: middle;
    &:last-child {
      text-align: right;
    }
  }
  thead {
    td {
      text-transform: uppercase;
      color: $text-grey-dark;
      background-color: $color-grey-dark;
      font-weight: 600;
    }
  }
  tbody {
    td{
      border-bottom: 1px solid $border-color;
    }
  }
}
.payment-methods-row {
  margin: 0 -.5rem;
}
.payment-method__item {
  width: 25%;
  padding: 0 .5rem;
  margin-bottom: 1rem;
}
.payment-methods__item__content {
  input {
    display: none;
    &:checked + label {
      color: $color-black;
      &::before {
        opacity: 1;
      }
    }
  }
  label {
    display: block;
    height: 8.5714em;
    border: 1px solid $border-color;
    border-radius: 20px;
    color: $text-grey-dark;
    text-align: center;
    padding: 1.25em;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    background: $color-white;
    position: relative;
    transition: all .3s;
    &::before {
      content: '';
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 20px;
      border: 4px solid $red;
      position: absolute;
      top: -2px;
      left: -2px;
      opacity: 0;
      transition: opacity .3s;
    }
    .payment-name {
      margin-bottom: 1.25em;
      display: block;
    }
    .payment-logo {
      display: block;
      height: 30px;
      img {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}
