.slider-preview {
  padding: 5rem 0;
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    z-index: 1;
    &:hover {
      color: $color-black;
      background: rgba(#fff, .7);
      box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.06);
    }
  }
  .prev-slide {
    left: 0;
  }
  .next-slide {
    right: 0;
  }
}
.slider-preview__slide {
  padding: 0 2rem;
}
.slider-preview__item {
  display: block;
  width: 13rem;
  text-align: center;
  &:hover {
    .slider-preview__item__img {
      border-color: $red;
    }
    .slider-preview__item__name{
      color: $red;
    }
  }
  &__img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid transparent;
    transition: all .3s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.slider-preview__item__name {
  font-size: 1.2rem;
  width: 100%;
  white-space: nowrap;
  font-weight: 500;
  padding: 0 8px 0 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .3s;
  .status{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    &--online {
      background: $green;
    }
    &--offline {
      background: $red;
    }
  }
}
