$color-grey: #F7F7FA;
$color-grey-dark: #E8E8EE;
$color-white: #fff;
$color-yellow: #FF9900;
$red-gradient: linear-gradient(268.41deg, #E4062E -6.83%, #94002C 106.39%);
$red: #E4062E;
$pink-gradient: linear-gradient(268.41deg, #EF019E -6.83%, #AD0082 106.39%);
$green: #00D361;
$border-color: #D9DAE7;
$color-black: #000;
$text-white: #fff;
$text-grey: #CCD7E9;
$text-grey-dark: #707987;
