.video-list {
  li {
    width: 100%;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid $border-color;
    &.no-border {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: none;
    }
    &.pb-2{
      padding-bottom: 2rem;
    }
    &.mb-2{
      margin-bottom: 2rem;
    }
    &.pb-3{
      padding-bottom: 3rem;
    }
    &.mb-3{
      margin-bottom: 3rem;
    }
  }
}
.video-list__item {
  &__video{
    width: 50%;
    position: relative;
    &--full-width{
      width: 100%;
    }
    img, video, iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .time,
    .quality {
      display: inline-block;
      background: rgba(#000, .5);
      border-radius: 5px;
      font-size: 1.6rem;
      padding: .3em .65em;
      color: $color-white;
      position: absolute;
      z-index: 1;
    }
    .time {
      left: 2rem;
      bottom: 2rem;
    }
    .quality {
      top: 2rem;
      right: 2rem;
    }
    .play-btn {
      position: absolute;
      width: 8rem;
      height: 8rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba($color-white, .5);
      cursor: pointer;
      transition: all .3s;
      &:hover {
        color: $color-white;
      }
      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__descr {
    width: 50%;
    padding-left: 3rem;
    &__top {
      .avatar {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        margin-right: 2rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .descr-title .h4{
        margin-bottom: .25em;
      }
      .city {
        font-size: 1.4rem;
        .icon {
          margin-right: .5em;
        }
      }
    }
    .date {
      font-size: 1.4rem;
      margin-bottom: .5em;
    }
    .descr {
      font-size: 1.4rem;
      line-height: 1.7;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 2rem;
    }
  }
}
.raiting {
  .icon {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    margin-right: .6em;
    transition: all .3s;
    &:hover,
    &.active {
      color: $red
    }
  }
  .text {
    font-size: 1.4rem;
  }
}
