.photo-vrf-descr__status {
  text-align: center;
  line-height: 1.4;
  font-size: 1.4rem;
  width: 18rem;
  flex: none;
  padding: 4rem 1.2rem;
  &--error {
    background-color: $red;
    color: #fff;
  }
  &--wait {
    background-color: $color-yellow;
    color: #fff;
  }
  &--success {
    background-color: $green;
    color: #fff;
  }
  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.photo-vrf-descr__text {
  padding-right: 2rem;
}
.vrf-instruction {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid $border-color;
  padding: 2rem 3rem 0;
}
.vrf-photo {
  width: 28rem;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    width: 100%;
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    z-index: 1;
  }
}
