-
    var menu = [
        {
            icon: '#svg-user',
            title: 'My Profile'
        },
        {
            icon: '#svg-photos',
            title: 'Photos'
        },
        {
            icon: '#svg-play',
            title: 'Videos'
        },
        {
            icon: '#svg-pin',
            title: 'Travelplan'
        },
        {
            icon: '#svg-ads',
            title: 'Advertising'
        },
        {
            icon: '#svg-check-in-circle',
            title: 'Profile Verification'
        },
        {
            icon: '#svg-logout',
            title: 'Log out'
        },
    ]
ul.profile-page__menu.profile-page__menu--top
    each val in menu
        li(class=val.title === 'My Profile' ? 'active' : '')
            a(href="#")
                span.icon
                    svg
                        use(xlink:href=`${val.icon}`)
                span.text= val.title
