.banners
    .container
        .banners-slider
            .banner-slide
                .banner-slide__content
                    img(src="img/banner-1.png" alt="")
            .banner-slide
                .banner-slide__content
                    img(src="img/banner-2.png" alt="")
