.header.d-flex.justify-space-between
    .header__left.d-flex.align-center
        .burger
            span
            span
            span
        a(href="#").logo
            img(src="img/logo.svg" alt="")
    .header__nav.d-flex
        .header__nav__container.d-flex.justify-center
            // .header-actions for mobile
            .header-actions.d-flex.align-center.for-mobile
                a(href="#").search-btn.js--open-search.text-color-white.hidden-tablet
                    span.icon
                        svg
                            use(xlink:href="#svg-search")
                a(href="#").btn.btn--transparent.mx-2.btn--short Login
                a(href="#").btn.btn--red-gradient Sign Up

            ul.menu.d-flex
                li.submenu__parent
                    a(href="#") Shemale Escorts
                    ul.submenu
                        each name in ['New Escorts', 'Search', 'Comments', 'Visiting Escorts']
                            li
                                a(href="#")= name
                each name in ['Videos', 'Webcams', 'Reviews', 'Links', 'Advertise', 'Forum']
                    li
                        a(href="#")= name
            .search-form
                form(action="#")
                    input(type='search' placeholder='Search...').search-input
                    button(type="submit").search-submit
                        span.icon
                            svg
                                use(xlink:href="#svg-search")
            // for mobile
            .close-menu.for-tablet
                span.icon.text-color-white
                    svg
                        use(xlink:href="#svg-close")
    .header-actions.d-flex.align-center.hidden-mobile
        a(href="#").search-btn.js--open-search.text-color-white.hidden-tablet
            span.icon
                svg
                    use(xlink:href="#svg-search")
        a(href="#").btn.btn--transparent.mx-2.btn--short Login
        a(href="#").btn.btn--red-gradient Sign Up
