.location-list-wrapper.bg-grey
    .container
        .h2.font-800.mb-3 Shemale Location
        .location-list-content.d-flex
            .location-list-content__item
                ul.location-list
                    each city in ['Alberta', 'British Columbia', 'Manitoba']
                        li
                            a.js--dropdown-link(href="#")= city
                            ul.location-list__submenu.js--dropdown
                                    li
                                        a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span>
                                    li
                                        a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span>
                                    li
                                        a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span>
                                    li
                                        a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span>
            .location-list-content__item
                ul.location-list
                    each city in ['Newfoundland', 'Northwest Territories', 'Nova Scotia', 'Nunavut']
                        li
                            a.js--dropdown-link(href="#")= city
                            ul.location-list__submenu.js--dropdown
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span>
            .location-list-content__item
                ul.location-list
                    each city in ['Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon']
                        li
                            a.js--dropdown-link(href="#")= city
                            ul.location-list__submenu.js--dropdown
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span>
            .location-list-content__item
                ul.location-list
                    each city in ['Newfoundland', 'Northwest Territories','Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon']
                        li
                            a.js--dropdown-link(href="#")= city
                            ul.location-list__submenu.js--dropdown
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Alberta <span class="count">12</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Scotia <span class="count">16</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Island <span class="count">29</span>
                                li
                                    a(href="#") <span class="icon"><svg><use xlink:href="#svg-pin"></use></svg></span> Saskatchewan <span class="count">9</span>

