.main-slider-container
    .main-slider
        .main-slide
            .main-slide__item
                img(src="img/main_slide_1.jpg" alt="").main-slide__item__img
                .container
                    .main-slide__item__content
                        .slide__title Lipsum Dolor
                        .slide__subtitle Sed tincidunt aliquam mauris
                        .slide__descr.
                            Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!
                        a(href="#").btn.btn--red-gradient View more
        .main-slide
            .main-slide__item
                img(src="img/main_slide_1.jpg" alt="").main-slide__item__img
                .container
                    .main-slide__item__content
                        .slide__title Another Text
                        .slide__subtitle Lorem ipsum dolor sit amet.
                        .slide__descr.
                            Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!
                        a(href="#").btn.btn--red-gradient View more
        .main-slide
            .main-slide__item
                img(src="img/main_slide_1.jpg" alt="").main-slide__item__img
                .container
                    .main-slide__item__content
                        .slide__title Vanilla guy
                        .slide__subtitle Sed tincidunt aliquam mauris
                        .slide__descr.
                            Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!
                        a(href="#").btn.btn--red-gradient View more
    .main-slider__arrows
