ul.pagination.d-flex.justify-center.flex-wrap
    li
        a(href="#").prev-page
            span.icon.mr-1
                svg
                    use(xlink:href="#svg-arrow-left")
            span.text.text-uppercase Previous
    each number in ['1', '2', '3', '4', '5', '6', '7', '8']
        li
            a(href="#" class = number === '2' ? 'active' : '')= number
    li
        a(href="#").next-page
            span.text.text-uppercase Next
            span.icon.ml-1
                svg
                    use(xlink:href="#svg-arrow-right")
