.slider-preview-container
    .slider-preview
        each name in ['Kim Kardashian', 'Eva Mendes', 'Angela White', 'Nicole Aniston', 'Autumn Falls', 'Kimmy Granger', 'Kenzie Reeves', 'Britney Amber', 'Xev Bellringer', 'Skylar Vox', 'Lana Rhoades','Kim Kardashian', 'Eva Mendes', 'Angela White', 'Nicole Aniston', 'Autumn Falls', 'Kimmy Granger', 'Kenzie Reeves', 'Britney Amber', 'Xev Bellringer', 'Skylar Vox', 'Lana Rhoades']
            .slider-preview__slide
                a(href="#").slider-preview__item
                    .slider-preview__item__img
                        img(src="img/slide_preview_1.jpg" alt="")
                    .slider-preview__item__name= name
                        // status--offline for offline status
                        span.status.status--online
